{% load staticfiles %}
{% load thumbnail %}
{% load user_tags %}
{% load activeurl %}
{% load sass_tags %}
{% load common_tags %}

{% if request.user.is_contractor %}
    {% url 'users:contractor-profile' pk=request.user.pk as profile_url %}
{% elif request.user.is_customer %}
    {% url 'users:customer-profile-open-projects' pk=request.user.pk as profile_url %}
{% endif %}

<link rel='stylesheet' href='{% sass_src "partials/sass/header.sass" %}'>

<div class="wrTop {% if request.user.is_authenticated %} disTab {% endif %}">
    <div class="container-fluid topMain">
        <div class="row">
            <div style="float: left">
                <a href="/">
                    <div class="logo"></div>
                </a>
            </div>

            {% activeurl %}
                <div style="height: 100%; display: inline-block; text-align: center">
                    {% if request.user.is_authenticated %}

                        <ul class="mainMenu">
                            <li class="icon_tm1">
                                <a href="{% url 'projects:project-filter' %}">Поиск заказов</a>
                                <span></span>
                            </li>

                            {% if request.user.is_contractor %}
                                <li class="officeList icon_tml">
                                    <a href="{% url 'users:contractor-office' %}">
                                        Мой офис {% count_new_message_orders request.user %}
                                    </a>
                                    <span></span>
                                </li>
                                <li class="icon_tm3">
                                    <a href="{% url 'work_sell:filter' %}">Готовые проекты</a>
                                    <span></span>
                                </li>
                            {% endif %}

                            {% if request.user.is_customer %}
                                <li class="icon_tm2">
                                    <a href="{% url 'users:contractor-filter' %}">Поиск исполнителей</a>
                                    <span></span>
                                </li>
                                <li class="icon_tm3">
                                    <a href="{% url 'work_sell:filter' %}">Готовые проекты</a>
                                    <span></span>
                                </li>
                            {% endif %}
                        </ul>
                        <div style="clear: both"></div>
                    {% else %}
                        <ul class="mainMenu">
                            <li class="icon_tm1">
                                <a href="{% url 'projects:project-filter' %}">Поиск заказов</a>
                                <span></span>
                            </li>
                            <li class="icon_tm2">
                                <a href="{% url 'users:contractor-filter' %}">Поиск исполнителей</a>
                                <span></span>
                            </li>
                            <li class="icon_tm3">
                                <a href="{% url 'work_sell:filter' %}">Готовые проекты</a>
                                <span></span>
                            </li>
                        </ul>

                    {% endif %}
                </div>
            {% endactiveurl %}
            <div style="float: right">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_contractor %}
                        {% contractor_indicator request.user %}
                    {% endif %}

                    <div class="infoProfile disTab">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            </button>
                            <ul class="dropdown-menu menu-drop-new">
                                {% if request.user.is_contractor %}
                                    <li class="icon_mm1">
                                        <a href="{% url 'auth_login' %}">
                                            Войти заказчиком
                                            <span></span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="icon_mm2">
                                        <a href="{% url 'auth_login' %}">
                                            Войти исполнителем
                                            <span></span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="icon_mm8">
                                    <a href="{{ profile_url }}">
                                        Профиль<span></span>
                                    </a>
                                </li>
                                <li class="icon_chat">
                                    <a href="{% url 'chat:chat-user' %}">Сообщения<span></span></a>
                                    {% if request.user %}
                                        <div class="circle js-all-messages">{{ new_messages_count| max_count:99 }}</div>
                                        {#                                        {% count_new_message request.user %}#}
                                    {% endif %}
                                </li>
                                <li class="icon_mm4">
                                    <a href="{% url 'wallets:score-detail' pk=request.user.pk %}">Счет<span></span></a>
                                </li>
                                <li class="icon_mm5">
                                    <a href="{% url 'users:user-profile-edit' pk=request.user.pk %}">Настройки<span></span></a>
                                </li>

                                <li class="icon_mm6">
                                    <a href="/pages/faq">FAQ<span></span></a>
                                </li>
                                {% if request.user.is_contractor %}
                                    <li class="icon_mm2">
                                        <a href="{% url 'auth_logout' %}">Выйти<span></span></a>
                                    </li>
                                {% else %}
                                    <li class="icon_mm7">
                                        <a href="{% url 'auth_logout' %}">Выйти<span></span></a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                    <div class="imgProfile">
                        {% if request.user.is_contractor %}
                            <a href="{{ profile_url }}">
                                {% if request.user.avatar %}
                                    {% thumbnail request.user.avatar "75x75" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="profile-image">
                                    {% endthumbnail %}
                                {% else %}
                                    {% if request.user.gender == "female" %}
                                        <img src="{% static 'img/avatars/avatar-female.jpg' %}" alt="profile-image">
                                    {% else %}
                                        <img src="{% static 'img/avatars/avatar-male.jpg' %}" alt="profile-image">
                                    {% endif %}
                                {% endif %}
                            </a>
                        {% elif request.user.is_customer %}
                            <a href="{{ profile_url }}">
                                {% if request.user.avatar %}
                                    {% thumbnail request.user.avatar "75x75" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="profile-image">
                                    {% endthumbnail %}
                                {% else %}
                                    {% if request.user.gender == "female" %}
                                        <img src="{% static 'img/avatars/avatar-female.jpg' %}" alt="profile-image">
                                    {% else %}
                                        <img src="{% static 'img/avatars/avatar-male.jpg' %}" alt="profile-image">
                                    {% endif %}
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                    {% if request.user.is_contractor %}
                        <div class="user-info">
                            <a href="{% url 'wallets:score-detail' pk=request.user.pk %}"
                               class="cash">{{ user_balance|floatformat:2 }}р</a>
                            <a href="{% url 'chat:chat-user' %}#order{{ fist_order_id }}"
                               class="icon_hand">{{ num_orders_in_work }}</a>
                            <a href="{% url 'chat:chat-user' %}" class="icon_chat js-all-messages">
                                {{ new_messages_count| max_count:99 }}
                            </a>
                        </div>
                    {% endif %}

                {% else %}
                    <a href="{% url 'registration_register' %}" class="reg">Регистрация</a>
                    <a href="{% url 'auth_login' %}">
                        <div class="lock"></div>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
