{% extends 'partials/base.html' %}

{% block content %}

    <div class="container mainScore">
        <div class="row">
            <div class="col-lg-12">
                <p class="titleScore">Введите свой email</p>
            </div>
            <div class="form-regestration">
                <form method="post">
                    <input type="email" name="email">
                    <input type="submit" value="Send">
                </form>
            </div>

        </div>
    </div>

{% endblock %}
