<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрационные данные</title>
</head>
<body>

Вы успешно зарегистрировались на сайте <a href="http://proekton.com">proekton.com</a>
Ваши данные: <br>
Логин: {{ login }} <br>
Пароль: {{ password }}
</body>
</html>