{% extends 'partials/_base.html' %}
{% load sass_tags %}
{% load static %}
{% block personal_css %}
    <link rel='stylesheet' href='{% sass_src "sass/old_main.sass" %}'>
    <link rel='stylesheet' href='{% sass_src "sass/components/custom-components.sass" %}'>
    <link rel='stylesheet' href='{% sass_src "lib/proekton-components/sass/components.sass" %}'>
    <link rel='stylesheet' href='{% static "css/project_filter.css" %}'>
{% endblock %}

{% block content %}
    <div class="old-main">
        <div class="container mainScore ">
            <div class="row">
                <div class="col-lg-12 ">
                    <p class="titleScore">Поиск Исполнителей</p>
                </div>
                {% include 'partials/inc-contractors-filter.html' %}

                <div class="col-lg-12 ">
                    <div id="resultsBlock">
                        {% include 'partials/inc-contractors-results.html' %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block personal_js %}
    <script src='{% static "js/build/init_contractor_filter.js" %}'></script>
    <script src='{% static "js/build/contractor_filter.js" %}'></script>
{% endblock %}