{% extends 'partials/base.html' %}

{% load staticfiles %}
{% load project_tags %}
{% load specializtions_tags %}
{% load thumbnail %}


{% block content %}
    {% include 'partials/header.html' %}

    <div class="container mainScore">
        <div class="row">
            <div class="col-lg-12">
                <p class="titleScore">Личный кабинет</p>
            </div>

            {% include 'partials/contractor_profile_tabs.html' %}

            <div class="projectsBlock disTab">
                <!-- Tab2 chat order block -->
                <div class="chatBlock disTab tab-pane" id="tab2">
                    <div class="col-lg-3 wrMessages">
                        <div class="messageBlock box-sizing disTab">
                            <p>Заказы</p>
                            {% for order in orders %}
                                <div class="orderBlock box-sizing order-block" data-project-id="{{ order.project.id }}"
                                    id="orderBlock{{ order.id }}" data-recipent-id="{{ order.project.customer.pk }}" data-id="{{ order.id }}">
                                    <span class="dimovChat"></span>
                                    <p class="titleOB">{{ order }}</p>
                                    <div class="hideOBB">
                                        <p class="pOB"><span>Исполнитель:</span> {{ request.user.get_full_name }}</p>

                                        <a href="#" class="linkChat11 full-order-info">
                                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                            Полное описание заказа
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-6 commChat">
                        <div id="message-chat-order-space"></div>
                        <form id="chat-order-add">
                            <input type="hidden" id="orderId" name="orderId">
                            <input type="hidden" id="senderId" name="senderId" value="{{ request.user.pk }}">
                            <input type="hidden" id="recipentId" name="recipentId" value="">
                            <textarea id="chat" class="box-sizing"></textarea>
                            <p class="errorEmptyMessage" style="color: red;display:none;">Пустое сообщение нельзя отправить</p>
                            <div class="bunChat">
                                <div class="setChat box-sizing upload">
                                        <input type="file" name="file" id="upload-document-order">
                                        <p>Прикрепить файл</p>
                                </div>
                                <div id="document-send-order"></div>

                                <a href="#" id="order-chat-add-message">отправить</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 wrstepschat">
                        <p>Этапы работы</p>
                        <div class="stepssBlock box-sizing disTab">
                            <p class="titleStepss">1 / Согласование условий</p>
                            <p class="textStepss">
                                Обсуждение задания и условий выполнения работы.
                                Подтверждение заказа исполнителем.
                            </p>
                        </div>
                        <div id="order-stages"></div>

                        <div class="stepssBlock box-sizing disTab" id="reserveSpace" style="display:none;">
                            <p class="titleStepss">2 / Резервирование</p>
                            <p class="textStepss">
                                Резервирование заказчиком суммы оплаты по заказ.
                                Деньги перечисляются и хранятся на сайте.
                            </p>
                            <ul class="stages-paid"></ul>
                        </div>

                        <div class="stepssBlock box-sizing disTab" id="completeWork">
						    <p class="titleStepss">3 / Выполнение работы</p>
						    <p class="textStepss">
							    Процесс выполнения задания в заказе до получения
                                заказчиком итогового результата работы.
						    </p>
                            <div id="stagesWork" class="stages-work textAreaBlock2">

                            </div>
					    </div>


                        <div class="closeChat closeChat1" id="leaveReview" style="display: none;">
                            <a href="#" data-toggle="modal" data-target="#review-add">
                                Закрыть проект<br>и оставить отзыв
                            </a>
                        </div>

                        <!-- Review add -->
                        {% include 'review_add_modal.html' %}
                        <!-- -->
                        <!-- Arbitration add -->
                        {% include 'arbitration_modal.html' %}
                        <!-- -->
                        <div class="col-lg-12 documentsChat">
						    <p>Прикрепленные документы</p>
						    <ul id="documentOrderSpace"></ul>
						<a href="{% url 'common:create' %}">
							Распечатать с помощью ресурса
						</a>
					    </div>

                        <div class="textAreaBlock2 box-sizing disTab">
                            <ul class="order-notes-block">
                            </ul>
                            <p>Для заметок</p>
                            <form id="add-form-order-note">
                                <textarea id="chat2" name="text"></textarea>
                                <input type="hidden" name="order" id="orderNote" value="">
                                <input type="hidden" name="sender" id="senderNote" value="{{ request.user.pk }}">
                                <input type="hidden" name="recipent" id="recipentNote" value="">
                                <a href="#" id="add-note-button">сохранить</a>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End block Tab2-->
            {% include 'order_info.html' %}

            </div>
            <div class="fix-footer">
            {% include 'partials/footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}


{% block js_block %}
      <script type="text/javascript">
           var userId = {{ request.user.pk }};
           var domain = '{{ request.META.HTTP_HOST }}';
           var port = '{{ request.META.SERVER_PORT }}';

    </script>
    <script type="text/javascript" src='{% static "js/chat.js"  %}'></script>
    <script type="text/javascript" src='{% static "js/chat_contractor.js"  %}'></script>
{% endblock %}
