{% extends 'partials/base.html' %}

{% load project_tags %}
{% load specializtions_tags %}
{% load thumbnail %}


{% block content %}
    {% include 'partials/header.html' %}

    <div class="container mainScore" >
		<div class="row">
			<div class="col-lg-12">
				<p class="titleScore">Личный кабинет</p>
			</div>
			
			{% include 'partials/contractor_profile_tabs.html' %}
			
			<div class="buttonGP disTab">
				<div class="btn-group valProject2" role="group">
  					<a href="#" data-param-name="owner" data-default onclick="return false" class="btn btn-default -nav">Все</a>
  					<a href="#" data-param-name="owner" data-param-val="private" onclick="return false" class="btn btn-default -nav">Личные</a>
  					<a href="#" data-param-name="owner" data-param-val="teams" onclick="return false" class="btn btn-default -nav">От имени группы</a>
				</div>
				
				<div class="btn-group valProject2" role="group">
  					<a href="#" data-param-name="archived" data-default onclick="return false" class="btn btn-default -nav">
  						Открытые проекты
						<span><mark>{{ open_project_count }}</mark><!-- / <span>0</span>--></span>
  					</a>
  					
  					<a href="#" data-param-name="archived" data-param-val="on" onclick="return false" class="btn btn-default -nav">
  						Архив
  						<span><mark></mark><span>{{ archived_project_count }}</span></span>
  					</a>
				</div>
			</div>
			
			<div class="projectsBlock disTab">
                {% for project in projects %}
                    <div class="projectPro clearfix">
                        <div class="col-lg-9 leftPro">
                            <a href="{% url 'projects:detail' project.pk %}">
                                <p class="titlePro">{{ project.name }}</p>
                            </a>
                            
                            {% if project.realty and project.realty.name %}
                                <ul class="desPro">
                                    <li>Объект "{{ project.realty.name }}"</li>
                                </ul>
                            {% endif %}
                            
                            <p class="textPro">{{ project.text|linebreaksbr|truncatechars:300 }}</p>
                            
                            {% if TEMPLATE_DEBUG %}
                                <pre><!--
                                    --><b>State:</b> {{ project.state }}<br><!--
                                    --><br><!--
                                    --><b>Specialization:</b> {{ project.specialization }}<br><!--
                                    --><br><!--
                                    --><b>Answer author:</b> {{ project|get_answer:contractor }}<br><!--
                                    --><br><!--
                                    --><b>Realty location:</b> {{ project.realty.location }}<br><!--
                                    --><br><!--
                                    --><b>Constr. type:</b> {{ project.realty.construction_type }}<br><!--
                                    --><br><!--
                                    --><b>Build. classif.:</b> {{ project.realty.building_classification }}<br><!--
                                --></pre>
                            {% endif %}
                            
                            <ul class="listPro">
                                <li>{{ project.created }}</li>
                                <li>{{ project.hit_count.hits }}</li>
                                <li>{{ project.answers.count }}</li>
                                <li>{{ project.customer.username }}</li>
                            </ul>
                        </div>
                        
                        <div class="col-lg-3 rightPro">
                            <p class="cenaPro">
                                {{ project.budget }} <i class="{% fa_currency_classes project.currency %}"></i>
                            </p>
                            
                            <ul>
                                {% if proj.secure_deal %}
                                    <li>Безопасная сделка</li>
                                {% endif %}

                                <li>
                                    {{ project.specialization.name }}
                                </li>
                                
                                <li class="-hide-if-archived" style="display: none">
                                    <form action="{% url 'projects:reject-project-answer' pk=project|get_answer:contractor|pk %}" method="POST" novalidate>
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        
                                        <a href="#" onclick="$(this).closest('form').submit(); return false" title="{{ project|get_answer:contractor|pk }}">
                                            Отказаться и переместить в архив
                                        </a>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
			</div>
            <div class="fix-footer">
            {% include 'partials/footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js_block %}
    <script>
        (function() {
            var $navLinks = $('a.-nav')
            var urlObj = new URI(window.location.href)
            var query = urlObj.query(true)
            
            $('[data-default]').addClass('_defaultActive')
            
            $navLinks.each(function(i, link) {
                var $link = $(link)
                
                var paramName = $link.data('paramName')
                var paramVal = $link.data('paramVal')
                
                if (query[paramName] === paramVal) {
                    $link.addClass('active')
                    $('[data-param-name="' + paramName + '"][data-default]').removeClass('_defaultActive')
                }
            })
            
            $navLinks.filter('._defaultActive').addClass('active')
            
            $navLinks.on('click', function($evt) {
                var $link = $(this)
                
                var paramName = $link.data('paramName')
                var paramVal = $link.data('paramVal')
                
                paramVal ? urlObj.setQuery(paramName, paramVal) : urlObj.removeQuery(paramName)
                window.location.href = urlObj.href()
            })
            
            //---------------------------------------------------
            
            if (query.archived !== 'on')
                $('.-hide-if-archived').css('display', 'block')
        }())
    </script>
{% endblock %}
