{% extends 'partials/_base.html' %}
{% load staticfiles %}
{% load sass_tags %}

{% block personal_css %}
    <link rel='stylesheet' href='{% sass_src "sass/customer-profile.sass" %}'>
    <link rel='stylesheet' href='{% sass_src "sass/old_main.sass" %}'>
    <link rel='stylesheet' href='{% sass_src "sass/components/custom-components.sass" %}'>

    {#  Для модального окна "mod-realty-edit"  #}
    <link rel='stylesheet' href='{% sass_src "lib/proekton-components/sass/components.sass" %}'>
{% endblock %}

{% block content %}
    {% include 'partials/modals/mod-realty-edit.html' %}
    {% include 'partials/modals/mod-customer-contacts.html' %}
    <div class="container main-scope">
        <div class="row main-content">
            <div class="col-lg-12">
                {% include 'partials/inc-customer_profile-info.html' %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-content">
                            <div id="objects" class="tab-pane fade {% if request.user == customer %}in active{% endif %}">
                                {% include 'partials/tabs/tab-objects.html' %}
                            </div>
                            <div id="open_projects" class="tab-pane fade {% if request.user != customer %}in active{% endif %}">
                                {% include 'partials/tabs/tab-open_projects.html' %}
                            </div>
                            <div id="in_work_projects" class="tab-pane fade">
                                {% include 'partials/tabs/tab-in_work_projects.html' %}
                            </div>
                            <div id="rewiews" class="tab-pane fade">
                                {% include 'partials/tabs/tab-rewiews.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block personal_js %}
    <script src="{% static 'js/build/customer_profile.js' %}"></script>
    {#  Для модального окна "mod-realty-edit"  #}
    <script src='{% static "js/build/init_modal_realty_edit.js"%}'></script>
{% endblock %}