{% load common_tags %}
{% load i18n %}

<div class="modal-body">
    <form method="post" id="portfolio-add-form" class="-spec-work-type-combo-container">
        {% csrf_token %}
        
        <div class="textAreaBlock2 text-nn box-sizing disTab">
            <p>Название<span style="color: red; margin-left:8px; font-size: 12px;"
                             class="error-{{ portfolio_form.name.html_name }}">{{ portfolio_form.name.errors.as_text }}</span>
            </p>
            <input type="text" class="box-sizing" name="{{ portfolio_form.name.html_name }}"
                   value="{{ portfolio_form.name.value }}">
        </div>

        <div class="textAreaBlock2 text-nn box-sizing disTab">
            <p>Описание<span style="color: red; margin-left:8px; font-size: 12px;"
                             class="error-{{ portfolio_form.description.html_name }}">{{ portfolio_form.description.errors.as_text }}</span>
            </p>
            <textarea name="{{ portfolio_form.description.html_name }}"
                      id="text-new">{{ portfolio_form.description.value }}</textarea>
        </div>
        
        <div class="textAreaBlock2 text-nn box-sizing disTab">
            <p>{% trans 'project_stage0' %}</p>
         </div>
        <div class="polsF1 disTab">
            <div class="col-lg-4">
                {{ portfolio_form.work_type }}
            </div>
        </div>

        <div class="textAreaBlock2 text-nn box-sizing disTab">
        </div>
        
        <div class="col-lg-3 -single-spec-select">
            <div class="-bold">{% trans 'project_stage1' %} <span style="color: red">{{ portfolio_form.specialization.errors.as_text }}</span></div>
            <input type='hidden' class="-spec-select -spec-select-level-1" style="width: 100%">
        </div>

        <div class="col-lg-3 -single-spec-select">
            <div class="-bold"><span class="-dynamic-label">{% trans 'project_stage2' %}</span></div>
            <input type='hidden' class="-spec-select -spec-select-level-2" style="width: 100%">
        </div>

        <div class="col-lg-3 -single-spec-select">
            <div class="-bold">{% trans 'project_stage3' %}</div>
            <input type='hidden' class="-spec-select -spec-select-level-3" style="width: 100%">
        </div>

        <div class="col-lg-3 -single-spec-select">
            <div class="-bold">{% trans 'project_stage4' %}</div>
            <input type='hidden' class="-spec-select -spec-select-level-4" style="width: 100%">
        </div>
        
        <input
            type="hidden"
            name="{{ portfolio_form.specialization.html_name }}"
            value="{{ portfolio_form.specialization.value }}"
            class="-chosen-spec-id">

        <div class="textAreaBlock2 polsF1 text-nn box-sizing disTab">
            <p>Бюджет{{ portfolio_form.budget.errors.as_text }}</p>
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" class="box-sizing" name="{{ portfolio_form.budget.html_name }}"
                           value="{{ portfolio_form.budget.value }}">
                </div>
                <div class="col-lg-3">
                    {{ portfolio_form.currency }}
                </div>
            </div>
        </div>

        <div class="textAreaBlock2 polsF1 text-nn box-sizing disTab">
            <p>Срок выполнения{{ portfolio_form.budget.errors.as_text }}</p>
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" class="box-sizing" name="{{ portfolio_form.budget.html_name }}"
                           value="{{ portfolio_form.budget.value }}">
                </div>
                <div class="col-lg-3">
                    {{ portfolio_form.term_type }}
                </div>
            </div>
        </div>
        <div class="textAreaBlock2 polsF1text-nn box-sizing disTab"></div>

        <div class="textAreaBlock2 polsF1 text-nn box-sizing disTab" id="modal_type_build">
            <p>Вид строительства</p>
            <div class="row">
                <div class="col-lg-6">
                    {{ portfolio_form.construction_type }}
                </div>
            </div>
        </div>

        <div class="textAreaBlock2 polsF1 text-nn box-sizing disTab">
            <p>Классификация здания</p>
            <div class="row">
                <div class="col-lg-6">
                    {{ portfolio_form.building_classification }}
                </div>
            </div>
        </div>

        <div class="extAreaBlock2 polsF1 text-nn box-sizing disTab">
            <p></p>
            <div class="row">
                <div class="make-new">

                    <label style="margin-left: 0;">{{ portfolio_form.duplicate }}<span></span></label>
                    <p>Дублировать проект в готовые работы</p>
                </div>

                <input type="hidden" name="{{ portfolio_form.user.html_name }}" value="{{ request.user.pk }}"/>
                <input type="hidden" name="{{ portfolio_form.images_ids.html_name }}" id="upload-files-pk"/>
            </div>
        </div>


        <!-- The fileinput-button span is used to style the file input field as button -->

        <div class="textAreaBlock2 polsF1 text-nn box-sizing disTab" style="margin-bottom: 12px;">
            <span style="color: red; margin-left:8px; font-size: 12px;"
                             class="error-{{ portfolio_form.images_ids.html_name }}">{{ portfolio_form.images_ids.errors.as_text }}</span>
        <span class="btn btn-success fileinput-button add_file_to_port">
            <span>Выберите файлы</span>
            <input id="fileupload" type="file" name="file" multiple value="">
        </span>
        </div>

        <br>
        <br>
        <!-- The global progress bar -->
        <div id="progress-portfolio" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <!-- The container for the uploaded files -->
        <div id="files" class="files"></div>
        <br>

        <!-- The global progress bar -->
        <div class="textAreaBlock2 polsF1 text-nn box-sizing disTab">
            <div id="progress-portfolio" class="progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>
        </div>
        <!-- The container for the uploaded files -->
        <div class="textAreaBlock2 polsF1 text-nn box-sizing disTab">
            <div id="files" class="files"></div>
        </div>
        <div class="textAreaBlock2 polsF1 text-nn box-sizing disTab">
            <input class="btn-submit-link add_file_to_port" type="submit" value="Разместить портфолио">
        </div>
    </form>
</div>

<div class="modal-footer">
</div>
