{% extends 'partials/base.html' %}

{% block content %}
    {% include 'partials/header.html' %}
    
	<div class="container mainScore mainBlock2">
		<div class="row">
			{% include 'partials/customer_profile_info_block.html' %}
			
			<h1>Hello there</h1>
			
			{% include 'partials/footer.html' %}
        </div>
    </div>
{% endblock %}
