{% extends 'partials/base.html' %}
{% load thumbnail %}

{% block content %}
    <div class="titleBlockComparison disTab">
				<div class="triangle1"></div>
				<p>Дизайн интерьера квартиры 200m2</p>
				<table class="compTable">
					<tbody><tr>
						<th>№</th>
						<th></th>
						<th></th>
					</tr>
                    {% for user in users %}
					<tr>
						<td>{{ forloop.counter }}</td>
                        <td>
                        {% thumbnail user.avatar "200x200" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                        </td>
						<td>
							{{ user.get_full_name }}
						</td>
					</tr>
                    {% endfor %}
				</tbody></table>
			</div>
{% endblock %}
