{% extends 'partials/base.html' %}


{% block content %}
    <h2>Исполнители</h2>
    {% for perf in performers %}
        <h1>{{ perf }}</h1>
    {% endfor %}

    <h2>Заказчики</h2>
    {% for cust in customers %}
        <h1>{{ cust }}</h1>
    {% endfor %}

{% endblock %}
