{% extends 'partials/base.html' %}

{% load thumbnail %}


{% block head_css %}
    <style>
        .-live-image-avatar-upload-container .-position-relative-parent {position: relative}

        .-live-image-avatar-upload-container .-live-image-delete {
            position: absolute;
            top: 0;
            right: 0;
            background-color: white;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'partials/header.html' %}

    <div class="container mainScore">
        <div class="row">
            <form action="{% url 'users:user-financial-info-edit' pk=pk %}" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                {% if request.user.is_customer %}
                    <input type="hidden" name="next" value="{% url 'users:customer-profile' pk=pk %}">
                {% elif request.user.is_contractor %}
                    <input type="hidden" name="next" value="{% url 'users:contractor-profile' pk=pk %}">
                {% endif %}

                <div class="projectsBlock disTab">
                    <div class="col-lg-12">
                        <div class="col-lg-3 divCol3 -live-image-avatar-upload-container">
                            <div class="avatar">
                                <div class="avatarInset -position-relative-parent">
                                    <a href="#" onclick="return false" class="btn close -live-image-delete" style="display: none">&times;</a>

                                    {% if request.user.avatar %}
                                        {% thumbnail request.user.avatar "235x224" crop="center" as avatar %}
                                            <img src="{{ avatar.url }}" alt="profile-image" class="-avatar-image">
                                        {% endthumbnail %}
                                    {% else %}
                                        {% if request.user.gender == "female" %}
                                            <img src="{% static 'img/avatars/avatar-female.jpg' %}" alt="profile-image">
                                        {% else %}
                                            <img src="{% static 'img/avatars/avatar-male.jpg' %}" alt="profile-image">
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="menuUser upload-img disTab">
                                <div class="upload2 up-l1">
                                    <input type="file" name="image" class="-live-image-upload">

                                    <p>Загрузить фотографию</p>
                                </div>
                            </div>

                            <div {% if not TESTING %}style="display: none"{% endif %}>
                                <input type="text" name="live_image" class="-live-image-id">
                            </div>
                        </div>

                        <div class="col-lg-9 divCol9">
                            <div class="col-lg-4">
                                <p class="name-edit-p">ФИО</p>

                                <input type="text" value="{{ form.last_name.value }}" name="{{ form.last_name.html_name }}" class="box-sizing inp-edit">
                                <input type="text" value="{{ form.first_name.value }}" name="{{ form.first_name.html_name }}" class="box-sizing inp-edit">
                                <input type="text" value="{{ form.patronym.value }}" name="{{ form.patronym.html_name }}" class="box-sizing inp-edit">
                            </div>

                            {% if request.user.is_contractor %}
                                <div class="col-lg-4">
                                    <p class="name-edit-p">Специализации</p>

                                    <div id="simpleSpecContainer">
                                        <div class="polsF1 pols-edit disTab -simple-spec-widget" style="display: none">
                                            <input type="hidden" class="-simple-spec-select" style="width: 100%">
                                            <input type="hidden" class="-chosen-simple-spec-id" name="{{ form.contractor_specializations.html_name }}">
                                        </div>

                                        {% for spec_id in form.contractor_specializations.value %}
                                            <div class="polsF1 pols-edit disTab -simple-spec-widget">
                                                <input type="hidden" class="-simple-spec-select" style="width: 100%">
                                                <input type="hidden" class="-chosen-simple-spec-id" name="{{ form.contractor_specializations.html_name }}" value="{{ spec_id }}">
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <a href="#" onclick="return false" class="add-edit" id="addSpec">
                                        Добавить еще
                                    </a>
                                </div>
                            {% endif %}

                            <div class="col-lg-4">
                                <p class="name-edit-p">Местоположение</p>

                                <div class="polsF1 pols-edit disTab">
                                    <div><input type="hidden" class="-location-select -location-select-country" style="width: 100%"></div>
                                    <div><input type="hidden" class="-location-select -location-select-region" style="width: 100%"></div>
                                    <div><input type="hidden" class="-location-select -location-select-city" style="width: 100%"></div>

                                    <input type="hidden" id="chosenLocationId" name="{{ form.location.html_name }}" value="{{ form.location.value }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="buttonGP btn-edit disTab">
                    <div class="btn-group valProject valProject2" role="group">
                        <a href="{% url 'users:user-profile-edit' pk=pk %}" class="btn btn-default">Общая информация</a>
                        <a href="{% url 'users:user-financial-info-edit' pk=pk %}" class="btn btn-default active">Финансовая информация</a>
                        {% if request.user.is_contractor %}
                          <a href="{% url 'users:user-experience-edit' pk=pk %}" class="btn btn-default">Опыт</a>
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-12 col12 new-filter">
                    <div class="filter clearfix">
                        <div class="titleF1 disTab">
                            <div class="col-lg-6">Имя, Фамилия, Отчество <span style="color: red">{{ fin_info_form.fio.errors.as_text }}</span></div>
                            <div class="col-lg-3">Дата рождения <span style="color: red">{{ fin_info_form.date_of_birth.errors.as_text }}</span></div>
                            <div class="col-lg-3">Телефон <span style="color: red">{{ fin_info_form.phone.errors.as_text }}</span></div>
                        </div>

                        <div class="polsF1 disTab">
                            <div class="col-lg-6">
                                <input type="text" class="searchInp box-sizing" value="{{ fin_info_form.fio.value }}" name="{{ fin_info_form.fio.html_name }}">
                            </div>
                            <div class="col-lg-3">
                                <input type="text" class="box-sizing surr surr2 datepicker" value="{{ fin_info_form.date_of_birth.value|date:"d.m.Y" }}" name="{{ fin_info_form.date_of_birth.html_name }}">
                            </div>
                            <div class="col-lg-3">
                                <input type="text" class="box-sizing surr surr2" value="{{ fin_info_form.phone.value }}" name="{{ fin_info_form.phone.html_name }}">
                            </div>
                        </div>

                        <div class="titleF1 titleFFE disTab">
                            <div class="col-lg-12">Резиденство <span style="color: red">{{ fin_info_form.residency.errors.as_text }}</span></div>
                        </div>

                        <div class="searchF1 polsF1 polsFF radio-afer">
                            {% for residency in fin_info_form.residency %}
                                <div class="col-lg-3">
                                    <label><input type="radio" value="{{ residency.choice_value }}" name="{{ fin_info_form.residency.html_name }}" {% if residency.choice_value|stringformat:"s" == fin_info_form.instance.residency|stringformat:"s" %}checked{% endif %}><span></span></label>
                                    <p class="text-afer">
                                       {{ residency.choice_label }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="titleF1 titleFFE disTab">
                            <div class="col-lg-12">Юридический статус <span style="color: red">{{ fin_info_form.legal_status.errors.as_text }}</span></div>
                        </div>

                        <div class="searchF1 polsF1 polsFF radio-afer new-doubt">
                            {% for lstatus in fin_info_form.legal_status %}
                                <div class="col-lg-3">
                                    <label><input value="{{ lstatus.choice_value }}" type="radio" name="{{ fin_info_form.legal_status.html_name }}" {% if lstatus.choice_value|stringformat:"s" == fin_info_form.instance.legal_status|stringformat:"s" %}checked{% endif %}><span></span></label>
                                    <p class="text-afer">
                                        {{ lstatus.choice_label }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="titleF1 disTab">
                            <div class="col-lg-6">
                                Серия и номер паспорта
                                <span style="color: red">{{ fin_info_form.passport_series.errors.as_text }}</span>
                                <span style="color: red">{{ fin_info_form.passport_number.errors.as_text }}</span>
                            </div>

                            <div class="col-lg-3">Код подразделения <span style="color: red">{{ fin_info_form.subdivision_code.errors.as_text }}</span></div>
                            <div class="col-lg-3">Дата выдачи <span style="color: red">{{ fin_info_form.passport_issue_date.errors.as_text }}</span></div>
                        </div>

                        <div class="polsF1 disTab new-doubt">
                            <div class="col-lg-3">
                                <input type="text" value="{{ fin_info_form.passport_series.value }}" class="box-sizing surr surr2" name="{{ fin_info_form.passport_series.html_name }}" placeholder="КН">
                            </div>
                            <div class="col-lg-3">
                                <input type="text" value="{{ fin_info_form.passport_number.value }}" class="box-sizing surr surr2" name="{{ fin_info_form.passport_number.html_name }}" placeholder="0099321">
                            </div>
                            <div class="col-lg-3">
                                <input type="text" value="{{ fin_info_form.subdivision_code.value }}" class="box-sizing surr surr2" placeholder="0033" name="{{ fin_info_form.subdivision_code.html_name }}">
                            </div>
                            <div class="col-lg-3">
                                <input type="text" value="{{ fin_info_form.passport_issue_date.value|date:"d.m.Y" }}" name="{{ fin_info_form.passport_issue_date.html_name }}" class="box-sizing surr surr2 datepicker" placeholder="11.12.1994">
                            </div>
                        </div>

                        <div class="titleF1 disTab">
                            <div class="col-lg-12">Кем выдан <span style="color: red">{{ fin_info_form.passport_issued_by.errors.as_text }}</span></div>
                        </div>

                        <div class="polsF1 disTab new-doubt">
                            <div class="col-lg-12">
                                <input type="text" value="{{ fin_info_form.passport_issued_by.value }}" class="searchInp box-sizing" name="{{ fin_info_form.passport_issued_by.html_name }}">
                            </div>
                        </div>

                        <div class="titleF1 disTab">
                            <div class="col-lg-12">Почтовый адрес <span style="color: red">{{ fin_info_form.address.errors.as_text }}</span></div>
                        </div>

                        <div class="polsF1 disTab new-doubt">
                            <div class="col-lg-12">
                                <input type="text" value="{{ fin_info_form.address.value }}" class="searchInp box-sizing" name="{{ fin_info_form.address.html_name }}">
                            </div>
                        </div>

                        <div class="titleF1 disTab">
                            <div class="col-lg-3">ИНН <span style="color: red">{{ fin_info_form.inn.errors.as_text }}</span></div>
                            <div class="col-lg-3">Яндекс.Деньги <span style="color: red">{{ fin_info_form.yandex_money.errors.as_text }}</span></div>
                            <div class="col-lg-3">Номер карты <span style="color: red">{{ fin_info_form.credit_card_number.errors.as_text }}</span></div>
                            <div class="col-lg-3">Скан-копии страниц паспорта <span style="color: red">{{ fin_info_form.passport_scan.errors.as_text }}</span></div>
                        </div>

                        <div class="polsF1 disTab new-doubt">
                            <div class="col-lg-3">
                                <input type="text" value="{{ fin_info_form.inn.value }}" class="box-sizing surr surr2" name="{{ fin_info_form.inn.html_name }}">
                            </div>
                            <div class="col-lg-3">
                                <input type="text" value="{{ fin_info_form.yandex_money.value }}" class="box-sizing surr surr2" name="{{ fin_info_form.yandex_money.html_name }}">
                            </div>
                            <div class="col-lg-3">
                                <input type="text" value="{{ fin_info_form.credit_card_number.value }}" class="box-sizing surr surr2" name="{{ fin_info_form.credit_card_number.html_name }}">
                            </div>
                            <div class="col-lg-3">
                                {% if fin_info_form.passport_scan.value %}
{#                                  {{ fin_info_form.passport_scan.value }}#}
                                  Скан-копия загружена
                                {% endif %}

                                <div class="upload2 up-l1 take-new">
                                    <input type="file" name="{{ fin_info_form.passport_scan.html_name }}">
                                    <p>Прикрепить файл</p>
                                </div>
                            </div>
                        </div>

                        <div class="searchF1 polsF1 polsFF links-filter">
                            <input class="btn-submit-link" type="submit" value="Сохранить">
                        </div>
                    </div>
                </div>
            </form>

            {% include 'partials/footer.html' %}
        </div>
    </div>
{% endblock %}
