{% load common_tags %}
{% load i18n %}

<div class="modal-body">
    <form method="post" id="worksell-add-form" class="-spec-work-type-combo-container">
        {% csrf_token %}

        <div class="textAreaBlock2 text-nn box-sizing disTab">
            <p>Название заказа <span style="color: red" class="error-{{ worksell_form.name.html_name }}">{{ worksell_form.name.errors.as_text }}</span></p>
            <input type="text" class="box-sizing" name="{{ worksell_form.name.html_name }}"
                   value="{{ worksell_form.name.value }}">
        </div>

        <div class="textAreaBlock2 text-nn box-sizing disTab">
            <p>Подробно опишите задание <span style="color: red" class="error-{{ worksell_form.description.html_name }}">{{ worksell_form.description.errors.as_text }}</span></p>
            <textarea name="{{ worksell_form.description.html_name }}" id="text-new">{{ worksell_form.description.value }}</textarea>
        </div>
        
        <div class="textAreaBlock2 text-nn box-sizing disTab">
            <p>{% trans 'project_stage0' %}</p>
         </div>
        <div class="polsF1 disTab">
            <div class="col-lg-4">
                {{ worksell_form.work_type }}
            </div>
        </div>

        <div class="textAreaBlock2 text-nn box-sizing disTab">
         </div>
        
        <div class="col-lg-3 -single-spec-select">
            <div class="-bold">{% trans 'project_stage1' %} <span style="color: red">{{ worksell_form.specialization.errors.as_text }}</span></div>
            <input type='hidden' class="-spec-select -spec-select-level-1" style="width: 100%">
        </div>

        <div class="col-lg-3 -single-spec-select">
            <div class="-bold"><span class="-dynamic-label">{% trans 'project_stage2' %}</span></div>
            <input type='hidden' class="-spec-select -spec-select-level-2" style="width: 100%">
        </div>

        <div class="col-lg-3 -single-spec-select">
            <div class="-bold">{% trans 'project_stage3' %}</div>
            <input type='hidden' class="-spec-select -spec-select-level-3" style="width: 100%">
        </div>

        <div class="col-lg-3 -single-spec-select">
            <div class="-bold">{% trans 'project_stage4' %}</div>
            <input type='hidden' class="-spec-select -spec-select-level-4" style="width: 100%">
        </div>

        <input
            type="hidden"
            class="-chosen-spec-id"
            name="{{ worksell_form.specialization.html_name }}"
            value="{{ worksell_form.specialization.value }}">

        <div class="textAreaBlock2 polsF1 text-nn box-sizing disTab">
           <p>Бюджет{{ worksell_form.budget.errors.as_text }}</p>
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" class="box-sizing" name="{{ worksell_form.budget.html_name }}" value="{{ worksell_form.budget.value }}">
                </div>
                <div class="col-lg-3">
                    {{ worksell_form.currency}}
                </div>
            </div>
       </div>

        <div class="textAreaBlock2 polsF1 text-nn box-sizing disTab">
           <p>Срок выполнения{{ worksell_form.budget.errors.as_text }}</p>
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" class="box-sizing" name="{{ worksell_form.term.html_name }}" value="{{ worksell_form.term.value }}">
                </div>
                <div class="col-lg-3">
                    {{ worksell_form.term_type }}
                </div>
            </div>
       </div>

        <div class="textAreaBlock2 polsF1 text-nn box-sizing disTab">
            <p>Вид строительства</p>
            <div class="row">
                <div class="col-lg-6">
           {{ worksell_form.construction_type}}
                </div>
            </div>
       </div>

        <div class="textAreaBlock2 polsF1 text-nn box-sizing disTab">
           <p>Классификация здания</p>
            <div class="row">
                <div class="col-lg-6">
           {{ worksell_form.building_classification}}
                </div>
            </div>
       </div>

        <div class="polsF1 disTab">
            <input type="hidden" name="{{ worksell_form.contractor.html_name }}" value="{{ request.user.pk }}" >
        </div>

        <div class="polsF1 disTab">
              <input type="hidden" name="images-ids" id="upload-files-worksell-pk"  >

        </div>

    <!-- The fileinput-button span is used to style the file input field as button -->
    <div class="textAreaBlock2 polsF1 text-nn box-sizing disTab" style="margin-bottom: 12px;">
        <span class="btn btn-success fileinput-button add_file_to_port">
            <span>Выберите файлы</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload-worksell" type="file" name="file" multiple>
        </span>
    </div>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress-worksell" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files-worksell" class="files"></div>
    <br>

        <div class="polsFF links-filter">
            <input class="btn-submit-link" type="submit" value="Разместить проект">
        </div>

    </form>
</div>

<div class="modal-footer">
</div>
