.rad {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.rad > input { /* HIDE ORG RADIO & CHECKBOX */
    visibility: hidden;
    position: absolute;
}

/* RADIO & CHECKBOX STYLES */
.rad > i { /* DEFAULT <i> STYLE */
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: 0.2s;
    box-shadow: inset 0 0 0 16px #fff;
    border: 1px solid #cccccc;
    background: #cccccc;
    margin-right: 5px;
}

/* CHECKBOX OVERWRITE STYLES */
.rad:hover > i { /* HOVER <i> STYLE */
    box-shadow: inset 0 0 0 3px #fff;
    background: #cccccc;
}

.rad > input:checked + i { /* (RADIO CHECKED) <i> STYLE */
    box-shadow: inset 0 0 0 3px #fff;
    background: #cccccc;
}

label.rad {
    font-style: italic;
    color: #606060;
}