<!--href, document_id, text  -->
<li style="word-break: break-all;">
    <a class="file-link" href="${this.href} ">${this.text}</a>
    <div class="remove-document" data-id="${this.document_id}" style="right:-10px;"></div>
</li>