<!-- this {text: '...', file: {...} -->
<div style="float: left">
    <a href="/chat/download/${this.file.name}" class="send-doc" data-id="${this.file.id}"> ${this.file.name} </a>
    <div class="remove-document" data-id="${this.file.id}"
         style="right:-10px;float:left;position: static;"></div>
</div>
<div style="clear: both"></div>;