{% extends 'partials/base.html' %}

{% block content %}
  {% include 'partials/header.html' %}
  <div class="container mainScore">
    <div class="row">
      <div class="col-lg-12">
        <p class="titleScore">Вход на сайт</p>
      </div>
      <div class="form-regestration">

        <form method="post">{% csrf_token %}
          {{ form.non_field_errors }}
          <div class="col-lg-12 select-reg">
            <input type="text" name="{{ form.username.name }}" value="{{ form.username.value }}"
                   class="box-sizing email-reg"
                   placeholder="Электронная почта">
            {{ form.username.errors }}
          </div>
          <div class="col-lg-12 select-reg">
            <input type="password" name="{{ form.password.name }}" value="{{ form.password.value }}"
                   class="box-sizing pass-reg" placeholder="Пароль">
            {{ form.password.errors }}
          </div>
          <div class="col-lg-12 select-reg">
            <div class="check-reg">
              <label><input type="checkbox" name="check-reg"><span></span></label>
              <p style="width: 35%;margin-top: 2px;">Запомнить</p>
              <p style="width: 50%;float: right;text-align: right;margin-top: 2px;"><a
                  href="{% url 'password_reset_recover' %}">Забыли пароль ?</a></p>
            </div>
          </div>

          {% include 'registration/social.html' %}

          <div class="col-lg-12 select-reg">
            <button class="reg-sub">Вход</button>
          </div>

        </form>

      </div>
      {% include 'partials/footer.html' %}
    </div>
  </div>

{% endblock %}

