{% extends 'partials/base.html' %}

{% block content %}
    {% include 'partials/header.html' %}
    <div class="container mainScore">
        <div class="row">
            <div class="col-lg-12">
                <p class="titleScore">Вы вышли</p>
            </div>

            {% include 'partials/footer.html' %}
        </div>
    </div>

{% endblock %}
