{% extends 'partials/base.html' %}

{% block content %}
    {% include 'partials/header.html' %}
    <div class="container mainScore">
    <div class="row">

            <div class="col-lg-12">
                <p class="titleScore">Регистрация прошла успешно</p>
                <p style="text-align: center;">Вам необходимо активировать этот аккаунт. Перейдите по ссылке в письме,
                    которое вам отправлено на почту
                </p>
            </div>
            {% include 'partials/footer.html' %}

    </div>
    </div>

{% endblock %}
