{% extends 'partials/_base.html' %}
{% load sass_tags %}
{% load static %}
{% block personal_css %}
    <link rel='stylesheet' href='{% sass_src "sass/old_main.sass" %}'>
    <link rel='stylesheet' href='{% sass_src "lib/proekton-components/sass/components.sass" %}'>
    <link rel='stylesheet' href='{% sass_src "sass/components/custom-components.sass" %}'>
{% endblock %}
{% block content %}
    <div class="container main-scope">
        <div class="row">
            <div class="col-lg-12">
                <div class="row title-scope" style="border-bottom: none">
                    <div class="col-lg-12">
                        <p>
                            Регистрация
                        </p>

                    </div>

                </div>
                {% include 'partials/inc-registration_form.html' %}
            </div>
        </div>
        <ul id="popups-storage" hidden>
            {#       <li class="error">Форма заполнена неполностью</li>#}
            {#       <li class="info">Message-1</li>#}
            {#       <li class="warning">Message-1</li>#}
        </ul>
        {% include 'partials/inc-message-popup.html' %}
    </div>
{% endblock %}
{% block personal_js %}
    <script src='{% static "js/build/custom_components.js" %}'></script>
    <script src='{% static "js/build/registration.js" %}'></script>
{% endblock %}