{% load static %}
<div class="col-lg-12" style="margin-top: 25px;">
  <div class="col-xs-12 text-center">
    <div class="btn-group" role="group">

      <div class="pull-left -social -fb">
        <a href="{% url 'social:begin' 'facebook' %}?user_type={% if request.GET.type == 'customer' %}Заказчики{% else %}Исполнители{% endif %}">
          <img src="{% static 'img/social/fb.png' %}" alt="fb">
        </a>
      </div>

      <div class="pull-left -social -tw">
        <a href="{% url 'social:begin' 'twitter' %}?user_type={% if request.GET.type == 'customer' %}Заказчики{% else %}Исполнители{% endif %}">
          <img src="{% static 'img/social/tw.png' %}" alt="tw">
        </a>
      </div>

      <div class="pull-left -social -gplus">
        <a href="{% url 'social:begin' 'google-oauth2' %}">
          <img src="{% static 'img/social/gplus.png' %}" alt="gplus">
        </a>
      </div>

      <div class="pull-left -social -vk">
        <a href="{% url 'social:begin' 'vk-oauth2' %}">
          <img src="{% static 'img/social/vk.png' %}" alt="vk">
        </a>
      </div>

      <div class="pull-left -social -ok">
        <a href="{% url 'social:begin' 'odnoklassniki-oauth2' %}">
          <img src="{% static 'img/social/ok.gif' %}" alt="yt">
        </a>
      </div>

    </div>
  </div>
</div>