<!DOCTYPE html>
{% load staticfiles %}
{% load sass_tags %}
{#{% load compress %}#}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge, chrome=1'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--<meta name='viewport' content='initial-scale=1.0, user-scalable=no, maximum-scale=1'>-->

    {% block head %}{% endblock %}

    <title>PROEKTON</title>
    {% block common_css %}
        <link rel='stylesheet' href='{% static "css/bootstrap.css" %}'>
        <link rel='stylesheet' href='{% static "css/font-awesome.min.css" %}'>
        <link rel="stylesheet" href='{% static "lib/jquery-jgrowl/jquery.jgrowl.min.css" %}'>
        <link rel='stylesheet' href='{% static "lib/jquery-ui/jquery-ui.css" %}'>
        <link rel='stylesheet' href='{% sass_src "sass/main.sass" %}'>
        {% if TEMPLATE_DEBUG %}
            <link rel='stylesheet' href='{% static "css/dev-colors.css" %}'> <!-- Dev-time only, temporary!!! -->
        {% endif %}
    {% endblock %}
    {% block personal_css %}

    {% endblock %}

    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">

    {#    {% endcompress %}#}
    <meta name="keywords" content="">
    <meta name="description" content="_TEXT_">
    <meta name="yandex-verification" content="58d23691715ef942">
    <link rel="canonical" href="_URL_">
</head>

<body>
{% if TEMPLATE_DEBUG %}
    {% if messages %}
        {% for message in messages %}
            <div class="c"
                 style="position: relative; padding: 10px; margin-bottom: 6px; z-index: 100">{{ message|safe }}</div>
        {% endfor %}
    {% endif %}
{% endif %}
{% block header %}
    {% include 'partials/header.html' %}
{% endblock %}

{% block content %}
    <div style="min-height: 400px">
        BASE TEMPLATE
    </div>
{% endblock %}

{% block footer %}
    <div class="container footer-border">
        {% include 'partials/footer.html' %}
    </div>
{% endblock %}
{% block common_js %}
    <script src='{% static "js/build/debugUtilsInit.js" %}'></script>
    <script src='{% static "js/jquery-2.2.3.min.js" %}'></script>
    <script src='{% static "lib/jquery.cookie/jquery.cookie.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
{% endblock %}
{% block personal_js %}

{% endblock %}
{#{% compress js %}#}
{#    <script src='{% static "js/jquery-2.2.3.min.js" %}'></script>#}
{#    <script src='{% static "lib/jquery-ui/jquery-ui.js" %}'></script>#}
{#    <script src='{% static "lib/jquery-ui/i18n/datepicker-ru.js" %}'></script> <!-- jQueryUI Datepicker i18n -->#}
{#    <script src='{% static "js/bootstrap.min.js" %}'></script>#}
{#    <script src='{% static "lib/bootstrap-select/js/bootstrap-select.js" %}'></script>#}
{#    <script src='{% static "lib/select2/select2.js" %}'></script>#}
{#    <script src='{% static "lib/urijs/URI.min.js" %}'></script>#}
{#    <script src='{% static "js/jquery.magnific-popup.min.js" %}'></script>#}
{#    <script src='{% static "my-libs.js" %}'></script>#}

{% block websocket_js %}
    <script src='{% static "lib/jquery-jgrowl/jquery.jgrowl.min.js" %}'></script>
    {% include 'partials/inc-websocket-connect.htm' %}
{% endblock %}

{#{% endcompress %}#}
</body>
</html>
