{% load staticfiles %}
{% load sass_tags %}

<link rel='stylesheet' href='{% sass_src "partials/sass/footer.sass" %}'>

<footer class="row">
    <div class="col-lg-4">
        <div class="logoF" onclick="window.location='/'"></div>
        
        <div class="linksSoc box-sizing disTab">
            <a href="https://www.facebook.com/" target="_blank" class="icon_ls1"></a>
            <a href="https://twitter.com/" target="_blank" class="icon_ls2"></a>
            <a href="https://plus.google.com/" target="_blank" class="icon_ls3"></a>
            <a href="http://vk.com/" target="_blank" class="icon_ls4"></a>
            <a href="https://www.youtube.com/" target="_blank" class="icon_ls5"></a>
        </div>
        
        <p class="copy-rights">&copy; 2016 proekton.com</p>
    </div>
    
    <div class="col-lg-3 col-lg-offset-2 listF1">
        <p>Профиль</p>
        <ul>
            {% if not request.user.is_authenticated %}
            <li>
                <a href="{% url 'auth_login' %}">Войти</a>
            </li>
            
            <li>
                <a href="{% url 'registration_register' %}">Регистрация</a>
            </li>

            <li>
                <a href="{% url 'password_reset_recover' %}">Востановить доступ</a>
            </li>
            {% else %}
              {% if request.user.is_customer %}
                <li>
                    <a href="{% url 'projects:customer-project-create' %}">Опубликовать проект</a>
                </li>
              {% else %}
                <li>
                  <a href="{% url 'users:contractor-office' %}">Мой офис</a>
                </li>
              {% endif %}
              {% if request.user.is_staff %}
                <li>
                  <a href="/admin">Админка</a>
                </li>
              {% endif %}
            {% endif %}
        </ul>
    </div>
    
    <div class="col-lg-3 listF1">
        <p>О сайте</p>
        
        <ul>
            <li>
                <a href="">Помощь</a>
            </li>
            
            <li>
                <a href="">Правила сайта</a>
            </li>
            
            <li>
                <a href="">Команда</a>
            </li>
            
            <li>
                <a href="">FAQ</a>
            </li>
            
            <li>
                <a href="">Контакты</a>
            </li>
        </ul>
    </div>
</footer>
