{% load staticfiles %}
{% load thumbnail %}
{% load user_tags %}
{% load activeurl %}
{% load sass_tags %}
{% load common_tags %}

{% if request.user.is_contractor %}
    {% url 'users:contractor-profile' pk=request.user.pk as profile_url %}
{% elif request.user.is_customer %}
    {% url 'users:customer-profile' pk=request.user.pk as profile_url %}
{% endif %}

<link rel='stylesheet' href='{% sass_src "partials/sass/header.sass" %}'>
<header>
    <div class="container">
        <div class="row">
            <div class="logo">
                <a href="/">
                    <img src="{% static 'img/logo.png' %}">
                </a>
            </div>
            <div class="user-nav">
                <ul class="user-items">
                    {% if request.user.is_contractor or request.user.is_customer %}
                        <li>
                            <div class="user-info">
                                <a href="{% url 'wallets:score-detail' pk=request.user.pk %}"
                                   class="cash">{{ user_balance|floatformat:2 }}р</a>
                                <a href="{% url 'chat:chat-user' %}#order"
                                   class="icon_hand">{{ num_orders_in_work }}</a>
                                <a href="{% url 'chat:chat-user' %}" class="icon_chat js-all-messages">
                                    {{ new_messages_count| max_count:99 }}
                                </a>
                            </div>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li>
                            <div class="imgProfile">
                                <a href="{{ profile_url }}">
                                    {% if request.user.avatar %}
                                        {% thumbnail request.user.avatar "75x75" crop="center" as im %}
                                            <img src="{{ im.url }}" alt="profile-image">
                                        {% endthumbnail %}
                                    {% else %}
                                        {% if request.user.gender == "female" %}
                                            <img src="{% static 'img/avatars/avatar-female.jpg' %}" alt="profile-image">
                                        {% else %}
                                            <img src="{% static 'img/avatars/avatar-male.jpg' %}" alt="profile-image">
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </div> <!-- //imgProfile -->
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li>
                            <div class="infoProfile disTab">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                                    </button>
                                    <ul class="dropdown-menu menu-drop-new">
                                        {% if request.user.is_contractor %}
                                            <li class="icon_mm1">
                                                <a href="{% url 'auth_login' %}">
                                                    Войти заказчиком
                                                    <span></span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="icon_mm2">
                                                <a href="{% url 'auth_login' %}">
                                                    Войти исполнителем
                                                    <span></span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li class="icon_mm8">
                                            <a href="{{ profile_url }}">
                                                Профиль<span></span>
                                            </a>
                                        </li>
                                        <li class="icon_chat">
                                            <a href="{% url 'chat:chat-user' %}">Сообщения<span></span></a>
                                            {% if request.user %}
                                                <div class="circle js-all-messages">{{ new_messages_count| max_count:99 }}</div>
                                                {#                                        {% count_new_message request.user %}#}
                                            {% endif %}
                                        </li>
                                        <li class="icon_mm4">
                                            <a href="{% url 'wallets:score-detail' pk=request.user.pk %}">Счет<span></span></a>
                                        </li>
                                        <li class="icon_mm5">
                                            <a href="{% url 'users:user-profile-edit' pk=request.user.pk %}">Настройки<span></span></a>
                                        </li>
                                        <li class="icon_mm6">
                                            <a href="/pages/faq">FAQ<span></span></a>
                                        </li>
                                        {% if request.user.is_contractor %}
                                            <li class="icon_mm2">
                                                <a href="{% url 'auth_logout' %}">Выйти<span></span></a>
                                            </li>
                                        {% else %}
                                            <li class="icon_mm7">
                                                <a href="{% url 'auth_logout' %}">Выйти<span></span></a>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>

                        {% if request.user.is_contractor %}
                            {% contractor_indicator request.user %}
                        {% endif %}

                    {% else %}
                        <a href="{% url 'registration_register' %}" class="reg">Регистрация</a>
                        <a href="{% url 'auth_login' %}">
                            <div class="lock"></div>
                        </a>
                    {% endif %}
                    </li>
                </ul>
            </div> <!--// user-nav -->
            {% activeurl %}
                <div class="menu-nav">
                    <ul class="menu-items">
                        {% if request.user.is_authenticated %}
                            <li class="icon_tm1{% if active_menu_1 %} active{% endif %}">
                                <a href="{% url 'projects:project-filter' %}">Поиск заказов</a>
                            </li>

                            {% if request.user.is_contractor %}
                                <li class="icon_tml{% if active_menu_2 %} active{% endif %}">
                                    <a href="{% url 'users:contractor-office' %}">
                                        Мой офис {% count_new_message_orders request.user %}
                                    </a>
                                </li>
                                <li class="icon_tm3{% if active_menu_3 %} active{% endif %}">
                                    <a href="{% url 'work_sell:filter' %}">Готовые проекты</a>
                                </li>
                            {% endif %}
                            {% if request.user.is_customer %}
                                <li class="icon_tm2">
                                    <a href="{% url 'users:contractor-filter' %}">Поиск исполнителей</a>
                                </li>
                                <li class="icon_tm3">
                                    <a href="{% url 'work_sell:filter' %}">Готовые проекты</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="icon_tm1{% if active_menu_1 %} active{% endif %}">
                                <a href="{% url 'projects:project-filter' %}">Поиск заказов</a>
                            </li>
                            <li class="icon_tm2">
                                <a href="{% url 'users:contractor-filter' %}">Поиск исполнителей</a>
                            </li>
                            <li class="icon_tm3{% if active_menu_3 %} active{% endif %}">
                                <a href="{% url 'work_sell:filter' %}">Готовые проекты</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endactiveurl %}
        </div>
    </div>
</header>