{% load sass_tags %}
{% load static %}
<link rel='stylesheet' href='{% sass_src "partials/sass/registration.sass" %}'>
<div class="form-regestration">
    <form method="post" id="form-registration">{% csrf_token %}
        {{ form.non_field_errors }}

        {% if not hide_user_type %}
            <div class="row">
                <div class="col-lg-12">

                    <div style="display: inline-block">
                        <div style="position: relative; width: 360px" class="select-box-container custom-select"
                             id="user_type">
                            <input class="simple-select" placeholder="Выберите роль"
                                   value="{{ form.user_type.value }}" readonly>
                            <input type="hidden" name="{{ form.user_type.html_name }}"
                                   value="{{ form.user_type.value }}">
                            <div class="select-box-options" style="width: 100%; display: none">
                                <div style="min-width: inherit" class="box-wrapper">
                                    <ul>
                                        {% for id, text in form.user_type.field.choices %}
                                            <li data-id="{{ id }}">{{ text }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form.user_type.errors }}
                </div>
            </div>
        {% endif %}

        <div class="col-lg-12 select-reg">
            <input type="text" name="username" value="{{ form.username.value }}"
                   class="box-sizing email-reg"
                   placeholder="Nickname">
            {{ form.username.errors }}
        </div>
        <div class="col-lg-12 select-reg ">
            <input type="text" name="email" class="box-sizing email-reg"
                   value="{{ form.email.value }}" placeholder="Электронная почта">
            {{ form.email.errors }}
        </div>
        <div class="col-lg-12 select-reg">
            <input type="password" name="password1" class="box-sizing pass-reg"
                   placeholder="Пароль">
            {{ form.password1.errors }}
        </div>

        <div class="col-lg-12 select-reg">
            <input type="password" name="password2" class="box-sizing pass-reg"
                   placeholder="Пароль">
            {{ form.password2.errors }}
        </div>

        <div class="col-lg-12 select-reg captcha">
            {% include 'partials/inc-captcha.html' %}
        </div>
        <div class="col-lg-12 select-reg">
            <button class="reg-sub">Зарегистрироваться</button>
        </div>
        <div class="clearfix"></div>

        {% include 'registration/social.html' %}

        <div class="col-lg-12 select-reg">
            <div class="check-reg">
                <label><input type="checkbox" name="tos" {{ form.tos.value }} /><span></span></label>
                <p>Регистрируясь, я подтверждаю свое согласие у условиями <a href="#">пользовательского соглашения</a>
                </p>
                {{ form.tos.errors }}
            </div>
        </div>
    </form>
    <div class="col-lg-12 select-reg">
        <a href="{% url 'auth_login' %}" class="have-ac">Я уже зарегистрирован на ресурсе</a>
    </div>

</div>