{% load sass_tags %}
<link rel='stylesheet' href='{% sass_src "partials/sass/popups.sass" %}'>
<div class="popups-container" id="popups-container">
    <div style="display: none" class="popup">
        <div class="message">
        </div>
    </div>
</div>