<form id="filter-form" action="/projects/" method="POST" novalidate >

    <div class="filter form-container">
        <div class="triangle1"></div>
        <div class="row">
            <div class="col-lg-12">
                <div id="select-box-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="vertical-child" id="select-box-2"></div>
            </div>
            <div class="col-lg-3">
                <div class="vertical-child" id="select-box-3"></div>
            </div>
            <div class="col-lg-3">
                <div class="vertical-child" id="select-box-4"></div>
            </div>
            <div class="col-lg-3">
                <div class="vertical-child" id="select-box-5"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="selected-container horizontal" id="selected-spec">
                    <input type="hidden" name="specialization"
                           value="{{ specialization }}">
                </div>
            </div>
        </div>

        <div class="row separator">
            <div class="col-lg-12">
                <div class="flex">
                    <span class="header">
                        <span>Поиск по ключевым словам и фразам </span>
                        <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i>
                    </span>
                    <div class="border"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <input
                        type="text"
                        name="keywords"
{#                        onkeydown="event.keyCode === 13 && $(this).closest('form').submit()"#}
                        value="{{ form.keywords.value }}"
                        class="select-box-search"
                        placeholder="Ключевые слова, фразы">
            </div>
            <div class="col-lg-3">
                {#                $(this).closest('form').submit(); return false#}
                <a href="" class="findReal" onclick="sendFilterData($('#filter-form'), $('#resultsBlock')); return false">
                    найти проект
                </a>
            </div>
            <div class="col-lg-3">
                <a href="{% url 'projects:project-filter' %}" class="clearSearch">
                    {#                                TODO: Сделать очистку, без перезагрузки#}
                    Очистить фильтр
                </a>
            </div>
        </div>


        <div class="row separator">
            <div class="col-lg-12">
                <div class="flex">
                    <span class="header">Расширенные поля</span>
                    <button class="resButton">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                    <div class="border"></div>
                </div>
            </div>
        </div>

        <div class="slide {% if has_additional_fields %} active{% endif %}">
            <div class="row">
                <div class="col-lg-3">
                    <div class="vertical-child" id="sb-building-classification"></div>
                    <div class="vertical-child" id="sb-building-sub-classification"></div>
                    <div class="selected-container" id="selected-building-classification">
                        <input type="hidden" name="building_classification"
                               value="{{ building_classification }}">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="vertical-child" id="sb-construction-type"></div>
                    <div class="selected-container" id="selected-construction-type">
                        <input type="hidden" name="construction_type"
                               value="{{ construction_type }}">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="vertical-child" id="sb-location-1"></div>
                    <div class="vertical-child" id="sb-location-2"></div>
                    <div class="vertical-child" id="sb-location-3"></div>
                    <div class="selected-container" id="selected-location">
                        <input type="hidden" name="location"
                               value="{{ location }}">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="select-box-header vertical-child">
                        <span style="width: 180px" class="header">Требуется допуск (СРО)</span>
                        <i class="fa fa-question-circle-o" aria-hidden="true"
                           title="bla-bla-bla..."></i>
                    </div>

                    <div class="custom-check">
                        <div class="checked"></div>
                        <div style="display: none" class="not-checked"></div>
                        <input name="cro" type="checkbox" hidden {% if cro %} checked{% endif %}>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>