{% load thumbnail project_tags %}
<p class="titleScore titleScore_srch-style titleScore_md">
    {% if num_results > 0 %}
        Найдено {{ num_results }} проектов
    {% else %}
        Ничего не найдено
    {% endif %}
</p>
{# SORT_BY  #}
<div class="srch-sort">
{% include 'partials/inc-projects-sort_by.html' %}
</div>
<div class="projectsBlock projectsBlock_srch-style disTab">
    {% for project in projects %}
        <div class="projectPro clearfix">
            <div class="col-lg-9 leftPro leftPro_srch_style">
                <p class="titlePro titlePro_srch-style text-truncated">
                    <a href="{% url 'projects:detail' pk=project.pk %}" title="{{ project.name }}">{{ project.name }}</a>
                </p>

                {% if project.realty and project.realty.name %}
                    <ul class="desPro desPro_srch-style">
                        <li class="desPro__object text-truncated">
                            <a href="?realty={{ project.realty.pk }}">Объект
                                "{{ project.realty.name }}"</a>
                        </li>
                    </ul>
                {% endif %}

                <p class="textPro multiline-truncated-box">{{ project.text|linebreaksbr|truncatechars:300 }}</p>

                {% if TEMPLATE_DEBUG %}
                    <pre><!--
                                    --><b>Specialization:</b> {{ project.specialization }}<br><!--
                                    --><br><!--
                                    --><b>Realty location:</b> {{ project.realty.location }}<br><!--
                                    --><br><!--
                                    --><b>Constr. type:</b> {{ project.realty.construction_type }}<br><!--
                                    --><br><!--
                                    --><b>Build. classif.:</b> {{ project.realty.building_classification }}<br><!--
                                --></pre>
                {% endif %}

                <ul class="listPro listPro_srch-style">
                    {% if request.user.is_authenticated %}
                        <li class="listPro__author">
                            {% thumbnail project.customer.avatar "35x35" crop="center" as avatar %}
                                <img src="{{ avatar.url }}" width="{{ avatar.width }}" height="{{ avatar.height }}">
                            {% endthumbnail %}
                            <span>[{{ project.customer.username }}]</span>
                        </li>
                    {% endif %}
                    <li class="listPro__date"><span>{{ project.created }}</span></li>
                    <li class="listPro__hits"><span>{{ project.hit_count.hits }}</span></li>
                    <li class="listPro__count"><span>{{ project.answers.count }}</span></li>


                </ul>
            </div>
            <div class="col-lg-3 rightPro rightPro_srch-style">
                <p class="cenaPro cenaPro_srch-style">
                    {{ project.budget|thousand_separator }}&nbsp;<i class="{% fa_currency_classes project.currency %}"></i>
                </p>

                <ul>
                    <li {% if not project.secure_deal %}hidden{% endif %}>
                        Безопасная сделка
                    </li>

                    <li>
                        {{ project.specialization.name }}
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
</div>
<div class="col-lg-12 pagin">
    {% include 'partials/ajax_pagination.html' %}
</div>