<div class="linkSort">
    <p>Сортировать по:</p>

    {% for val, text in choices %}
        <button type="submit" name="{{ text }}"
                value="{{ val }}">{{ text }}</button>
    {% endfor %}

{#    <input type="hidden" name="{{ form.last_order_by.html_name }}" value="{{ last_order_by }}">#}
{#    <input type="checkbox" name="{{ form.reverse_order.html_name }}"#}
{#           {% if reverse_order %}checked{% endif %}#}
{#           style="display: none">#}
</div>