/********************************
 * Общие стили для ВСЕХ страниц *
 * 10 раз подумайет, прежде чем *
 * добавить сюда стили          *
 ********************************/

@import "base/fonts"
@import "base/colors"
@import "base/variavles"
@import "common/parts"
@import "modules/mods"

body
  font-size: 11pt
  font-family: Arial-MT-Regular, Arial, sans-serif

.btn-default:focus
  outline: 0

.hidden
  display: none

.main-scope
  > .row
    border-right: 1px solid  #{map_get($component_colors, border)}
    border-left: 1px solid  #{map_get($component_colors, border)}

.main-content
  padding: 43px 25px 40px 25px

.title-scope
  line-height: 36px
  padding: 0 100px
  text-align: center
  border-bottom: 1px solid #{map_get($component_colors, border)}
  h1
    font:
      family: 'pfbeausanspro-thin', sans-serif
      size: 36px
      style: normal
      variant-ligatures: normal
      variant-caps: normal
      variant-numeric: normal
      weight: normal
      stretch: normal
    letter-spacing: 2px

  p
    line-height: 36px
    padding: 0 100px
    width: 100%
    text-align: center
    float: left
    font-family: 'pfbeausanspro-thin', sans-serif
    font-size: 36px
    margin: 48px 0 45px 0
    letter-spacing: 2px

.vertical-child
  margin-top: 30px

.header
  @extend %header
  max-width: 100%

.select-text
  color: #{map_get($component_colors, select)}

.slide
  display: none
  margin-bottom: 20px

.slide.active
  display: block

.footer-wrapper
  background-color: #{map_get($component_colors, footer_background)}

.footer-border
  border-left: 1px solid #{map_get($component_colors, border)}
  border-right: 1px solid #{map_get($component_colors, border)}