{% extends 'partials/base.html' %}

{% block content %}
    <div class='container-fluid'>
        <div class='row'>
            <div class='a col-xs-12'>
                <form action='{{ YANDEX_MONEY.url }}' method='POST' novalidate>
                    <p>shopId: <input type='text' name='shopId' value='{{ YANDEX_MONEY.shop_id }}'></p>
                    <p>scid: <input type='text' name='scid' value='{{ YANDEX_MONEY.scid }}'></p>
                    <p>sum: <input type='text' name='sum' value='100'></p>
                    <p>customerNumber: <input type='text' name='customerNumber' value='123'></p>
                    
                    <p>transactionId: <input type='text' name='transactionId' value='{{ transaction.pk }}'></p>
                    
                    <p><button type='submit'>Simulate check</button></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
