{% extends 'partials/base.html' %}

{% block content %}
    <div class='container-fluid'>
        <div class='row'>
            <div class='a col-xs-12'>
                <h3>Simulating a Yandex "checkOrder" request</h3>
                
                <form action='{% url 'tmp-check-order' %}' method='POST' novalidate>
                    <p>action: <input name='action' value='checkOrder'></p>
                    <p>md5: <input name='md5' value='8256D2A032A35709EAF156270C9EFE2E'></p>
                    <p>shopId: <input name='shopId' value='59838'></p>
                    <p>invoiceId: <input name='invoiceId' value='1234567'></p>
                    <p>customerNumber: <input name='customerNumber' value='8123294469'></p>
                    <p>orderSumAmount: <input name='orderSumAmount' value='87.1'></p>
                    <p>orderSumCurrencyPaycash: <input name='orderSumCurrencyPaycash' value='643'></p>
                    <p>orderSumBankPaycash: <input name='orderSumBankPaycash' value='1001'></p>
                    <p>shopPassword: <input name='shopPassword' value='x1uvmS9Iq8WBE3Oo'></p>
                    
                    <p>orderNumber: <input name='orderNumber' value='123'></p>
                    
                    <p><button type='submit'>Simulate check</button></p>
                </form>
            </div>
        </div>
        
        
        
        
        
        
        <div class='row'>
            <div class='b col-xs-12'>
                <h3>Simulating a Yandex "paymentAviso" request</h3>
                
                <form action='{% url 'tmp-payment-aviso' %}' method='POST' novalidate>
                    <p>action: <input name='action' value='paymentAviso'></p>
                    <p>md5: <input name='md5' value='45125C95A20A7F25B63D58EA304AFED2'></p>
                    <p>shopId: <input name='shopId' value='59838'></p>
                    <p>invoiceId: <input name='invoiceId' value='1234567'></p>
                    <p>customerNumber: <input name='customerNumber' value='8123294469'></p>
                    <p>orderSumAmount: <input name='orderSumAmount' value='87.1'></p>
                    <p>orderSumCurrencyPaycash: <input name='orderSumCurrencyPaycash' value='643'></p>
                    <p>orderSumBankPaycash: <input name='orderSumBankPaycash' value='1001'></p>
                    <p>shopPassword: <input name='shopPassword' value='x1uvmS9Iq8WBE3Oo'></p>
                    
                    <p>transactionId: <input name='transactionId' value='1'></p>
                    
                    <p><button type='submit'>Simulate aviso</button></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
