{% extends 'partials/base.html' %}

{% load staticfiles %}
{% load thumbnail %}
{% block content %}


{% include 'partials/header.html' %}
    <div class="container mainScore">
        <div class="row">
            <div class="col-lg-12">
                <p class="titleScore">Работы на продажу</p>
            </div>
            
            
               <form action="{% url 'work_sell:list' %}" method="GET" novalidate>
                <div class="col-lg-12">
                    <div class="filter clearfix">
                        <div class="triangle1"></div>

                        <div class="titleF1 disTab">
                            <div class="col-lg-3">Специализации</div>
                            <div class="col-lg-9"></div>
                        </div>
                        <div class="polsF1 disTab -spec-select-container">
                            <div class="col-lg-3">
                                <input type="hidden" class="-spec-select -spec-select-level-1" style="width: 100%">
                            </div>
                            <div class="col-lg-3">
                                <input type="hidden" class="-spec-select -spec-select-level-2" style="width: 100%">
                            </div>
                            <div class="col-lg-3">
                                <input type="hidden" class="-spec-select -spec-select-level-3" style="width: 100%">
                            </div>
                            <div class="col-lg-3">
                                 <input type="hidden" class="-spec-select -spec-select-level-4" style="width: 100%">
                            </div>

                            <input type="hidden" name="{{ form.specialization.html_name }}" value="{{ form.specialization.value }}" class="-chosen-spec-id">
                        </div>


                        <div class="searchF1">
                            <div class="col-lg-6">
                                <input
                                    type="text"
                                    name="keywords"
                                    onkeydown="event.keyCode === 13 && $(this).closest('form').submit()"
                                    value="{{ form.keywords.value }}"
                                    class="searchInp box-sizing"
                                    placeholder="Ключевые слова">
                            </div>
                            <div class="col-lg-3">
                                <a href="#" class="findReal" onclick="$(this).closest('form').submit(); return false">
                                    найти проект
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a href="{% url 'work_sell:list' %}" class="clearSearch">
                                    Очистить фильтр
                                </a>
                            </div>
                        </div>



                        <div class="resSearchF1">
                            <div class="col-lg-3">
                                <p class="titleResF1">Расширенный поиск</p>
                                <button class="resButtonF1">
                                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-lg-9">
                                <div class="borderS1"></div>
                            </div>
                        </div>









                        <div class="slideRes disTab activeSlide">
                            <div class="titleF1 disTab">
                                <div class="col-lg-3">Классификация здания</div>
                                <div class="col-lg-3">Вид строительства</div>
                                <div class="col-lg-3"></div>
                            </div>

                            <div class="polsF1 disTab">
                                <div class="col-lg-3">
                                    {{ form.building_classification }}
                                </div>

                                <div class="col-lg-3">
                                    {{ form.construction_type }}
                                </div>
                            </div>
                        </div>





                        <div class="slideRes disTab activeSlide">
                            <div class="titleF1 disTab">
                                <div class="col-lg-3">Местоположение</div>
                            </div>

                            <div class="polsF1 disTab">
                                <div class="col-lg-3">
                                    <input type="hidden" class="-location-select -location-select-country" style="width: 100%">
                                </div>

                                <div class="col-lg-3">
                                    <input type="hidden" class="-location-select -location-select-region" style="width: 100%">
                                </div>

                                <div class="col-lg-3">
                                    <input type="hidden" class="-location-select -location-select-city" style="width: 100%">
                                </div>

                                <input type="hidden" id="chosenLocationId" name="{{ realty_form.location.html_name }}" value="{{ realty_form.location.value }}">
                            </div>


                        </div>
                    </div>
                </div>


			</form>
            
            
            <div class="galleryWork disTab">
                {% for work in work_sells %}
                    <div class="col-lg-3">
                        <div class="insetCol box-sizing disTab">
                              <a href="{% url 'work_sell:detail' work.pk %}">
                                {% thumbnail work.get_cover "265x265" crop="center" as im %}
                                    <div class="imgGal" style="background: url('{{ im.url }}') no-repeat center;">
                                        <div class="imgFigure"></div>
                                    </div>
                                {% endthumbnail %}
                            </a>
                            <div class="cenaImg box-sizing">
                                <div class="cenaImgInset">
                                    {{ work.budget }}<i class="{% fa_currency_classes work.currency %}"></i>
                                </div>
                            </div>
                        </div>
                        <div class="insetCol2 box-sizing disTab">
                            <a href="{% url 'work_sell:detail' work.pk %}">{{ work }}</a>
                            {% if request.user.pk == work.contractor.pk %}
                            <div class="buttonsImg" disTab>
                                <a href="{% url 'work_sell:edit' work.pk %}">
                                   <div class="insetBI insetBI1">
                                       <i class="fa fa-pencil"></i>
                                   </div>
                                </a>
                                <a href="{% url 'work_sell:delete' work.pk %}">
                                <div class="insetBI insetBI2">
                                    <i class="fa fa-times"></i>
                                </div>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            
            <div class="col-lg-12 pagin">
                {% include 'partials/pagination.html' %}	
            </div>
            
            
            {% include 'partials/footer.html' %}
        </div>
    </div>
{% endblock %}
