<div class="modal fade" id="registrationFormModal" tabindex="-2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Регистрация</h4>
      </div>

      <div class="modal-body">
          {% include 'partials/inc-registration_form.html' %}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
{#        <button type="button" class="btn btn-primary -action-button">Предложить</button>#}
      </div>
    </div>
  </div>
</div>
