{% extends 'partials/base.html' %}

{% load static %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    {% include 'partials/header.html' %}

    <div class="container print-service-page">
        <h1>Услуга по распечатке проектной документации</h1>
        <div class="print-service-container">
            <p class="lead text-center">Для экономии времени наших пользователей ресурс PROEKTON распечатает, сброшюрует проектную документацию любого формата и доставит по указанному адресу по РФ.</p>
            <h4 class="text-center">Расчет стоимости печати проектной документации <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i></h4>
            <div class="col-lg-12">
                <select class="form-control text-center" style="border-radius: 0; font-weight: bold;">
                    <option style="text-align: center;">Плотность бумаги (белая бумага 80г/м.кв.)</option>
                </select>
                <table class="table-print-service">
                    <tbody>
                        <tr>
                            <td rowspan="3">Формат</td>
                            <td colspan="5">Количество</td>
                            <td colspan="2">Сумма</td>
                        </tr>
                        <tr>
                            <td colspan="2">Черно-Белая печать</td>
                            <td colspan="2">Цветная печать</td>
                            <td rowspan="2">Колич.<br>листов<br>всего</td>
                            <td rowspan="2">Черно-Белая</td>
                            <td rowspan="2">Цветная</td>
                        </tr>
                        <tr>
                            <td>С одной стороны</td>
                            <td>С двух сторон</td>
                            <td>С одной стороны</td>
                            <td>С двух сторон</td>
                        </tr>
                        <tr>
                            <td style="width:5%;">A4</td>
                            <td style="width:15%;">
                                <input type="number" min="0" max="10000">
                                <div>10р - 1шт.</div>
                            </td>
                            <td style="width:15%;">
                                <input type="number" min="0" max="10000">
                                <div>15р - 1шт.</div>
                            </td>
                            <td style="width:15%;">
                                <input type="number" min="0" max="10000">
                                <div>23р - 1шт.</div>
                            </td>
                            <td>
                                <input type="number" min="0" max="10000">
                                <div>33р - 1шт.</div>
                            </td>
                            <td style="width:5%;">
                                <div id="a4_total_count"></div>
                            </td>
                            <td style="width:15%;">
                                <div id="a4_black_amount"></div>
                            </td>
                            <td style="width:15%;">
                                <div id="a4_colored_amount"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>A3</td>
                            <td>
                                <input type="number" min="0" max="10000">
                                <div>20р - 1шт.</div>
                            </td>
                            <td>
                                <input type="number" min="0" max="10000">
                                <div>30р - 1шт.</div>
                            </td>
                            <td>
                                <input type="number" min="0" max="10000">
                                <div>45р - 1шт.</div>
                            </td>
                            <td>
                                <input type="number" min="0" max="10000">
                                <div>65р - 1шт.</div>
                            </td>
                            <td>
                                <div id="a4_total_count"></div>
                            </td>
                            <td>
                                <div id="a4_black_amount"></div>
                            </td>
                            <td>
                                <div id="a4_colored_amount"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>A2</td>
                            <td>
                                <input type="number" min="0" max="10000">
                                <div>40р - 1шт.</div>
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                <input type="number" min="0" max="10000">
                                <div>150р - 1шт.</div>
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>A1</td>
                            <td>
                                <input type="number" min="0" max="10000">
                                <div>90р - 1шт.</div>
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                <input type="number" min="0" max="10000">
                                <div>230р - 1шт.</div>
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>A0</td>
                            <td>
                                <input type="number" min="0" max="10000">
                                <div>120р - 1шт.</div>
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                <input type="number" min="0" max="10000">
                                <div>400р - 1шт.</div>
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row" style="padding-top: 15px;">
                    <div class="col-lg-7">
                        <div class="bottom-line-print">
                            Зарегистрированные пользователи получают скидку на печать<br>проектной документации <span style="color:#f80404;">20%</span>
                            <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i>
                        </div>
                        <div class="bottom-line-print" style="padding-top: 37px;">
                            Цена расчитанная калькулятором не включает услугу доставки
                            <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="clearfix">
                            <div class="bottom-line-print">
                                Сумма за печать проектной документации:
                                <div class="print-value pull-right">179 р.</div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="bottom-line-print">
                                Дополнительные услуги:<br>
                                {% for service in services %}
                                <label style="font-weight: normal; padding-right: 10px;">
                                    <input type="checkbox" name="services[]" value="{{ service.id }}" style="margin:-2px 0 0 0;">
                                    {{ service.name }}
                                </label>
                                {% endfor %}
                                <div class="print-value pull-right">0 р.</div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="bottom-line-print">
                                Итого общая сумма без доставки:
                                <div class="print-value pull-right"><span style="color:#f80404;">179</span> р.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="text-center" style="margin-top: 40px; margin-bottom: 30px;">Формирование заказа <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i></h4>
                <div class="clearfix ps-upload-buttons">
                    <span class="ps-upload-title">Добавить файлы для печати</span>
                    <button class="btn-simple ps-upload-button" id="upload-attachment"><i></i> Прикрепить файл</button>
                    <input type="file" name="file" style="display: none;">
                    <span class="ps-upload-info">до 100 файлов</span>
                </div>
                <ul class="ps-files">
                    {% for file in uploaded_files %}
                    <li>
                        <a href="javascript:;;" data-id="{{ file.file_code }}" class="ps-file-remove"></a>
                        <div class="ps-file ps-file-{{ file.ext }}"></div>
                        <span><a href="javascript:;;">{{ file.file_name|slice:":7" }}&hellip;</a></span>
                    </li>
                    {% endfor %}
                </ul>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Комментарии к заказу <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i></label>
                        <textarea name="comment" class="ps-textarea"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pull-left" style="padding-left: 20px;">
                                    <span class="checkbox">
                                        <input type="checkbox" name="is_pickup"> Самовывоз
                                    </span>
                                </div>
                                <div class="pull-left" style="padding-left: 40px;">
                                    <span class="checkbox">
                                        <input type="checkbox" name="is_delivery"> Доставка
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Получатель <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i></label>
                                <input type="text" name="name" placeholder="Фамилия Имя Отчество" class="select-box-search">
                            </div>
                            <div class="col-lg-12">
                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-lg-6">
                                        <label>Телефон <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i></label>
                                        <input type="text" name="phone" placeholder="+7 (909) 999-00-00" class="select-box-search">
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Почта <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i></label>
                                        <input type="text" name="email" placeholder="Ваш e-mail" class="select-box-search">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px;">
                            <div class="col-lg-12">
                                <label>Адрес <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i></label>
                                <input type="text" name="address" placeholder="Московская обл., Истринский р-н, д. Кострово ул. Центральная д.18 кв. 63" class="select-box-search">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 20px 0 40px 0;">
                    <div class="col-lg-12">
                        <button class="btn-simple ps-upload-button">ОТПРАВИТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <div class="popup-error">Форма заполнена неполностью.</div>#}

{% endblock %}

{% block js_block %}
<script>
    (function(){
        $("#upload-attachment").on("click", this, function(e){
            $(this).siblings("input").trigger("click");
        });
        $("#upload-attachment").siblings("input").fileupload({
            url: '/print-service/upload/',
            dataType: 'json',
            success: function (result, textStatus, jqXHR){
                if (result.file !== "") {
                    $(".ps-files").append('<li><a href="javascript:;;" data-id="'+result.file+'" class="ps-file-remove"></a><div class="ps-file ps-file-'+result.ext+'"></div><span><a href="javascript:;;">'+result.name+'&hellip;</a></span></li>');
                }else{
                    $("body").append('<div class="popup-error">'+result.errors.file+'</div>');
                }
            }
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');

        $("body").on("click", ".popup-error", function(e){
            $(this).remove();
        });

        $(".ps-files").on("click", ".ps-file-remove", function(e){
            e.preventDefault();
            var el = $(this);
            $.get("/print-service/remove/", el.data(), function() {
                el.parent("li").remove();
            });
        });
    }());
</script>
{% endblock %}
