{% extends 'partials/base.html' %}

{% load static %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    {% include 'partials/header.html' %}

    <div class="container print-service-page">
        <form action="javascript:;;" method="post" id="orderForm">
        <h1>Услуга по распечатке проектной документации</h1>
        <div class="print-service-container">
            <p class="lead text-center">Для экономии времени наших пользователей ресурс PROEKTON распечатает, сброшюрует проектную документацию любого формата и доставит по указанному адресу по РФ.</p>
            <h4 class="text-center">Расчет стоимости печати проектной документации <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i></h4>
            <div class="col-lg-12">
                <select name="paper_type" class="form-control text-center" style="border-radius: 0; font-weight: bold;" id="selectPaper"></select>
                <table class="table-print-service">
                    <tbody>
                        <tr>
                            <td rowspan="3">Формат</td>
                            <td colspan="5">Количество</td>
                            <td colspan="2">Сумма</td>
                        </tr>
                        <tr>
                            <td colspan="2">Черно-Белая печать</td>
                            <td colspan="2">Цветная печать</td>
                            <td rowspan="2">Колич.<br>листов<br>всего</td>
                            <td rowspan="2">Черно-Белая</td>
                            <td rowspan="2">Цветная</td>
                        </tr>
                        <tr id="tablePlaceholder">
                            <td>С одной стороны</td>
                            <td>С двух сторон</td>
                            <td>С одной стороны</td>
                            <td>С двух сторон</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row" style="padding-top: 15px;">
                    <div class="col-lg-7">
                        <div class="bottom-line-print" style="height: 50px;">
                            {% if not user.is_authenticated %}
                            Зарегистрированные пользователи получают скидку на печать<br>проектной документации <span style="color:#f80404;">20%</span>
                            <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i>
                            {% else %}
                                <br>
                            {% endif %}
                        </div>
                        <div class="bottom-line-print" style="height:60px;">
                            Цена расчитанная калькулятором не включает услугу доставки
                            <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..." style="font-size: 18px;"></i>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="clearfix">
                            <div class="bottom-line-print" style="height:27px;">
                                Сумма за печать проектной документации:
                                <div class="print-value pull-right"><span id="totalTable">-</span> р.</div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="bottom-line-print" style="height: 52px;">
                                Дополнительные услуги:<br>
                                {% for service in services %}
                                <label style="font-weight: normal; padding-right: 10px;">
                                    <input type="checkbox" name="services[]" data-price="{{ service.price }}" value="{{ service.id }}" class="calc-service" style="margin:-2px 0 0 0;">
                                    {{ service.name }}
                                </label>
                                {% endfor %}
                                <div class="print-value pull-right"><span id="totalServices">-</span> р.</div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="bottom-line-print" style="height:27px;">
                                Итого общая сумма без доставки:
                                <div class="print-value pull-right"><span style="color:#f80404;" id="totalPrice">-</span> р.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="text-center" style="margin-top: 40px; margin-bottom: 30px;">Формирование заказа <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i></h4>
                <div class="clearfix ps-upload-buttons">
                    <span class="ps-upload-title">Добавить файлы для печати</span>
                    <button class="btn-simple ps-upload-button" id="upload-attachment"><i></i> Прикрепить файл</button>
                    <input type="file" name="file" style="display: none;">
                    <span class="ps-upload-info">до 100 файлов</span>
                </div>
                <ul class="ps-files" id="orderFiles">
                    {% for file in uploaded_files %}
                    <li>
                        <a href="javascript:;;" data-id="{{ file.file_code }}" class="ps-file-remove"></a>
                        <div class="ps-file ps-file-{{ file.ext }}"></div>
                        <span><a href="javascript:;;">{{ file.file_name|slice:":7" }}&hellip;</a></span>
                    </li>
                    {% endfor %}
                </ul>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Комментарии к заказу <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i></label>
                        <textarea name="comment" class="ps-textarea"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pull-left" style="padding-left: 20px;">
                                    <span class="radio">
                                        <input type="radio" name="delivery_type" value="PICKUP" checked> Самовывоз
                                    </span>
                                </div>
                                <div class="pull-left" style="padding-left: 40px;">
                                    <span class="radio">
                                        <input type="radio" name="delivery_type" value="DELIVERY"> Доставка
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label data-field="client_name" class="form-label">
                                    Получатель
                                    <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i>
                                </label>
                                <input type="text" name="client_name" placeholder="Фамилия Имя Отчество" class="select-box-search">
                            </div>
                            <div class="col-lg-12">
                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-lg-6">
                                        <label data-field="phone" class="form-label">
                                            Телефон
                                            <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i>
                                        </label>
                                        <input type="text" name="phone" placeholder="+7 (909) 999-00-00" class="select-box-search phone" style="background: #ffffff;">
                                    </div>
                                    <div class="col-lg-6">
                                        <label data-field="email" class="form-label">
                                            Почта
                                            <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i>
                                        </label>
                                        <input type="text" name="email" placeholder="Ваш e-mail" class="select-box-search" style="background: #ffffff;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px;">
                            <div class="col-lg-12">
                                <label data-field="address" class="form-label">
                                    Адрес
                                    <i class="fa fa-question-circle-o" aria-hidden="true" title="bla-bla-bla..."></i>
                                </label>
                                <input type="text" name="address" placeholder="Московская обл., Истринский р-н, д. Кострово ул. Центральная д.18 кв. 63" class="select-box-search" style="background: #ffffff;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 20px 0 40px 0;">
                    <div class="col-lg-12">
                        <button class="btn-simple ps-upload-button" id="orderSendBtn">ОТПРАВИТЬ</button>
                    </div>
                </div>

                <div class="print-service-info" style="display: none;">
                    <a href="javascript:;;" class="icon-close"></a>
                    <h3>Заказ отправлен</h3>
                    <p>Спасибо, что воспользовались нашим сервисом!<br>
                   Оператор свяжется с вами в течении 30 мин для подтверждения заказа.
                    {% if not user.is_authenticated %}
                    После регистрации на ресурсе вы получаете скидку в 20% и имеете возможность видеть статус заказа онлайн.
                    {% endif %}
                    </p>
                </div>

                <div id="historyPlaceholder"></div>

            </div>
        </div>
        </form>
    </div>

<div class="modal fade" tabindex="-1" role="dialog" id="alertModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p class="text-center" style="margin-bottom: 0;">Вы действительно хотите удалить информацию о заказе?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Нет</button>
        <button type="button" class="btn btn-default" id="removeOrder">Да</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="wrongFileModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ошибка</h4>
      </div>
      <div class="modal-body">
        <p class="text-center" style="margin-bottom: 0; color: #f00000;">Неподходящий формат файла</p>
      </div>
      <div class="modal-footer">
          <p>Допустимые форматы: DWG, PLN, JPG, PDF, DOC, PNG, BMP, GIF, TIFF, TXT, XLS, PSD</p>
        <button type="button" data-dismiss="modal" class="btn btn-default">Ок</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js_block %}
<script src='/static/js/jquery.mask.min.js'></script>
<script>
    (function(){

        var PRINT_PRICES = [];

        $('.phone').mask('+7 (000) 000-00-00');

        $("#upload-attachment").on("click", this, function(e){
            e.preventDefault();
            $(this).siblings("input").trigger("click");
        });
        $("#upload-attachment").siblings("input").fileupload({
            url: '/print-service/upload/',
            dataType: 'json',
            success: function (result, textStatus, jqXHR){
                if (result.file !== "") {
                    $("#orderFiles").append('<li><a href="javascript:;;" data-id="'+result.file+'" class="ps-file-remove"></a><div class="ps-file ps-file-'+result.ext+'"></div><span><a href="javascript:;;">'+result.name+'&hellip;</a></span></li>');
                }else{
                    $("#wrongFileModal").modal("show");
                }
            }
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');

        $("body").on("click", this, function(e){
            $(".popup-error").remove();
        });

        $("#orderFiles").on("click", ".ps-file-remove", function(e){
            e.preventDefault();
            var el = $(this);
            $.get("/print-service/remove/", el.data(), function() {
                el.parent("li").remove();
            });
        });

        $.get("/print-service/types-all/", function(data){
            PRINT_PRICES = data;
            if (data.length) {
                setTypesList();
                setProductsByType(data[0]['id']);
            }
        });

        $("body").on("change", "#selectPaper", function() {
            setProductsByType(parseInt($(this).val()));
        });

        var setTypesList = function() {
            $("#selectPaper").empty();
            for(i in PRINT_PRICES) {
                $("#selectPaper").append('<option value="'+PRINT_PRICES[i]['id']+'">'+PRINT_PRICES[i]['name']+'</option>');
            }
        };

        var setProductsByType = function(typeId) {
            $(".calc-row").remove();
            for (i in PRINT_PRICES) {
                if (PRINT_PRICES[i]['id'] == typeId) {
                    var html = '';
                    for (n in PRINT_PRICES[i]['products']) {
                        var product_id = PRINT_PRICES[i]['products'][n]['id'];
                        var format = PRINT_PRICES[i]['products'][n]['format'];
                        var price_white_1 = PRINT_PRICES[i]['products'][n]['black_white_1'];
                        var price_white_2 = PRINT_PRICES[i]['products'][n]['black_white_2'];
                        var price_color_1 = PRINT_PRICES[i]['products'][n]['color_1'];
                        var price_color_2 = PRINT_PRICES[i]['products'][n]['color_2'];

                        html += '<tr class="calc-row">';

                        html += '<td style="width:5%;">'+(format ? format : '')+'</td>';

                        if (price_white_1) {
                            html += '<td style="width:15%;">' +
                                    '<input type="number" name="white_1['+product_id+']" min="0" max="10000" data-price="'+price_white_1+'" data-color="white" class="table-calc-field">' +
                                    '<div>'+price_white_1+'р - 1шт.</div>' +
                                    '</td>';
                        } else {
                            html += '<td style="width:15%;"></td>';
                        }

                        if (price_white_2) {
                            html += '<td style="width:15%;">' +
                                    '<input type="number" name="white_2['+product_id+']" min="0" max="10000" data-price="'+price_white_2+'" data-color="white" class="table-calc-field">' +
                                    '<div>'+price_white_2+'р - 1шт.</div>' +
                                    '</td>';
                        } else {
                            html += '<td style="width:15%;"></td>';
                        }

                        if (price_color_1) {
                            html += '<td style="width:15%;">' +
                                    '<input type="number" name="color_1['+product_id+']" min="0" max="10000" data-price="'+price_color_1+'" data-color="color" class="table-calc-field">' +
                                    '<div>'+price_color_1+'р - 1шт.</div>' +
                                    '</td>';
                        } else {
                            html += '<td style="width:15%;"></td>';
                        }

                        if (price_color_2) {
                            html += '<td style="width:15%;">' +
                                    '<input type="number" name="color_2['+product_id+']" min="0" max="10000" data-price="'+price_color_2+'" data-color="color" class="table-calc-field">' +
                                    '<div>'+price_color_2+'р - 1шт.</div>' +
                                    '</td>';
                        } else {
                            html += '<td style="width:15%;"></td>';
                        }

                        html += '<td style="width:5%;"><div class="all_total_count"></div></td>' +
                                '<td style="width:15%;"><div class="calc_amount black_amount"></div></td>' +
                                '<td style="width:15%;"><div class="calc_amount color_amount"></div></td>' +
                                '</tr>';
                    }
                    $("#tablePlaceholder").after(html);
                }
            }
        };

        $("body").on("change", ".table-calc-field", function() {
            proceedCalc();
        });

        var proceedCalc = function() {
            $(".table-calc-field").each(function() {
                var self = $(this);
                var tr = self.parent().parent("tr");

                var total_count_cnt = tr.children().find(".all_total_count");
                var price_black_cnt = tr.children().find(".black_amount");
                var price_color_cnt = tr.children().find(".color_amount");

                var total_count = 0;
                var total_black = 0;
                var total_color = 0;

                tr.children().find(".table-calc-field").each(function(){
                    var count = parseInt($(this).val());
                    if (isNaN(count)) {
                        count = 0;
                    }
                    total_count += count;
                    total += count * parseInt($(this).data("price"));
                    if ($(this).data("color") == "white") {
                        total_black += count * parseInt($(this).data("price"));
                    }
                    if ($(this).data("color") == "color") {
                        total_color += count * parseInt($(this).data("price"));
                    }
                });

                total_count_cnt.text(total_count);
                price_black_cnt.text(total_black);
                price_color_cnt.text(total_color);
            });

            var total = 0;

            $(".calc_amount").each(function() {
                total += parseInt($(this).text());
            });

            $("#totalTable").text(total);

            var total_services = 0;

            $(".calc-service").each(function() {
                if ($(this).prop("checked")) {
                    total_services += parseInt($(this).data("price"));
                }
            });

            $("#totalServices").text(total_services);

            $("#totalPrice").text(total + total_services);
        };

        $("body").on("change", ".calc-service", function() {
            proceedCalc();
        });

        $("#orderForm").submit(function() {
            var btn = $("#orderSendBtn");
            var data = $(this).serialize();

            btn.text('Подождите...');
            btn.prop("disabled", "disabled");

            $(".form-label").css("color", "#000000");

            $.ajax({
                url: '/print-service/save/',
                dataType: 'json',
                type: 'POST',
                data: data
            })
            .success(function(data) {
                if (data.error) {
                    $("body").append('<div class="popup-error">Форма заполнена неполностью.</div>');
                    for (i in data.error) {
                        $(".form-label").each(function() {
                            var el = $(this);
                            if (el.data("field") == data.error[i].field) {
                                $(this).css("color", "#fe0303");
                            }
                        });
                    }
                } else {
                    $(".select-box-search").val('');
                    $(".print-service-info").show();
                    $("#orderFiles").empty();
                    loadOrderHistory();
                }
            })
            .error(function() {
                //
            })
            .complete(function() {
                btn.text('Отправить');
                btn.prop("disabled", false);
            });
        });

        $(".print-service-info").on("click", ".icon-close", function() {
            $(this).parent().hide();
        });

        var loadOrderHistory = function () {
            $.get("/print-service/history/", function(data) {

                $("#historyPlaceholder").empty();

                for (i in data) {
                    var el = data[i];
                    var html = '';
                    html += '<div class="print-service-info text-left">';
                    html += '<a href="javascript:;;" data-id="'+el.id+'" class="icon-close removeOrder"></a>';
                    html += '<div class="ps-order-date">'+el.date+'</div>';

                    html += '<ul class="ps-files">';
                    for (f in data[i].files) {
                        html += '<li>';
                        html += '<div class="ps-file-grey ps-file-'+data[i].files[f].ext+'-grey"></div>';
                        html += '<span><a href="javascript:;;">'+data[i].files[f].name+'…</a></span>';
                        html += '</li>';
                    }
                    html += '</ul>';

                    html += '<ul class="ps-client-info">';
                    html += '<li>'+el.client_name+'</li>';
                    html += '<li>'+el.phone+'</li>';
                    html += '<li>'+el.email+'</li>';
                    html += '<li>'+el.address+'</li>';
                    {% if request.user.is_authenticated %}
                    html += '<li>Статус: <span class="order-status">'+el.status+'</span></li>';
                    {% endif %}
                    html += '</ul>';

                    html += '</div>';

                    $("#historyPlaceholder").append(html);
                }
            });
        };

        loadOrderHistory();

        $("body").on("click", ".removeOrder", function() {
            $("#removeOrder").data("id", $(this).data("id"));
            $("#alertModal").modal("show");
        });

        $("body").on("click", "#removeOrder", function() {
            var self = $(this);
            self.button("loading");
            $.post("/print-service/delete/", {"id": $(this).data('id')}, function(response) {
                self.button("reset");
                loadOrderHistory();
                $("#alertModal").modal("hide");
            });
        });
    }());
</script>
{% endblock %}
