.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-height: 1.8em; /* fallback */
    max-height: 7.2em; /* fallback */
}

textarea.description {
    width: 100%;
    min-height: 200px;
}

textarea.auto-hint {
    color: darkgray;
}

.btn-plus {
    /*width: 300px;*/
    /*text-overflow: clip;*/
    white-space: normal;
    padding-left: 18%;
    color: #FF0029;
    /*height: 80%;*/
    line-height: 1em;
    font-family: Arial-MT-Regular;
    font-size: 12pt;
}

.btn-plus:hover {
    color: #FF0029;
}

.btn-plus {
    background: url("../img/circle_cross.svg") no-repeat left;
    background-position-x: 5px;
}

.upload-new.paper-clip {
    padding-left: 45px;
    padding-right: 5px;
    background: url("../img/paper-clip_icon._g.png") no-repeat left;
    background-size: 30px 30px;
    width: auto;
}

.upload-new.paper-clip p {
    font-size: 12pt;
    width: auto;
    text-align: right;
}

.documentsChat.mod {
    width: auto;
    float: none;
    display: inline-block;
    vertical-align: inherit;
    padding: 0;
    margin: 0;
}