body {
    font-size: 11pt;
    font-family: Arial-MT-Regular, Arial, sans-serif;
}

.wrapper {
    background-color: #f2f2f2;
    padding: 40px;
    margin: 50px 30px;
}

.filter.form-container {
    padding: 50px 45px;
}

.separator {
    margin-top: 35px;
    margin-bottom: 5px;
}

.vertical-child {
    margin-top: 30px;
}


.header {
    display: block;
    font-size: 12pt;
    color: black;
}

.block-header {
    display: inline-block;
    padding-top: 10px;
}

.custom-check {
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.custom-check .checked {
    background: url("../img/checkbox_Check.png.png") no-repeat center;
    background-size: 100% 51px;
    width: 100%;
    height: 51px;
}

.custom-check .not-checked {
    background: url("../img/checkbox_notCheck.png") no-repeat center;
    background-size: 100% 51px;
    width: 100%;
    height: 51px;
}

.resButton {
    position: relative;
    top: -15px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid #CFCFCF;
    color: #FF0029;
    text-align: center;
    font-size: 16px;
    float: left;
    border-radius: 100%;
    /* margin: -15px 20px 0 28px; */
    margin-left: 25px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: rotate(180deg);
}

button.resButton:focus {
    outline: 0;
}

.flex {
    display: flex;
}

/*.flex .header {*/
/*padding-right: 10px;*/
/*}*/

.header .fa {
    padding-left: 3px;
    color: #5e5e5e;
    position: relative;
    top: 0;
}

.border {
    flex: 1 1 auto;
    float: left;
    margin: 10px 0 0 25px;
    border-top: 1px solid #CFCFCF;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.revert {
    margin-left: -15px;
    margin-right: -15px;
}