@import "base/colors"

%header
  display: inline-block
  text-overflow: ellipsis
  overflow: hidden
  word-wrap: break-word
  vertical-align: bottom
  font-size: 12pt
  color: #{map_get($component_colors, header)}
  max-width: 220px
.fa
  color: #{map_get($component_colors, header_favicon)}
  position: relative
  padding-left: 2px
  padding-right: 2px
  &:hover
    cursor: pointer
.required
  font:
    size: 10pt
  color: #9f9f9f
  &.error
    color: red