<div class="old-main">
    {% for review in reviews %}
        <div class="new-comm-44">
            <div class="col-lg-12">
                <p class="nameComm">
                    <a href="#">{{ review.from_contractor.get_full_name }}</a>
                </p>

                <span class="dateComm44">
                                                {{ review.project.get_deal_type_display }}
                                            </span>

                <div class="stars box-sizing">
                    <a href="#">
                        {% if review.type == 'positive' %}
                            Положительный отзыв
                        {% elif review.type == 'negative' %}
                            Отрицательный отзыв
                        {% else %}
                            Нейтральный отзыв
                        {% endif %}
                    </a>
                </div>

                <p class="textComm44">{{ review.text }}</p>
            </div>
        </div>
    {% endfor %}
    {% if not reviews %}
        <div style="width: 100%; text-align: center; margin-top: 20px">
            <span style="font-size: 16pt">Нет отзывов</span>
        </div>

    {% endif %}
</div>