<div class="row info">
    <div class="col-lg-3">
        <div class="header"> Дата рождения</div>
        <div class="birth_edit_dat">
            {{ form.date_of_birth }}
        </div>
    </div>
    <div class="col-lg-3">
        <div style="position: relative" class="select-box-container custom-select"
             id="gender">
            <div class="select-box-header">
                <div class="header">Пол</div>
            </div>
            <input class="simple-select" placeholder="Выберите"
                   value="{{ form.get_gender_display }}" readonly>
            <input type="hidden" name="{{ form.gender.html_name }}"
                   value="{{ form.gender.value }}">
            <div class="select-box-options" style="width: 100%; display: none">
                <div style="min-width: inherit" class="box-wrapper">
                    <ul>
                        {% for id, text in form.gender.field.choices %}
                            <li data-id="{{ id }}">{{ text }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3">
        {% if request.user.is_contractor %}
            <div style="position: relative"
                 class="select-box-container custom-select"
                 id="gender">
                <div class="select-box-header">
                    <div class="header">Статус</div>
                </div>
                <input class="simple-select" placeholder="Выберите"
                       value="{{ form.get_status_display }}" readonly>
                <input type="hidden" name="{{ form.contractor_status.html_name }}"
                       value="{{ form.contractor_status.value }}">
                <div class="select-box-options" style="width: 100%; display: none">
                    <div style="min-width: inherit" class="box-wrapper">
                        <ul>
                            {% for id, text in form.contractor_status.field.choices %}
                                <li data-id="{{ id }}">{{ text }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="header">{{ form.organization_name.label }}</div>
            <input name="organization_name" class="simple-input"
                   placeholder="Название организации"
                    {#                                               autocomplete="False"#}
                   value="{{ form.organization_name.value }}">
        {% endif %}

    </div>
    <div class="col-lg-3">
        <div class="header">Skype</div>
        <input name="{{ form.skype.html_name }}" class="simple-input"
               placeholder="skype id"
               value="{{ form.skype.value }}">
    </div>
    <div class="clearfix visible-lg"></div>
    <div class="col-lg-3">
        <div class="header">Сайт</div>
        <input name="{{ form.website.html_name }}" class="simple-input"
               placeholder="example.com"
               value="{{ form.website.value }}">
    </div>
    <div class="col-lg-3">
        <div class="header">Телефон</div>
        <input name="{{ form.phone.html_name }}" class="simple-input phone"
               placeholder="+7(909)999 00 00"
               value="{{ form.phone.value }}"
               type="tel">
    </div>
    <div class="col-lg-3">
        <div class="header">Второй телефон</div>
        <input name="{{ form.phone2.html_name }}" class="simple-input phone"
               placeholder="+7(909)999 00 00"
               value="{{ form.phone2.value }}"
               type="tel">
    </div>
    <div class="col-lg-3" style="text-align: center">
        <div style="display: block;" class="header">&nbsp;</div>
        <input type="submit" class="btn btn-simple" value="СОХРАНИТЬ">
    </div>
</div>