<div class="row financial_info">
    <div class="row">
        <div class="col-lg-6">
            <div class="header">Имя, Фамилия, Отчество</div>
            <input name="{{ fin_info_form.fio.html_name }}" class="simple-input"
                   placeholder="Иванов Иван Иванович"
                   value="{{ fin_info_form.fio.value }}">
        </div>
        <div class="col-lg-3">
            <div class="header"> Дата рождения</div>
            {{ fin_info_form.date_of_birth }}
        </div>
        <div class="col-lg-3">
            <div class="header">Телефон</div>
            <input name="{{ fin_info_form.phone.html_name }}" class="simple-input phone"
                   placeholder="+7(909)999 00 00"
                   value="{{ fin_info_form.phone.value }}"
                   type="tel">
        </div>
    </div>
    <div class="header">Резиденство</div>
    <div class="row">
        {% for residence in RESIDENCIES %}
            <div class="{% if forloop.last %}col-lg-4{% else %}col-lg-3{% endif %}">
                <label class="mod-align-center fin_statuses">
                    <input name="{{ fin_info_form.residency.html_name }}" class="custom-radio" type="radio"
                           {% if residence.0 == fin_info_form.residency.value %}checked {% endif %}
                           value="{{ residence.0 }}">
                    &nbsp; {{ residence.1 }}
                </label>
            </div>
        {% endfor %}
    </div>
    <div class="header">Юридический статус</div>
    <div class="row">
        {% for legal_status in LEGAL_STATUSES %}
            <div class="{% if forloop.last %}col-lg-4{% else %}col-lg-3{% endif %}">
                <label class="mod-align-center fin_statuses">
                    <input name="{{ fin_info_form.legal_status.html_name }}" class="custom-radio" type="radio"
                           {% if legal_status.0 == fin_info_form.legal_status.value %}checked {% endif %}
                           value="{{ legal_status.0 }}">
                    &nbsp; {{ legal_status.1 }}
                </label>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="separator">
                <div class="border"></div>
            </div>
        </div>
    </div>
    <div class="js-fin-info" id="-russian_resident-individual" >
        <div class="row">
            <div class="col-lg-3">
                <div class="header">Серия паспорта</div>
                <input name="{{ fin_info_form.passport_series.html_name }}" class="simple-input passport_series"
                       placeholder="1234"
                       value="{{ fin_info_form.passport_series.value }}">
            </div>
            <div class="col-lg-3">
                <div class="header">Номер паспорта</div>
                <input name="{{ fin_info_form.passport_number.html_name }}" class="simple-input passport_number"
                       placeholder="567890"
                       value="{{ fin_info_form.passport_number.value }}">
            </div>
            <div class="col-lg-3 -non_russian_resident-individual">
                <div class="header">Код подразделения</div>
                <input name="{{ fin_info_form.subdivision_code.html_name }}" class="simple-input subdivision_code"
                       placeholder="321-645"
                       value="{{ fin_info_form.subdivision_code.value }}">
            </div>
            <div class="col-lg-3">
                <div class="header">Дата выдачи</div>
                {{ fin_info_form.passport_issue_date }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">Кем выдан</div>
                <input name="{{ fin_info_form.passport_issued_by.html_name }}" class="simple-input"
                       placeholder="УВД Центрального района Московской области"
                       value="{{ fin_info_form.passport_issued_by.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">Почтовый адрес</div>
                <input name="{{ fin_info_form.postal_address.html_name }}" class="simple-input"
                       placeholder="143500, Россия, Московская обл. Истринский р-н, д.Красновидово ул.Полевая д.65"
                       value="{{ fin_info_form.postal_address.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">Адрес регистрации</div>
                <input name="{{ fin_info_form.registration_address.html_name }}" class="simple-input"
                       placeholder="143500, Россия, Московская обл. Истринский р-н, д.Красновидово ул.Полевая д.65"
                       value="{{ fin_info_form.registration_address.value }}">
            </div>
        </div>
        <div class="row -russian_stay_permit-individual">
            <div class="col-lg-12">
                <div class="header">Адрес в стране, гражданином которой является иностранное физическое лицо</div>
                <input name="{{ fin_info_form.country_address.html_name }}" class="simple-input"
                       placeholder=""
                       value="{{ fin_info_form.country_address.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="separator">
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="header">ИНН</div>
                <input name="{{ fin_info_form.inn.html_name }}" class="simple-input inn"
                       placeholder="12345678912"
                       value="{{ fin_info_form.inn.value }}">
            </div>
            <div class="col-lg-3">
                <div class="header">Номер карты</div>
                <input name="{{ fin_info_form.credit_card_number.html_name }}" class="simple-input credit_card_number"
                       placeholder="4444-4444-4444-4448-444"
                       value="{{ fin_info_form.credit_card_number.value }}">
            </div>
            <div class="col-lg-3">
                <div class="header">Яндекс.Деньги</div>
                <input name="{{ fin_info_form.yandex_money.html_name }}" class="simple-input yandex_money"
                       placeholder="410012310862090"
                       value="{{ fin_info_form.yandex_money.value }}">
            </div>
            <div class="col-lg-3">
                <div class="header">WebMoney</div>
                <input name="{{ fin_info_form.web_money.html_name }}" class="simple-input yandex_money"
                       placeholder="410012310862090"
                       value="{{ fin_info_form.web_money.value }}">
            </div>
        </div>
    </div>
    <div class="js-fin-info" id="-russian_resident-entity" >
        <div class="row">
            <div class="col-lg-6">
                <div class="header">{{ fin_info_form.correspondent_account.label }}</div>
                <input name="{{ fin_info_form.correspondent_account.html_name }}" class="simple-input correspondent_account"
                       placeholder="30101810900000000181"
                       value="{{ fin_info_form.correspondent_account.value }}">
            </div>
            <div class="col-lg-3">
                <div class="header">{{ fin_info_form.bank_bic.label }}</div>
                <input name="{{ fin_info_form.bank_bic.html_name }}" class="simple-input bank_bic"
                       placeholder="044567899"
                       value="{{ fin_info_form.bank_bic.value }}">
            </div>
            <div class="col-lg-3">
                <div class="header">{{ fin_info_form.bank_inn.label }}</div>
                <input name="{{ fin_info_form.bank_inn.html_name }}" class="simple-input inn"
                       placeholder="1123456789"
                       value="{{ fin_info_form.bank_inn.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">{{ fin_info_form.checking_account.label }}</div>
                <input name="{{ fin_info_form.checking_account.html_name }}" class="simple-input checking_account"
                       placeholder="11234567891234567890"
                       value="{{ fin_info_form.checking_account.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">{{ fin_info_form.bank_name.label }}</div>
                <input name="{{ fin_info_form.bank_name.html_name }}" class="simple-input"
                       placeholder="'Возрождение'(ПАО) г.Москва"
                       value="{{ fin_info_form.bank_name.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="header">{{ fin_info_form.ppc.label }}</div>
                <input name="{{ fin_info_form.ppc.html_name }}" class="simple-input"
                       placeholder="501701001"
                       value="{{ fin_info_form.ppc.value }}">
            </div>
            <div class="col-lg-6">
                <div class="header">{{ fin_info_form.psrn.label }}</div>
                <input name="{{ fin_info_form.psrn.html_name }}" class="simple-input"
                       placeholder="1065017025226"
                       value="{{ fin_info_form.psrn.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="separator">
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">{{ fin_info_form.organization_name.label }}</div>
                <input name="{{ fin_info_form.organization_name.html_name }}" class="simple-input"
                       placeholder="ООО Архитектура Проект Сервис"
                       value="{{ fin_info_form.organization_name.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">{{ fin_info_form.organization_registered_address.label }}</div>
                <input name="{{ fin_info_form.organization_registered_address.html_name }}" class="simple-input"
                       placeholder="143500, РФ, Московская область, Истринский район, г. Истра, ул.Адасько,д.9, оф.9"
                       value="{{ fin_info_form.organization_registered_address.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">{{ fin_info_form.organization_postal_address.label }}</div>
                <input name="{{ fin_info_form.organization_postal_address.html_name }}" class="simple-input"
                       placeholder="143500, РФ, Московская область, Истринский район, г. Истра, ул.Адасько,д.9, оф.9"
                       value="{{ fin_info_form.organization_postal_address.value }}">
            </div>
        </div>
    </div>
    <div class="js-fin-info" id="-non_russian_resident-entity" >
        <div class="row">
            <div class="col-lg-6">
                <div class="header">Корр.счет вашего банка в уполномоченном банке</div>
                <input name="{{ fin_info_form.correspondent_account.html_name }}" class="simple-input correspondent_account"
                       placeholder="30101810900000000181"
                       value="{{ fin_info_form.correspondent_account.value }}">
            </div>
            <div class="col-lg-3">
                <div class="header">БИК уполномоченного банка</div>
                <input name="{{ fin_info_form.bank_bic.html_name }}" class="simple-input bank_bic"
                       placeholder="044567899"
                       value="{{ fin_info_form.bank_bic.value }}">
            </div>
            <div class="col-lg-3">
                <div class="header">ИНН уполномоченного банка</div>
                <input name="{{ fin_info_form.bank_inn.html_name }}" class="simple-input inn"
                       placeholder="1123456789"
                       value="{{ fin_info_form.bank_inn.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">{{ fin_info_form.checking_account.label }} (IBAN)</div>
                <input name="{{ fin_info_form.checking_account.html_name }}" class="simple-input checking_account"
                       placeholder="11234567891234567890"
                       value="{{ fin_info_form.checking_account.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">Название вашего банка</div>
                <input name="{{ fin_info_form.bank_name.html_name }}" class="simple-input"
                       placeholder="'Возрождение'(ПАО) г.Москва"
                       value="{{ fin_info_form.bank_name.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">Название уполномоченного банка в РФ</div>
                <input name="{{ fin_info_form.authorized_bank_name.html_name }}" class="simple-input"
                       placeholder="'Возрождение'(ПАО) г.Москва"
                       value="{{ fin_info_form.authorized_bank_name.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="separator">
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">{{ fin_info_form.organization_name.label }}</div>
                <input name="{{ fin_info_form.organization_name.html_name }}" class="simple-input"
                       placeholder="ООО Архитектура Проект Сервис"
                       value="{{ fin_info_form.organization_name.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">{{ fin_info_form.organization_registered_address.label }}</div>
                <input name="{{ fin_info_form.organization_registered_address.html_name }}" class="simple-input"
                       placeholder="143500, РФ, Московская область, Истринский район, г. Истра, ул.Адасько,д.9, оф.9"
                       value="{{ fin_info_form.organization_registered_address.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">{{ fin_info_form.organization_postal_address.label }}</div>
                <input name="{{ fin_info_form.organization_postal_address.html_name }}" class="simple-input"
                       placeholder="143500, РФ, Московская область, Истринский район, г. Истра, ул.Адасько,д.9, оф.9"
                       value="{{ fin_info_form.organization_postal_address.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">{{ fin_info_form.organization_reg_number.label }}</div>
                <input name="{{ fin_info_form.organization_reg_number.html_name }}" class="simple-input"
                       placeholder=""
                       value="{{ fin_info_form.organization_reg_number.value }}">
            </div>
        </div>
    </div>
    <div class="js-fin-info" id="-russian_resident-employed">
        <div class="row">
            <div class="col-lg-6">
                <div class="header">{{ fin_info_form.correspondent_account.label }}</div>
                <input name="{{ fin_info_form.correspondent_account.html_name }}" class="simple-input correspondent_account"
                       placeholder="30101810900000000181"
                       value="{{ fin_info_form.correspondent_account.value }}">
            </div>
            <div class="col-lg-6">
                <div class="header">{{ fin_info_form.inn.label }}</div>
                <input name="{{ fin_info_form.inn.html_name }}" class="simple-input inn"
                       placeholder="5017064770 Свидетельство 50№010352102 jn 19.06.2006г."
                       value="{{ fin_info_form.inn.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="header">{{ fin_info_form.checking_account.label }}</div>
                <input name="{{ fin_info_form.checking_account.html_name }}" class="simple-input checking_account"
                       placeholder="11234567891234567890"
                       value="{{ fin_info_form.checking_account.value }}">
            </div>
            <div class="col-lg-6">
                <div class="header">Номер карты Р/С</div>
                <input name="{{ fin_info_form.credit_card_number.html_name }}" class="simple-input credit_card_number"
                       placeholder="4444-4444-4444-4448-444"
                       value="{{ fin_info_form.credit_card_number.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">{{ fin_info_form.bank_name.label }}</div>
                <input name="{{ fin_info_form.bank_name.html_name }}" class="simple-input"
                       placeholder="'Возрождение'(ПАО) г.Москва"
                       value="{{ fin_info_form.bank_name.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="header">{{ fin_info_form.bank_bic.label }}</div>
                <input name="{{ fin_info_form.bank_bic.html_name }}" class="simple-input bank_bic"
                       placeholder="501701001"
                       value="{{ fin_info_form.bank_bic.value }}">
            </div>
            <div class="col-lg-6">
                <div class="header">{{ fin_info_form.psrn.label }}ИП</div>
                <input name="{{ fin_info_form.psrn.html_name }}" class="simple-input"
                       placeholder="106501702522678"
                       value="{{ fin_info_form.psrn.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="separator">
                    <div class="border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">{{ fin_info_form.organization_name.label }}</div>
                <input name="{{ fin_info_form.organization_name.html_name }}" class="simple-input"
                       placeholder="ООО Архитектура Проект Сервис"
                       value="{{ fin_info_form.organization_name.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">{{ fin_info_form.organization_registered_address.label }}</div>
                <input name="{{ fin_info_form.organization_registered_address.html_name }}" class="simple-input"
                       placeholder="143500, РФ, Московская область, Истринский район, г. Истра, ул.Адасько,д.9, оф.9"
                       value="{{ fin_info_form.organization_registered_address.value }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="header">{{ fin_info_form.organization_postal_address.label }}</div>
                <input name="{{ fin_info_form.organization_postal_address.html_name }}" class="simple-input"
                       placeholder="143500, РФ, Московская область, Истринский район, г. Истра, ул.Адасько,д.9, оф.9"
                       value="{{ fin_info_form.organization_postal_address.value }}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="text-align: right">
            <div style="display: block;" class="header">&nbsp;</div>
            <input type="submit" class="btn btn-simple" value="СОХРАНИТЬ">
        </div>
    </div>
</div> <!-- financial_info -->

<script>
    window.onload = function () {
        $('.passport_series').mask('0000');
        $('.passport_number').mask('000000');
        $('.subdivision_code').mask('000-000');
        $('.inn').mask('0#');
        $('.yandex_money').mask('0#');
        $('.web_money').mask('0#');
        $('.bank_bic').mask('0#');
        $('.correspondent_account').mask('0#');
        $('.checking_account').mask('0#');
        $('.credit_card_number').mask('0000-0000-0000-0000-0000');
        $('.datepicker').mask('00.00.0000');
    }
</script>