{% load project_tags thumbnail %}
<div class="old-main">
    <div class="projectsBlock new-pro-block disTab">
        {% for proj in projects_in_work %}
            <div class="projectPro clearfix">
                <div class="col-lg-9 leftPro">
                    <p class="titlePro">
                        <a href="{% url 'projects:detail' proj.pk %}">{{ proj.name }}</a>
                    </p>

                    <ul class="desPro">
                        <li>Объект "{{ proj.realty.name }}"</li>
                        <li><span>{{ proj.get_team_answers|length }}</span> ответ от имени
                            группы
                        </li>
                    </ul>

                    {% if request.user == customer %}
                        <ul class="color-menu">
                            <li>
                                <a href="{% url 'projects:detail' proj.pk %}#new-answers">Новые: {{ proj|get_new_answers|length }}</a>
                            </li>
                            <li>
                                <a href="{% url 'projects:detail' proj.pk %}#candidate-answers">Кандидаты: {{ proj|get_candidate_answers|length }}</a>
                            </li>
                            <li>
                                <a href="{% url 'projects:detail' proj.pk %}#rejected-answers">Отказал: {{ proj|get_rejected_answers|length }}</a>
                            </li>
                        </ul>
                    {% endif %}

                    <p class="textPro">
                        {{ proj.text }}
                    </p>

                    <ul class="listPro listPro_srch-style">
                        <li class="listPro__author">
                            {% thumbnail customer.avatar "35x35" crop="center" as avatar %}
                                <img src="{{ avatar.url }}" width="{{ avatar.width }}" height="{{ avatar.height }}">
                            {% endthumbnail %}
                            <span>{{ customer.get_full_name }}</span>
                        </li>
                        <li class="listPro__date"><span>{{ proj.created }}</span></li>
                        <li class="listPro__hits"><span>{{ proj.hit_count.hits }}</span></li>
                        <li class="listPro__count"><span>{{ proj.answers.count }}</span></li>
                    </ul>
                </div>

                <div class="col-lg-3 rightPro right-pro-red">
                    <p class="cenaPro">
                        {{ proj.budget }} <i
                            class="{% fa_currency_classes proj.currency %}"></i>
                    </p>

                    {% if request.user == proj.customer %}
                        <div class="open-projects-div1">
                            <ul>
                                <li {% if not proj.secure_deal %}hidden{% endif %}>
                                    Безопасная сделка
                                </li>
                                <li class="icon-edit_list">
                                    <a href='{% url 'projects:customer-project-edit' pk=proj.pk %}?back={{ request.path }}'>Редактировать</a>
                                </li>

                                <li>
                                    <form action="{% url 'projects:customer-project-trash' pk=proj.pk %}"
                                          method="POST" novalidate>
                                        {% csrf_token %}
                                        <input type="hidden" name="next"
                                               value="{{ request.path }}">
                                        <a href="#"
                                           onclick="$(this).closest('form').submit(); return false">Переместить
                                            в корзину</a>
                                    </form>
                                </li>

                            </ul>
                        </div>


                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-lg-12 pagin">
        {% include 'partials/pagination.html' %}
    </div>
</div>