<div class="old-main">
    {% if request.user == customer %}
        <div class="row" style="margin: 35px 0;">
            <div class="col-lg-12">
                <div class="btn-group btn-round">
                    <a data-toggle="tab" href="#_projects"
                       class="btn btn-default tab-inserted active">
                        Текущие объекты
                        <span>{{ open_projects.count }}</span>
                    </a>
                    {% if request.user == customer %}
                        <a data-toggle="tab" href="#trashed_projects"
                           class="btn btn-default tab-inserted">
                            Удаленные объекты
                            <span>{{ trashed_projects.count }}</span>
                        </a>
                    {% endif %}
                </div>
                <a href="{% url 'projects:customer-project-create' %}"
                   style="float: right; letter-spacing: 4px; padding-left: 35px; padding-right: 35px"
                   class="btn btn-simple">
                    Разместить заказ
                </a>
            </div>
        </div>
    {% endif %}
    <div class="tab-content">
        <div id="_projects" class="tab-pane fade in active">
            {% include 'partials/inc-projects.html' with open_projects=open_projects %}
        </div>
        <div id="trashed_projects" class="tab-pane fade">
            {% include 'partials/inc-projects.html' with open_projects=trashed_projects trash=1 %}
        </div>
    </div>
</div>