<div class="row" style="margin: 35px 0">
    {% if request.user == customer %}
    <div class="col-lg-12">
        <div class="btn-group btn-round">
            <a data-toggle="tab" href="#_objects"
               class="btn btn-default tab-inserted active">
                Текущие объекты
                <span>{{ objects.count }}</span>
            </a>
            <a data-toggle="tab" href="#trashed_objects"
               class="btn btn-default tab-inserted">
                Удаленные объекты
                <span>{{ trashed_objects.count }}</span>
            </a>
        </div>
        <a href="{% url 'projects:customer-project-create' %}"
           style="float: right; letter-spacing: 4px; padding-left: 35px; padding-right: 35px; text-transform: uppercase;"
           class="btn btn-simple">
            Добавить объект
        </a>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="link-sort">
            Сортировать по:
{#             name="name" #}
            <button class="bnt btn-default" type="submit" onclick="sortRealtyBy({sortBy: 'name', user_id: '{{ customer.id }}', state: 'active'}, '#_objects')">
                названию
            </button>
            <button class="bnt btn-default" type="submit" onclick="sortRealtyBy({sortBy: 'created', user_id: '{{ customer.id }}', state: 'active'}, '#_objects')">
                дате создания
            </button>
            <button class="bnt btn-default" type="submit" onclick="sortRealtyBy({sortBy: 'num_orders', user_id: '{{ customer.id }}', state: 'active'}, '#_objects')">
                количеству заказов
            </button>
        </div>
    </div>
</div>
<div class="tab-content">
    <div id="_objects" class="tab-pane fade in active">
        {% include 'partials/inc-objects.html' with objects=objects %}
    </div>
    <div id="trashed_objects" class="tab-pane fade">
        {% include 'partials/inc-objects.html' with objects=trashed_objects trash=1 %}
    </div>
</div>