{% extends "password_reset/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}
    {% include 'partials/header.html' %}
    <div class="container mainScore">
        <div class="row">

            <div class="col-lg-12">
                <p class="titleScore">Восстановление пароля</p>
            </div>

            <div class="form-regestration" style="padding-top:10px;">
                <form method="post" action="{{ url }}">
                    {% csrf_token %}

                    <div class="col-lg-12 select-reg">
                        <input type="email" name="{{ form.username_or_email.name }}" class="box-sizing pass-reg"
                               id="inputEmail"
                               placeholder="Электронная почта">
                        <p>{{ form.username_or_email.errors.as_text }}</p>
                    </div>

                    <div class="col-lg-12 select-reg">
                        <button type="submit" class="reg-sub">
                            Восстановить
                        </button>
                    </div>
                </form>
                <div class="col-lg-12 select-reg">
                    <p></p>
				</div>
            </div>

            {% include 'partials/footer.html' %}
        </div>
    </div>

{% endblock %}
