{% extends "password_reset/base.html" %}{% load i18n %}

{% block title %}{% trans "New password set" %}{% endblock %}

{% block content %}
    {% include 'partials/header.html' %}
    <div class="container mainScore">
        <div class="row">
            <div class="col-lg-12">
                <p class="titleScore">Успех</p>
            </div>

            <div class="col-lg-12">
                {% trans "Your password has successfully been reset. You can use it right now on the login page." %}
            </div>

            {% include 'partials/footer.html' %}
        </div>
    </div>

{% endblock %}


