{% extends "password_reset/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery sent" %}{% endblock %}

{% block content %}
    {% include 'partials/header.html' %}
    <div class="container mainScore">
        <div class="row">
            <div class="col-lg-12">
                <p class="titleScore">Письмо отправлено</p>
            </div>
            <div class="block_registr" style="height: 300px;">
                {% blocktrans with ago=timestamp|timesince %}An email was sent to <strong>{{ email }}</strong>
                    {{ ago }} ago. Use the link in it to set a new password.{% endblocktrans %}
            </div>

            {% include 'partials/footer.html' %}
        </div>
    </div>

{% endblock %}

