{% extends "password_reset/base.html" %}{% load i18n %}

{% block content %}
    {% include 'partials/header.html' %}
    <div class="container mainScore">
        <div class="row">
            <div class="col-lg-12">
                <p class="titleScore">Сброс пароля</p>
            </div>


                    {% if invalid %}{% url "password_reset_recover" as recovery_url %}
                        <div class="col-lg-12">
                        {% blocktrans %}Sorry, this password reset link is invalid. You can still
                            <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}
                        </div>
                    {% else %}




                        <div class="form-regestration" style="padding-top:10px;">
                                                {% blocktrans %}Hi, <strong>{{ username }}</strong>. Please choose your new password.
                        {% endblocktrans %}
                        <form method="post" action="{% url "password_reset_reset" token %}">
                            {% csrf_token %}

                            <div class="col-lg-12 select-reg">
                                <input type="password" name="{{ form.password1.name }}" class="box-sizing pass-reg"
                                       id="id_password1"
                                       placeholder="Новый пароль">
                                <p>{{ form.password1.errors.as_text }}</p>
                            </div>

                            <div class="col-lg-12 select-reg">
                                <input type="password" name="{{ form.password2.name }}" class="box-sizing pass-reg"
                                       id="id_password2"
                                       placeholder="Подтверждение">
                                <p>{{ form.password2.errors.as_text }}</p>
                            </div>

                            <div class="col-lg-12 select-reg">
                                <button type="submit" class="reg-sub">
                                    Изменить пароль
                                </button>
                            </div>
                        </form>
                        </div>
                    {% endif %}

            {% include 'partials/footer.html' %}
        </div>
    </div>

{% endblock %}
