<div class="documentsChat" {% if tab != 'orders' %}style="border-top: none" {% endif %}>
    {% if tab == 'orders' %}
        <p style="text-align: center">Прикрепленные документы</p>
    {% else %}
        <div style="margin-left: -30px; margin-right: -30px">
            <div class="header-wrapper">
                <span class="header" style="font-size: 18px; padding-bottom: 3px">
                    Прикрепленные документы
                </span>
                <div class="triangle-header"></div>
            </div>
        </div>
    {% endif %}
    <ul id="{{ class }}"></ul>
    <div style="text-align: center">
        <a class="docs-more js-more" style="display: none"></a>
    </div>
</div>
<div style="margin-left: -27px; margin-right: -27px;">
    <a href="{% url 'common:create' %}"
       class="chat-button icon-print"
       style="padding: 25px 10px">
        Распечатать с помощью ресурса
    </a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var $documents_container = $('#' + '{{ class }}');
        var $more = $documents_container.parent().find('.js-more');
        $documents_container.bind('DOMSubtreeModified', function (e) {
            var $elements = $documents_container.children('li');
            var num_elements = $elements.length;
            if (num_elements > 2) {
                $more.show();
                if ($more.hasClass('docs-more')) {
                    $elements.slice(0, 2).show();
                    $elements.slice(2).hide();
                }
            } else {
                $elements.show();
                $more.hide();
            }
        });
        $more.on('click', function (e) {
            e.preventDefault();
            var $elements = $documents_container.children('li');
            if ($more.hasClass('docs-more')) {
                $elements.show();
                $more.removeClass('docs-more');
                $more.addClass('docs-less');
            } else {
                $elements.slice(0, 2).show();
                $elements.slice(2).hide();
                $more.removeClass('docs-less');
                $more.addClass('docs-more');
            }
            {#            $more.toggleClass('docs-more', 'docs-less')#}
        })
    })
</script>