{% load user_tags %}
<div class="team-block orderBlock box-sizing" id="teamMyBlock{{ yteam.pk }}"
     data-team-id="{{ yteam.pk }}">
    <span class="dimovChat"></span>
    <div class="titleOB mod-align-center">
        <div class="max-rows" style="display: inline-block">
            {{ yteam }} {% if yteam.owner.pk == request.user.pk %}
            [<a class="my-group" href="{% url 'users:team-profile' pk=yteam.pk %}">Моя группа</a>] {% endif %}
        </div>
        <div class="mod-align-center-inline">
            <span class="js-count count-order" id="count-team-{{ yteam.pk }}">{% get_new_count_for_team request.user yteam.id %}</span>
            {% if yteam.orders.count > 0 %}<span class="icon-hand"></span> {% endif %}
        </div>
    </div>

    <div class="hideOBB disTab">
        <div class="pOB">
{#            <span style="display: none;"#}
{#                  class="team-count-{{ yteam.id }}">#}
{#                {% get_new_count_for_team request.user yteam.id %}#}
{#            </span>#}
            <span>Владелец группы:</span> [{{ yteam.owner.username }}]
        </div>
        <div class="pDB">
            <div>
                <strong>Всего участников в группе</strong> <span class="select">{{ yteam.contractors.count }}</span>
            </div>
            <div>
                {#                  //FIXME: Изменить Участники группы --> Сейчас на сайте#}
                {#                <strong>Сейчас на сайте:</strong>#}
                <strong>Участники группы:</strong>
                <div class="team-user-list" id="team-users-online">
                    {#                    user-1, user-2, user-3, user-4, user-5, user-6, user-7, user-8, user-9,#}
                    {#                    user-1, user-2, user-3, user-4, user-5, user-6, user-7, user-8, user-9,#}
                    {#                    user-1, user-2, user-3, user-4, user-5, user-6, user-7, user-8, user-9,#}
                    {#                    user-1, user-2, user-3, user-4, user-5, user-6, user-7, user-8, user-9,#}
                    {% for tuser in yteam.contractors.all %}
                        <a href="{% url 'users:contractor-profile' pk=tuser.pk %}">{{ tuser.username }}</a>
                    {% endfor %}
                </div>
            </div>
            <div>
                <strong>Заказов от имени группы</strong> <span class="select">{{ yteam.orders.count }}</span>
            </div>
        </div>

        <p style="display: none;">
            {% if request.user.pk != torder.team.owner.pk %}
                <span class="team-chat-user"
                      data-id="{{ yteam.owner.pk }}">{{ yteam.owner.username }}</span>
            {% endif %}
            {% for tuser in yteam.contractors.all %}
                {% if request.user.pk != tuser.pk %}
                    <span class="team-chat-user"
                          data-id="{{ tuser.pk }}">{{ tuser.username }}  </span>
                {% endif %}
            {% endfor %}
        </p>

    </div>
</div>