{% load user_tags %}
<div class="orderBlock box-sizing order-block" data-team-id="
     {% if order.team %}{{ order.team.pk }}{% else %}0{% endif %}"
     data-project-id="{{ order.project.id }}"
     id="orderBlock{{ order.id }}"
        {% if request.user.is_contractor %}
     data-recipent-id="{{ order.project.customer.pk }}"
        {% else %}
            {% if order.contractor %}
     data-recipent-id="{{ order.contractor.pk }}"
            {% else %}
     data-recipent-id="{{ order.team.owner.pk }}"
            {% endif %}
        {% endif %}
     data-id="{{ order.id }}"
     data-secure-deal="{% if order.secure %}true{% else %}false{% endif %}"
     data-order-name="{{ order.project.name }}">

    <span class="dimovChat"></span>
    <div class="titleOB mod-align-center">
        {{ order }}
        <span class="js-count count-order" id="count-order-{{ order.id }}">
            {% get_new_count_for_order request.user order.id %}
        </span>
        {% if order.secure %}
            <span class="icon-protect"></span>
        {% endif %}
    </div>

    <div class="hideOBB">
        <p class="pOB">
{#            <span style="display: none;"#}
{#                  class="order-count-{{ order.id }}">{% get_new_count_for_order request.user order.id %}#}
{#            </span>#}
            <span>Исполнитель:</span>
            {% if order.contractor %}
                {{ order.contractor.get_full_name }}
            {% else %}
                {{ order.team.name }}
            {% endif %}
        </p>
        <a href="#" class="linkChat11 full-order-info">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            Полное описание заказа
        </a>
    </div>
</div>