{% extends 'partials/base.html' %}

{% load common_tags %}
{% load specializtions_tags %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
    {% include 'partials/modals/project_selection.html' %}
    {% include 'partials/header.html' %}
    
    
	<div class="container mainScore">
		<div class="row">
			<div class="col-lg-12">
				<p class="titleScore">{% if display_msg %}{{ display_msg }}{% else %}Поиск исполнителей{% endif %}</p>
			</div>
			
            
            <form action="{% url 'users:contractor-filter' %}" method="GET" novalidate>
                <div class="col-lg-12">
                    <div class="filter clearfix -spec-work-type-combo-container">
                        <div class="triangle1"></div>
                        
                        
                        <div class="titleF1 disTab">
                            <div class="col-lg-3">{% trans 'project_stage0' %}</div>
                        </div>
                        
                        <div class="polsF1 disTab">
                            <div class="col-lg-3">
                                {{ form.work_type }}
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        
                        <div class="titleF1 disTab">
                        </div>
                        
                        <div class="polsF1 disTab">
                            <div class="col-lg-3 -single-spec-select">
                                <div class="-bold">{% trans 'project_stage1' %} <span style="color: red">{{ form.specialization.errors.as_text }}</span></div>
                                <input type="hidden" class="-spec-select -spec-select-level-1" style="width: 100%">
                            </div>
                            <div class="col-lg-3 -single-spec-select">
                                <div class="-bold"><span class="-dynamic-label">{% trans 'project_stage2' %}</span></div>
                                <input type="hidden" class="-spec-select -spec-select-level-2" style="width: 100%">
                            </div>
                            <div class="col-lg-3 -single-spec-select">
                                <div class="-bold">{% trans 'project_stage3' %}</div>
                                <input type="hidden" class="-spec-select -spec-select-level-3" style="width: 100%">
                            </div>
                            <div class="col-lg-3 -single-spec-select">
                                <div class="-bold">{% trans 'project_stage4' %}</div>
                                <input type="hidden" class="-spec-select -spec-select-level-4" style="width: 100%">
                            </div>
                            
                            <input type="hidden" name="{{ form.specialization.html_name }}" value="{{ form.specialization.value }}" class="-chosen-spec-id">
                        </div>
                        
                        
                        <div class="searchF1 polsF1 polsFF polsF3 resSearchF1">
                            <div class="col-lg-3">
                                <a href="#" class="findReal" onclick="$(this).closest('form').submit(); return false">
                                    найти исполнителя
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a href="{% url 'users:contractor-filter' %}" class="clearSearch">
                                    Очистить фильтр
                                </a>
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        
                        <div class="resSearchF1">
                            <div class="col-lg-3">
                                <p class="titleResF1">Расширенный поиск</p>
                                <button class="resButtonF1">
                                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-lg-9">
                                <div class="borderS1"></div>
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        
                        
                        
                        <div class="slideRes disTab activeSlide">
                            <div class="titleF1 disTab">
                                <div class="col-lg-12">Местоположение</div>
                            </div>
                            
                            <div class="polsF1 disTab">
                                <div class="col-lg-3">
                                    <input type="hidden" class="-location-select -location-select-country" style="width: 100%">
                                </div>
                                
                                <div class="col-lg-3">
                                    <input type="hidden" class="-location-select -location-select-region" style="width: 100%">
                                </div>
                                
                                <div class="col-lg-3">
                                    <input type="hidden" class="-location-select -location-select-city" style="width: 100%">
                                </div>
                                
                                <input type="hidden" id="chosenLocationId" name="{{ form.location.html_name }}" value="{{ form.location.value }}">
                            </div>
                            
                            
                            <div class="titleF1 disTab">
                                <div class="col-lg-3">Классификация здания</div>
                                <div class="col-lg-3">Вид строительства</div>
                            </div>
                            
                            <div class="polsF1 disTab">
                                <div class="col-lg-3">
                                    {{ form.building_classification }}
                                </div>
                                
                                <div class="col-lg-3">
                                    {{ form.construction_type }}
                                </div>
                                
                                <div class="col-lg-3">
                                    <label>{{ form.cro }}<span></span></label>
                                    <p>Требуется допуск (СРО)</p>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                    </div>
                </div>
                
                
                
                <div class="buttonGP disTab">
                    <div class="btn-group valProject valProject2" role="group" aria-label="...">
                        {% for val, text in form.party_types.field.choices %}
                            <button
                                type="submit"
                                name="{{ form.party_types.html_name }}"
                                value="{{ val }}"
                                class="{% if val == last_party_types or not last_party_types and val == 'all' %}active{% endif %} btn btn-default">
                                    {{ text }}
                            </button>
                        {% endfor %}
                    </div>
                    
                    <input type="hidden" name="{{ form.last_party_types.html_name }}" value="{{ last_party_types }}">
                    
                    <div class="polsF1 disTab polsSearch">
                        <div class="col-lg-3">
                            <select name="{{ form.order_by.html_name }}" onchange="$(this).closest('form').submit()" class="selectpicker">
                                {% for val, text in form.order_by.field.choices %}
                                    <option value="{{ val }}">{{ text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <input type="hidden" name="{{ form.last_order_by.html_name }}" value="{{ last_order_by }}">
                        <input type="checkbox" name="{{ form.reverse_order.html_name }}" {% if reverse_order %}checked{% endif %} style="display: none">
                    </div>
                </div>
            </form>
            
            
            
            {% for obj in coll %}
                {% if obj|class_name == 'Team' %}
                    {% with team=obj %}
                        <div class="executorBlock clearfix">
                            <div class="col-lg-4">
                                <a href="{% url 'users:team-profile' pk=team.pk %}" class="aLinkExe">
                                    <div class="imgExecutor">
                                        {% if team.owner.avatar %}
                                            {% thumbnail team.owner.avatar "126x125" crop="center" as avatar %}
                                                <img src="{{ avatar.url }}" alt="profile-image">
                                            {% endthumbnail %}
                                        {% else %}
                                            {% if team.owner.gender == "female" %}
                                                <img src="{% static 'img/avatars/avatar-female.jpg' %}" alt="profile-image">
                                            {% else %}
                                                <img src="{% static 'img/avatars/avatar-male.jpg' %}" alt="profile-image">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </a>
                                <p class="nameExecutor">
                                    <a href="{% url 'users:team-profile' pk=team.pk %}">{{ team.name }}</a>
                                </p>
                                <p class="navv2">На сайте c {{ team.created|date:"d M Y"}}</p>
                                <div class="statusUser">Свободен</div>
                            </div>
                            
                            
                            <div class="col-lg-2">
                                <ul class="listExecutor">
                                    <li>
                                        <a href="{% url 'users:team-profile' pk=team.pk %}">
                                            смотреть профиль
                                        </a>
                                    </li>
                                    <li>
                                        {% if request.user.is_customer %}
                                            <a
                                                href="#"
                                                onclick="return false"
                                                data-contractor-id="{{ team.owner.pk }}"
                                                data-team-id="{{ team.pk }}"
                                                data-is-team-offer="true"
                                                data-toggle="modal"
                                                data-target="#projectSelectionModal">
                                                    предложить проект
                                            </a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        <a href="{% url 'chat:chat-user' %}?user_id={{ team.owner.pk }}#user{{ team.owner.pk }}">
                                            написать сообщение
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            
                            
                            <div class="col-lg-3">
                                {% specialization_team_widget team_id=team.pk  %}
                            </div>
                            
                            
                            <div class="col-lg-3 retts">
                                {% ratings_team_widget team.pk 'restList2' %}
                                
                                <!-- TODO -->
                                <div class="sroUser sroExecutor">
                                    <div class="iconSRO"></div>
                                    <p>Есть допуск СРО</p>
                                </div>
                            </div>
                            
                            
                            {% if TEMPLATE_DEBUG %}
                                <div class="col-lg-12" style="margin-bottom: 20px">
                                    <pre><!--
                                        --><b>######## Team owner #########</b><br><!--
                                        --><br><!--
                                        --><b>Specializations:</b> {{ team.owner.contractor_specializations.all }}<br><!--
                                        --><br><!--
                                        --><b>Location:</b> {{ team.owner.location }}<br><!--
                                        --><br><!--
                                        --><b>Build. classif-s:</b> {% for o in team.owner.orders.all %}{{ o.project.realty.building_classification }}, {% endfor %}<br><!--
                                        --><br><!--
                                        --><b>Constr. types:</b> {% for o in team.owner.orders.all %}{{ o.project.realty.construction_type }}, {% endfor %}<br><!--
                                        --><br><!--
                                        --><b>CRO:</b> {{ team.owner.cro }}<br><!--
                                        --><br><!--
                                        --><b>Work types:</b> {% for o in team.owner.orders.all %}{{ o.project.work_type }}, {% endfor %}<br><!--
                                        --><br><!--
                                        --><br><!--
                                        --><br><!--
                                        --><b>######## Team users #########</b><br><!--
                                        --><br><!--
                                        --><b>Specializations:</b> {% for u in team.users.all %}{{ u.contractor_specializations.all }}, {% endfor %}<br><!--
                                        --><br><!--
                                        --><b>Location:</b> {% for u in team.users.all %}{{ u.location }}, {% endfor %}<br><!--
                                        --><br><!--
                                        --><b>Build. classif-s:</b> {% for u in team.users.all %}{% for o in u.orders.all %}{{ o.project.realty.building_classification }}, {% endfor %}; {% endfor %}<br><!--
                                        --><br><!--
                                        --><b>Constr. types:</b> {% for u in team.users.all %}{% for o in u.orders.all %}{{ o.project.realty.construction_type }}, {% endfor %}; {% endfor %}<br><!--
                                        --><br><!--
                                        --><b>CRO:</b> {% for u in team.users.all %}{{ u.cro }}, {% endfor %}<br><!--
                                        --><br><!--
                                        --><b>Work types:</b> {% for u in team.users.all %}{% for o in u.orders.all %}{{ o.project.work_type }}, {% endfor %}; {% endfor %}<br><!--
                                    --></pre>
                                </div>
                            {% endif %}
                            
                            
                            <div class="gallMini disTab">
                                {% for portf in team.portfolios.all|slice:':4' %}
                                    <div class="col-lg-3">
                                        <a href="#" class="linkInsetCol">
                                            <div class="insetCol box-sizing disTab">
                                                <div class="imgGal" style="background-image: url('{{ portf.photos.first.img.url }}')">
                                                    <div class="imgFigure"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endwith %}
                {% elif obj|class_name == 'User' %}
                    {% with contractor=obj %}
                        <div class="executorBlock clearfix">
                            <div class="col-lg-4">
                                <a href="{% url 'users:contractor-profile' pk=contractor.pk %}" class="aLinkExe">
                                    <div class="imgExecutor">
                                        {% if contractor.avatar %}
                                            {% thumbnail contractor.avatar "126x125" crop="center" as avatar %}
                                                <img src="{{ avatar.url }}" alt="profile-image">
                                            {% endthumbnail %}
                                        {% else %}
                                            {% if contractor.gender == "female" %}
                                                <img src="{% static 'img/avatars/avatar-female.jpg' %}" alt="profile-image">
                                            {% else %}
                                                <img src="{% static 'img/avatars/avatar-male.jpg' %}" alt="profile-image">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </a>
                                <p class="nameExecutor">
                                    <a href="{% url 'users:contractor-profile' pk=contractor.pk %}">{{ contractor.get_full_name }} [{{ contractor.username }}]</a>
                                </p>
                                <p class="navv2">На сайте c {{ contractor.created|date:"d M Y"}}</p>

                                {% if contractor.contractor_status == 'free' %}
                                    <div class="statusUser">Свободен</div>
                                {% else %}
                                    <div class="statusUser busy">Занят</div>
                                {% endif %}
                            </div>
                            
                            
                            <div class="col-lg-2">
                                <ul class="listExecutor">
                                    <li>
                                        <a href="{% url 'users:contractor-profile' pk=contractor.pk %}">
                                            смотреть профиль
                                        </a>
                                    </li>
                                    
                                    {% if request.user.is_customer %}
                                        <li>
                                            <a
                                                href="#"
                                                onclick="return false"
                                                data-contractor-id="{{ contractor.pk }}"
                                                data-toggle="modal"
                                                data-target="#projectSelectionModal">
                                                    предложить проект
                                            </a>
                                        </li>
                                    {% endif %}
                                    
                                    <li>
                                        <a href="{% url 'chat:chat-user' %}?user_id={{ contractor.pk }}#user{{ contractor.pk }}">
                                            написать сообщение
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            
                            
                            <div class="col-lg-3">
                                {% specialization_widget user_id=contractor.pk  %}
                            </div>
                            
                            
                            <div class="col-lg-3 retts">
                                {% ratings_widget contractor.pk 'restList2' %}
                                
                                {% if contractor.cro %}
                                    <div class="sroUser sroExecutor">
                                        <div class="iconSRO"></div>
                                        <p>Есть допуск СРО</p>
                                    </div>
                                {% endif %}
                            </div>
                            
                            
                            {% if TEMPLATE_DEBUG %}
                                <div class="col-lg-12">
                                    <pre><!--
                                        --><b>Specializations:</b> {{ contractor.contractor_specializations.all }}<br><!--
                                        --><br><!--
                                        --><b>Location:</b> {{ contractor.location }}<br><!--
                                        --><br><!--
                                        --><b>Build. classif-s:</b> {% for o in contractor.orders.all %}{{ o.project.realty.building_classification }}, {% endfor %}<br><!--
                                        --><br><!--
                                        --><b>Constr. types:</b> {% for o in contractor.orders.all %}{{ o.project.realty.construction_type }}, {% endfor %}<br><!--
                                        --><br><!--
                                        --><b>CRO:</b> {{ contractor.cro }}<br><!--
                                        --><br><!--
                                        --><b>Work types:</b> {% for o in contractor.orders.all %}{{ o.project.work_type }}, {% endfor %}<br><!--
                                    --></pre>
                                </div>
                            {% endif %}
                            
                            <div class="gallMini disTab">
                                {% for portf in contractor.portfolios.all|slice:':4' %}
                                    <div class="col-lg-3">
                                        <a href="#" class="linkInsetCol">
                                            <div class="insetCol box-sizing disTab">
                                                <div class="imgGal" style="background-image: url('{{ portf.photos.first.img.url }}')">
                                                    <div class="imgFigure"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endwith %}
                {% endif %}
            {% endfor %}
            
            
            <div class="col-lg-12 pagin">
                {% include 'partials/pagination.html' %}	
            </div>
			
			
			{% include 'partials/footer.html' %}				
		</div>
	</div>
{% endblock %}

{% block js_block %}
    <script>
        {% if request.user.is_customer %}
            var customerId = {{ request.user.pk }}
            var $projectSelectionModal = $('#projectSelectionModal')
            var projectUrl_ = '/projects/%id%/'
            var projectOrderChatUrl_ = '/chat/#order%orderId%'
            
            
            $projectSelectionModal.on('shown.bs.modal', function($evt) {
                var $that = $(this)
                
                var $modalOpenButton = $($evt.relatedTarget)
                var $projectSelect = $that.find('.-project-select').first()
                
                $that.data('modalOpenButton', $modalOpenButton)
                
                initProjectSelect($projectSelect, customerId)
            })
            
            
            $projectSelectionModal.find('.-action-button').first().on('click', function($evt) {
                var $projectSelect = $projectSelectionModal.find('.-project-select').first()
                var $modalOpenButton = $projectSelectionModal.data('modalOpenButton')
                var isTeamOffer = $modalOpenButton.data('isTeamOffer')
                var project = $projectSelect.select2('data').origItem
                var projectUrl = _.replace('%id%', project.id, projectUrl_)
                var projectOrderChatUrl = _.replace('%orderId%', project.order.id, projectOrderChatUrl_)
                
                $projectSelectionModal.modal('hide')
                
                if (isTeamOffer) {
                    var contractorId = $modalOpenButton.data('contractorId')
                    var teamId = $modalOpenButton.data('teamId')
                    
                    if (project.order.team && project.order.team.id === teamId) {
                        window.location.href = projectOrderChatUrl
                    } else {
                        var msg = 'Вашей команде предлагается проект <a class="message_connect" href="http://{{ request.get_host }}' + projectUrl + '">Перейти к проекту</a>'
                        
                        socketMain.add_message({
                            format_type: 'add_message_contact',
                            message_type: 'invite_order',
                            data: {
                                sender_id: String(customerId),
                                recipent_id: String(contractorId),
                                chat_message: msg,
                                is_system: true
                            },
                        })
                    }
                    
                    $.jGrowl('Предложение успешно отправлено')
                    $modalOpenButton.fadeOut()
                } else {
                    var contractorId = $modalOpenButton.data('contractorId')
                    
                    if (project.order.contractor && project.order.contractor.id === contractorId) {
                        window.location.href = projectOrderChatUrl
                    } else {
                        var msg = 'Вам предлагается проект <a class="message_connect" href="http://{{ request.get_host }}' + projectUrl + '">Перейти к проекту</a>'
                        
                        socketMain.add_message({
                            format_type: 'add_message_contact',
                            message_type: 'invite_order',
                            data: {
                                sender_id: String(customerId),
                                recipent_id: String(contractorId),
                                chat_message: msg,
                                is_system: true,

                            },
                        })
                    }
                    
                    $.jGrowl('Предложение успешно отправлено')
                    $modalOpenButton.fadeOut()
                }
            })
            
            
            $projectSelectionModal.on('hidden.bs.modal', function($evt) {
                $(this).find('.-project-select').first().select2('destroy')
            })
        {% endif %}
    </script>
{% endblock %}
