{% extends 'partials/base.html' %}

{% block content %}
    {% include 'partials/header.html' %}
    
	<div class="container mainScore mainBlock2">
		<div class="row">
			{% include 'partials/customer_profile_info_block.html' %}
			
			<div class="buttonGP disTab">
                <div class="btn-group valProject2">
                    <a href="{% url 'users:customer-profile-open-projects' pk=pk %}" class="btn btn-default">
                        Открытые проекты
                        <span><!--<mark>2</mark> / <span>-->{{ open_project_count }}</span></span>
                    </a>
                    
                    <a href="{% url 'users:customer-profile-trashed-projects' pk=pk %}" class="btn btn-default" disabled>
                        Корзина
                        <span><mark></mark><span>{{ trashed_project_count }}</span></span>
                    </a>
                </div>
				<div class="polsF1 disTab polsSearch">
					<div class="col-lg-3">
                        <form action="{% url 'users:customer-profile-trashed-projects' pk=pk %}" method="GET" novalidate>
                            {{ form.realty }}
                        </form>
					</div>
				</div>
				<div class="col-lg-3 col-lg-offset-1">
					<p class="addWork add-work-new">
					    <a href="{% url 'projects:customer-project-create' %}">Разместить заказ</a>
                    </p>
				</div>
			</div>
			
			<div class="projectsBlock new-pro-block disTab">
			    {% for proj in projects %}
                    <div class="projectPro clearfix">
                        <div class="col-lg-9 leftPro">
                            <p class="titlePro">
                                <a href="{% url 'projects:detail' proj.pk %}">{{ proj.name }}</a>
                            </p>
                            <ul class="desPro">
                                <li>
                                    Объект "{{ proj.realty.name }}"
                                </li>
                                <li>
                                    <span>{{ proj.get_team_answers|length }}</span> ответ от имени группы
                                </li>
                            </ul>
                            <p class="textPro">
                                {{ proj.text }}
                            </p>
                            <ul class="listPro">
                                <li>
                                    {{ proj.created}}
                                </li>
                                <li>
                                    0
                                </li>
                                <li>
                                    {{ proj.answers.count }}
                                </li>
                                <li>
                                    {{ customer.get_full_name }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 rightPro right-pro-red">
                            <p class="cenaPro">
                                {{ proj.budget }} <i class="{% fa_currency_classes proj.currency %}"></i>
                            </p>
                            
                            {% if request.user == proj.customer %}
                                <ul>
                                    <li>
                                        <form action="{% url 'projects:customer-project-restore' pk=proj.pk %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            
                                            <a href='#' onclick="$(this).closest('form').submit(); return false">Восстановить из корзины</a>
                                        </form>
                                    </li>
                                    
                                    <li>
                                        <form action="{% url 'projects:customer-project-delete' pk=proj.pk %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            
                                            <a href='#' onclick="$(this).closest('form').submit(); return false">Удалить навсегда</a>
                                        </form>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
				{% endfor %}
			</div>
            
            <div class="col-lg-12 pagin">
                {% include 'partials/pagination.html' %}	
            </div>
			
			{% include 'partials/footer.html' %}
		</div>
	</div>
{% endblock %}
