{% load specializtions_tags %}
{% load user_tags %}
{% load thumbnail %}
{% load user_tags %}


<div class="col-lg-12">
    <div class="col-lg-3 divCol3">
        <div class="avatar">
            <div class="avatarInset">
                {% if customer.avatar %}
                    {% thumbnail customer.avatar "235x224" crop="center" as im %}
                        <img src="{{ im.url }}" alt="profile-image">
                    {% endthumbnail %}
                {% else %}
                    {% if customer.gender == "female" %}
                        <img src="{% static 'img/avatars/avatar-female.jpg' %}" alt="profile-image">
                    {% else %}
                        <img src="{% static 'img/avatars/avatar-male.jpg' %}" alt="profile-image">
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-9 divCol9">
        <div class="col-lg-4">
            <p class="nameUser">
                {{ customer.get_full_name }} [{{ customer.username }}]
            </p>

            <p class="cityUser">{{ customer.location.name }}</p>
            <p class="navv">На сайте {{ customer.created }}</p>
        </div>

        <div class="col-lg-4 new-er">
            {% ratings_widget customer.pk %}
        </div>

        <div class="col-lg-4">
            {% if request.user.pk != customer.pk %}
                <a href="javascript:void(0)" class="new-prop new-prop1">показать контакты</a>
                <a href="{% url 'chat:chat-user' %}?user_id={{ pk }}#user{{ pk }}" class="new-prop new-prop2">написать
                    сообщение</a>
            {% else %}
                <a href="{% url 'users:user-profile-edit' pk=pk %}" class="new-red">редактировать профиль</a>
            {% endif %}
        </div>
    </div>

    <div class="col-lg-9 divCol9 new-mar2">
        <div class="profileTabs2 tabs-new">
            <ul class="nav nav-tabs nav-justified">
                {% url 'users:customer-profile-open-projects' pk=pk as a %}
                {% url 'users:customer-profile-trashed-projects' pk=pk as a2 %}
                {% url 'users:customer-profile-current-projects' pk=pk as b %}
                {% url 'users:customer-profile-reviews' pk=pk as c %}

                <li role="presentation" {% if request.path == a or request.path == a2 %}class="active"{% endif %}>
                    <a href="{{ a }}">Открытые проекты</a>
                </li>

                {% if request.user == customer %}
                    <li role="presentation" {% if request.path == b %}class="active"{% endif %}>
                        <a href="{{ b }}">Текущие проекты</a>

                        <div class="roundsCount">
                            {#                            <div class="countR">0</div>#}
                            <div class="countG">{{ num_current_projects }}</div>
                        </div>
                    </li>
                {% endif %}

                <li role="presentation" {% if request.path == c %}class="active"{% endif %}>
                    <a href="{{ c }}">Отзывы</a>

                    <div class="roundsCount">
                        <div class="countG">{% get_reviews_count request.user %}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
