{% extends 'partials/base.html' %}

{% load project_tags %}
 
 
{% block content %}
    {% include 'partials/header.html' %}
    
	<div class="container mainScore mainBlock2">
		<div class="row">
			{% include 'partials/customer_profile_info_block.html' %}
			
            <div class="buttonGP disTab">
                <div class="btn-group valProject2">
                    <a href="{% url 'users:customer-profile-open-projects' pk=pk %}" class="btn btn-default" disabled>
                        Открытые проекты
                        <span><!--<mark>2</mark> / <span>-->{{ open_project_count }}</span></span>
                    </a>
                    {% if request.user == customer %}
                    <a href="{% url 'users:customer-profile-trashed-projects' pk=pk %}" class="btn btn-default">
                        Корзина
                        <span><mark></mark><span>{{ trashed_project_count }}</span></span>
                    </a>
                    {% endif %}
                </div>
                {% if request.user == customer %}
                <div class="polsF1 disTab polsSearch">
                    <div class="col-lg-3">
                        <form action="{% url 'users:customer-profile-open-projects' pk=pk %}" method="GET" novalidate>
                            {{ form.realty }}
                        </form>
                    </div>
                </div>
             {% endif %}
                
                {% if request.user == customer %}
                    <div class="col-lg-3 col-lg-offset-1">
                        <p class="addWork add-work-new">
                            <a href="{% url 'projects:customer-project-create' %}">Разместить заказ</a>
                        </p>
                    </div>
                {% endif %}
            </div>
            
            <div class="projectsBlock new-pro-block disTab">
                {% for proj in projects %}
                    <div class="projectPro clearfix">
                        <div class="col-lg-9 leftPro">
                            <p class="titlePro">
                                <a href="{% url 'projects:detail' proj.pk %}">{{ proj.name }}</a>
                            </p>
                            
                            <ul class="desPro">
                                <li>Объект "{{ proj.realty.name }}"</li>
                                <li><span>{{ proj.get_team_answers|length }}</span> ответ от имени группы</li>
                            </ul>
                            
                            {% if request.user == customer %}
                                <ul class="color-menu">
                                    <li><a href="{% url 'projects:detail' proj.pk %}#new-answers">Новые: {{ proj|get_new_answers|length }}</a></li>
                                    <li><a href="{% url 'projects:detail' proj.pk %}#candidate-answers">Кандидаты: {{ proj|get_candidate_answers|length }}</a></li>
                                    <li><a href="{% url 'projects:detail' proj.pk %}#rejected-answers">Отказал: {{ proj|get_rejected_answers|length }}</a></li>
                                </ul>
                            {% endif %}
                            
                            <p class="textPro">
                                {{ proj.text }}
                            </p>
                            
                            <ul class="listPro">
                                <li>{{ proj.created}}</li>
                                <li>{{ proj.hit_count.hits }}</li>
                                <li>{{ proj.answers.count }}</li>
                                <li>{{ customer.get_full_name }}</li>
                            </ul>
                        </div>
                        
                        <div class="col-lg-3 rightPro right-pro-red">
                            <p class="cenaPro">
                                {{ proj.budget }} <i class="{% fa_currency_classes proj.currency %}"></i>
                            </p>
                            
                            {% if request.user == proj.customer %}
                                <ul>
                                    <li>
                                        <a href='{% url 'projects:customer-project-edit' pk=proj.pk %}?back={{ request.path }}'>Редактировать</a>
                                    </li>
                                    
                                    <li>
                                        <form action="{% url 'projects:customer-project-trash' pk=proj.pk %}" method="POST" novalidate>
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            <a href="#" onclick="$(this).closest('form').submit(); return false">Переместить в корзину</a>
                                        </form>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <div class="col-lg-12 pagin">
                {% include 'partials/pagination.html' %}	
            </div>
            
			{% include 'partials/footer.html' %}
        </div>
    </div>
{% endblock %}
