{% extends 'partials/base.html' %}


{% block content %}
    {% include 'partials/header.html' %}
    
	<div class="container mainScore mainBlock2">
		<div class="row">
			{% include 'partials/customer_profile_info_block.html' %}
			
            {% for review in reviews %}
                <div class="new-comm-44">
                    <div class="col-lg-12">
                        <p class="nameComm">
                            <a href="#">{{ review.from_contractor.get_full_name }}</a> 
                        </p>
                        
                        <span class="dateComm44">
                            {{ review.project.get_deal_type_display }}
                        </span>

                        <div class="stars box-sizing">
                            <a href="#">
                                {% if review.type == 'positive' %}
                                    Положительный отзыв
                                {% elif review.type == 'negative' %}
                                    Отрицательный отзыв
                                {% else %}
                                    Нейтральный отзыв
                                {% endif %}
                            </a>
                        </div>

                        <p class="textComm44">{{ review.text }}</p>
                    </div>
                </div>
            {% endfor %}
			
			{% include 'partials/footer.html' %}
        </div>
    </div>
{% endblock %}
