{% extends 'partials/base.html' %}

{% load thumbnail %}


{% block head_css %}
    <style>
        .-live-image-avatar-upload-container .-position-relative-parent {position: relative}
        
        .-live-image-avatar-upload-container .-live-image-delete {
            position: absolute;
            top: 0;
            right: 0;
            background-color: white;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'partials/header.html' %}
    
    <div class="container mainScore">
        <div class="row">
            <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                
                {% if request.user.is_customer %}
                    <input type="hidden" name="next" value="{% url 'users:customer-profile' pk=pk %}">
                {% elif request.user.is_contractor %}
                    <input type="hidden" name="next" value="{% url 'users:contractor-profile' pk=pk %}">
                {% endif %}
                
                <div class="projectsBlock disTab">
                    <div class="col-lg-12">
                        <div class="col-lg-3 divCol3 -live-image-avatar-upload-container">
                            <div class="avatar">
                                <div class="avatarInset -position-relative-parent">
                                    <a href="#" onclick="return false" class="btn close -live-image-delete" style="display: none">&times;</a>
                                    
                                    {% if request.user.avatar %}
                                        {% thumbnail request.user.avatar "235x224" crop="center" as avatar %}
                                            <img src="{{ avatar.url }}" alt="profile-image" class="-avatar-image">
                                        {% endthumbnail %}
                                    {% else %}
                                        {% if request.user.gender == "female" %}
                                            <img src="{% static 'img/avatars/avatar-female.jpg' %}" alt="profile-image">
                                        {% else %}
                                            <img src="{% static 'img/avatars/avatar-male.jpg' %}" alt="profile-image">
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="menuUser upload-img disTab">
                                <div class="upload2 up-l1">
                                    <input type="file" name="image" class="-live-image-upload">
                                    
                                    <p>Загрузить фотографию</p>
                                </div>
                            </div>
                            
                            <div {% if not TESTING %}style="display: none"{% endif %}>
                                <input type="text" name="live_image" class="-live-image-id">
                            </div>
                        </div>
                        
                        <div class="col-lg-9 divCol9">
                            <div class="col-lg-4">
                                <p class="name-edit-p">ФИО</p>
                                
                                <input type="text" value="{{ form.last_name.value }}" name="{{ form.last_name.html_name }}" class="box-sizing inp-edit">
                                <input type="text" value="{{ form.first_name.value }}" name="{{ form.first_name.html_name }}" class="box-sizing inp-edit">
                                <input type="text" value="{{ form.patronym.value }}" name="{{ form.patronym.html_name }}" class="box-sizing inp-edit">
                            </div>
                            
                            {% if request.user.is_contractor %}
                                <div class="col-lg-4">
                                    <p class="name-edit-p">Специализации</p>
                                    
                                    <div id="simpleSpecContainer">
                                        <div class="polsF1 pols-edit disTab -simple-spec-widget" style="display: none">
                                            <input type="hidden" class="-simple-spec-select" style="width: 100%">
                                            <input type="hidden" class="-chosen-simple-spec-id" name="{{ form.contractor_specializations.html_name }}">
                                        </div>
                                        
                                        {% for spec_id in form.contractor_specializations.value %}
                                            <div class="polsF1 pols-edit disTab -simple-spec-widget">
                                                <input type="hidden" class="-simple-spec-select" style="width: 100%">
                                                <input type="hidden" class="-chosen-simple-spec-id" name="{{ form.contractor_specializations.html_name }}" value="{{ spec_id }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    
                                    <a href="#" onclick="return false" class="add-edit" id="addSpec">
                                        Добавить еще
                                    </a>
                                </div>
                            {% endif %}
                            
                            <div class="col-lg-4">
                                <p class="name-edit-p">Местоположение</p>
                                
                                <div class="polsF1 pols-edit disTab">
                                    <div><input type="hidden" class="-location-select -location-select-country" style="width: 100%"></div>
                                    <div><input type="hidden" class="-location-select -location-select-region" style="width: 100%"></div>
                                    <div><input type="hidden" class="-location-select -location-select-city" style="width: 100%"></div>
                                    
                                    <input type="hidden" id="chosenLocationId" name="{{ form.location.html_name }}" value="{{ form.location.value }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="buttonGP btn-edit disTab">
                    <div class="btn-group valProject valProject2" role="group">
                        <a href="{% url 'users:user-profile-edit' pk=pk %}"
                           class="btn btn-default {% if not request.experience_edit %}active{% endif %}">Общая информация</a>
                        <a href="{% url 'users:user-financial-info-edit' pk=pk %}" class="btn btn-default">Финансовая информация</a>
                        {% if request.user.is_contractor %}
                          <a href="{% url 'users:user-experience-edit' pk=pk %}"
                             class="btn btn-default {% if request.experience_edit %}active{% endif %}">Опыт</a>
                        {% endif %}
                    </div>
                </div>
                
                <div class="col-lg-12 col12 new-filter">
                    <div class="filter clearfix">
                        {% if request.experience_edit %}
                            <div class="titleF1 disTab">
                                <div class="col-lg-6">Классификация зданий</div>
                                <div class="col-lg-6">Виды строительства</div>
                            </div>

                            <div class="polsF1 disTab new-doubt">
                                <div class="col-lg-6 profile-building-classifications">
                                    {{ form.contractor_building_classifications }}
                                </div>

                                <div class="col-lg-6 profile-construction-types">
                                    {{ form.contractor_construction_types }}
                                </div>
                            </div>

                            <div class="searchF1 polsF1 polsFF links-filter">
                                <input class="btn-submit-link" type="submit" value="Сохранить">
                            </div>
                        {% else %}
                            <div class="titleF1 disTab">
                                <div class="col-lg-3">Дата рождения</div>
                                <div class="col-lg-3">Пол</div>
                                <div class="col-lg-3">Статус</div>
                            </div>

                            <div class="polsF1 disTab">
                                <div class="col-lg-3 birth_edit_dat">
                                    {{ form.date_of_birth }}
                                </div>

                                <div class="col-lg-3 dog-new ed-new">
                                    {% for id, text in form.gender.field.choices %}
                                        <label>
                                            <input
                                                type="radio"
                                                name="{{ form.gender.html_name }}"
                                                value="{{ id }}"
                                                {% if form.gender.value == id %}checked{% endif %}>

                                            <span></span>
                                        </label>

                                        <p>{{ text }}&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                    {% endfor %}
                                </div>

                                <div class="col-lg-3">
                                    {{ form.contractor_status }}
                                </div>
                            </div>

                            <div class="titleF1 titleF2 disTab">
                                <div class="col-lg-3">Сайт</div>
                                <div class="col-lg-3">Skype</div>
                                <div class="col-lg-3">Телефон</div>
                                <div class="col-lg-3">Второй телефон</div>
                            </div>

                            <div class="searchF1 polsF1 polsFF polsF3">
                                <div class="col-lg-3">
                                    <input type="text" name="{{ form.website.html_name }}" value="{{ form.website.value }}" class="box-sizing surr surr2" placeholder="beeg.com">
                                </div>

                                <div class="col-lg-3">
                                    <input type="text" name="{{ form.skype.html_name }}" value="{{ form.skype.value }}" class="box-sizing surr surr2" placeholder="nokia770">
                                </div>

                                <div class="col-lg-3">
                                    <input type="text" name="{{ form.phone.html_name }}" value="{{ form.phone.value }}" class="box-sizing surr surr2" placeholder="+7 999 999 44 02">
                                </div>

                                <div class="col-lg-3">
                                    <input type="text" name="{{ form.phone2.html_name }}" value="{{ form.phone2.value }}" class="box-sizing surr surr2" placeholder="+7 999 999 44 02">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-12 make-new make-eed">
                                    <label>{{ form.cro }}<span></span></label>
                                    <p>Есть допуск СРО</p>
                                </div>
                            </div>

                            <div class="searchF1 polsF1 polsFF links-filter">
                                <input class="btn-submit-link" type="submit" value="Сохранить">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </form>
            
            {% include 'partials/footer.html' %}
        </div>
    </div>
{% endblock %}
