<div id="arbitration-add" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document" style="width:900px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title">Оставить заявку в арбитраж</h4>
            </div>

            <form id="arbitration-add-form" method="POST">
                <div class="modal-body">
                    <div style="height: 250px;">
                         <div class="textAreaBlock2 text-nn box-sizing disTab">
                             <p>Ваш текст</p>
                            <textarea id="text-new" name="text"></textarea>
                            <input type="hidden" name="order" id="orderArbitrationId" >
                            <input type="hidden" name="user" value="{{ request.user.pk }}">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть
                    </button>
                    <button type="button" id="order-arbitration-add" class="btn btn-primary">Отправить
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
