<div id="contact-info" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document" style="width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title">Контакты</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                </table>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
