<div id="dialog_delete" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg" id="btnNot">Нет</button>
                <button type="button" class="btn btn-success btn-lg" id="btnYes">Да</button>
            </div>

        </div>
    </div>
</div>
