<div id="reserve-stage-modal" class="modal fade">
    <div class="modal-dialog" style="width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Зарезервировать средства</h4>
            </div>

            <div class="modal-body" style="min-height: 200px; margin-bottom: 30px">

                <div class="row">
                    <div class="col-lg-6">
                        <label class="mod-align-center header">
                            <input name="choice_way" class="custom-radio" type="radio" checked="checked"
                                   value="all_stages">&nbsp;&nbsp;&nbsp;
                            <strong>Зарезервировать средства за все этапы</strong>
                        </label>

                        <div class="description" style="padding-left: 30px">
                            Общий бюджет за все этапы <span id="total-cost">0</span>р.
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label class="mod-align-center header">
                            <input name="choice_way" class="custom-radio" type="radio" value="stage-">
                            &nbsp;&nbsp;&nbsp;
                            <strong>Зарезервировать средства за этап</strong> &nbsp;&nbsp;
                            <select id="stage-num">
                            </select>
                        </label>
                        <div class="description" style="padding-left: 30px">
                            Бюджет этапа <span id="stage-cost">0</span>р.
                        </div>
                    </div>
                </div>


                <div class="searchF1 polsF1 polsFF radio-afe" style="text-align: center;">
                    <form id="stages-pay-form" action="{{ YANDEX_MONEY.url }}" method="POST">{% csrf_token %}
                        <div class="textAreaBlock2 text-nn box-sizing disTab">
                            <input type="hidden" name="sum" id="stageSumPay">
                            <input type='hidden' name='shopId' value='{{ YANDEX_MONEY.shop_id }}'>
                            <input type='hidden' name='scid' value='{{ YANDEX_MONEY.scid }}'>
                            <input type='hidden' name='customerNumber' value='{{ user_score.pk }}'>
                            <input type='hidden' name='paymentType' value='AC'>
                            <input type='hidden' name='transactionId' value='{{ transaction.pk }}'>
                            <input type='hidden' name='stagesId' id='stagesIds' value=''>
                            <input type='hidden' name='ordermodalId' id='ordermodalId'>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block linkS122"
                                style="display: inline-block">
                            БАНКОВСКАЯ КАРТА
                        </button>
                    </form>
                    <button id="paymentfromSite" class="btn btn-primary"
                            style="display: inline-block; margin-bottom: 40px">
                        СЧЕТ на "PROEKTON"
                    </button>


                </div>

            </div>

            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>
