<div id="review-add" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document" style="width:900px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title">Оставить отзыв</h4>
            </div>

            <form id="review-adds-form" method="POST">
                <div class="modal-body">
                    <div style="height: 250px;">
                        {#                         <div class="searchF1 polsF1 polsFF radio-afer">#}
                        <div class="review-type">
                            <label class="alignleft mod-align-center">
                                <input style="margin: 0 5px" type="radio" value="positive" name="type" checked>
                                Положительный
                            </label>

                            <label class="aligncenter mod-align-center" style="padding-left: 240px">
                                <input style="margin: 0 5px" type="radio" value="neutral" name="type">
                                 Нейтральный
                            </label>

                            <label class="alignright mod-align-center-inline">
                                <input style="margin: 0 5px" type="radio" value="negative" name="type">
                                Отрицательный
                            </label>
                        </div>

                        <div class="textAreaBlock2 text-nn box-sizing disTab">
                            <p>Ваш отзыв</p>
                            <textarea id="text-new" name="text"></textarea>
                            {% if request.user.is_customer %}
                                <input type="hidden" name="from_customer" value="{{ request.user.pk }}">
                                <input type="hidden" name="from_contractor">
                                <input type="hidden" name="from_team">
                                <input type="hidden" name="target_contractor" id="targetContractorId">
                                <input type="hidden" name="target_customer">
                                <input type="hidden" name="target_team" id="targetTeamId">
                            {% else %}
                                <input type="hidden" name="from_customer">
                                <input type="hidden" name="from_contractor" value="{{ request.user.pk }}">
                                <input type="hidden" name="target_customer" id="targetCustomerId">
                                <input type="hidden" name="target_contractor">
                                <input type="hidden" name="target_team">
                                <input type="hidden" name="from_team" id="fromTeamId">
                            {% endif %}
                            <input type="hidden" name="project" id="projectReviewId"/>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть
                    </button>
                    <button type="button" id="order-review-add" class="btn btn-primary">Оставить
                        отзыв
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
