@import "common/parts"
@import "base/colors"
@import "base/variavles"

.simple-field
  .header
    @extend %header
    max-width: 100%

label
  font-weight: normal

.flex
  display: flex

.nav
  li.active
    border-top: 3px solid black

.simple-input
  height: 51px
  width: 100%
  border: 1px solid  #{map_get($component_colors, border)}
  outline: none
  padding: 5px 40px 5px 20px
  background-color: white
  margin-bottom: -1px
  &:-webkit-autofill
    -webkit-box-shadow: 0 0 0 1000px white inset
  //transition: background-color 5000s ease-in-out 0s
  &.icon-rub
    background:
      image: url("#{$static}/img/rub.png")
      repeat: no-repeat
      position-x: 95%
      position-y: center
      size: 16px 16px
      color: white
  &.icon-days
    background:
      image: url("#{$static}/img/days.png")
      repeat: no-repeat
      position-x: 95%
      position-y: center
      size: 40px 14px
      color: white
  &.italic::-webkit-input-placeholder
    font-style: italic

.simple-select
  height: 51px
  width: 100%
  border: 1px solid #{map_get($component_colors, border)}
  outline: none
  padding: 5px 40px 5px 20px
  background-color: white
  margin-bottom: -1px
  display: flex
  align-items: center
  text-align: center
  select
    background-color: darkgray
  &.fill
    background-color: #F2F2F2
  .text
    color: #a3a3a3

textarea.description
  max-width: 100%
  width: 100%
  &::-webkit-input-placeholder
    font-style: italic

.btn-simple
  //text-transform: uppercase
  border-radius: 40px
  padding: 10px 15px
  border: 1px solid #FF0029
  background: none
  font-family: Myriad, sans-serif
  font-weight: normal
  font-style: normal
  font-size: 14pt
  display: inline-block
  color: #4e4c4c
  &:hover
    color: #4e4c4c
    text-decoration: none
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
    -webkit-transform: scale(1.04)
    -moz-transform: scale(1.04)
    transform: scale(1.04)
  &:focus
    outline: none
  &:active
    outline: 0 !important

  &.-small
    padding: 5px 14px
    font-size: 10pt

  &.-gray
    border: 1px solid #bdbdbd

  &.-up_down:after
    content: "\e252"
    font-family: 'Glyphicons Halflings'
    position: relative
    right: -5px
    top: 3px
    font-style: normal
    font-weight: normal
    font-size: 10pt
    line-height: 1
    padding-right: 20px
    -webkit-font-smoothing: antialiased

.icon-edit
  //content: ''
  display: inline-block
  width: 40px
  height: 16px
  background:
    image: url("#{$static}/img/menuUser.png")
    size: 60%
    repeat: no-repeat
    position: 0 0

.upload-new, .btn-simple
  transition: all 0.3s
  cursor: pointer

.upload-new
  width: 50%
  height: 30px
  overflow: hidden
  cursor: pointer
  border-radius: 40px
  border: 1px solid #FF0029
  box-sizing: border-box
  &:hover
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
    -webkit-transform: scale(1.04)
    -moz-transform: scale(1.04)
    transform: scale(1.04)
  input
    display: block !important
    width: 100% !important
    height: 30px !important
    opacity: 0 !important
    cursor: pointer
  p
    line-height: 30px
    text-transform: uppercase
    margin: -30px 0 0 0
    text-align: center
  p,
  & + span
    font-size: 10pt
    font-family: Myriad, sans-serif

.upload-new.paper-clip
  padding-left: 40px
  padding-right: 15px
  background:
    image: url("#{$static}/img/paper-clip_icon._g.png")
    repeat: no-repeat
    position-x: 5%
    position-y: center
    size: 30px 30px
    color: white
  //background:  no-repeat left
  //background-size: 30px 30px
  width: auto

.upload-new.paper-clip p
  //font-size: 10pt
  width: auto
  text-align: right

.separator
  margin-top: 35px
  margin-bottom: 15px
  display: flex
  .header
    @extend %header
    max-width: 100%
  .resButton
    position: relative
    top: -15px
    width: 50px
    height: 50px
    background-color: white
    border: 1px solid #CFCFCF
    color: #FF0029
    text-align: center
    font-size: 16px
    border-radius: 50%
    margin-left: 25px
    margin-right: 25px
    -webkit-transition: all 0.3s ease-out
    -moz-transition: all 0.3s ease-out
    transition: all 0.3s ease-out
    transform: rotate(180deg)
    &:focus
      outline: none

  .border
    flex: 1 1 auto
    margin-top: 10px
    border-top: 1px solid #CFCFCF

.btn-plus
  line-height: 115%
  white-space: normal
  padding-left: 18%
  color: #FF0029
  //line-height: 1em
  font-family: Arial-MT-Regular, sans-serif
  font-size: 10pt

.btn-plus:hover
  color: #FF0029

.btn-plus
  background: url("#{$static}/img/circle_cross.svg") no-repeat left
  background-position-x: 5px

.custom-checkbox
  width: 20px
  height: 20px

.custom-radio
  width: 20px
  height: 20px

label.fin_statuses
  font-style: italic
  color: #6b6868

.custom-check
  cursor: pointer
  display: inline-block
  width: 100%
  .checked
    background: url("#{$static}/img/checkbox_Check.png.png") no-repeat center
    background-size: 100% 51px
    width: 100%
    height: 51px
  .not-checked
    background: url("#{$static}/img/checkbox_notCheck.png") no-repeat center
    background-size: 100% 51px
    width: 100%
    height: 51px

.documentsChat
  .file-upload-label
    color: darkgray
  .file-upload-remove-btn
    display: inline-block
    width: 11px
    height: 11px
    background: url('#{$static}/img/delDoc.png') no-repeat center
    cursor: pointer

  .preview-container
    position: relative
    //display: inline-block
    .file-upload-remove-img-btn
      position: absolute
      top: 0
      right: 0
      background-color: white
      //width: 16px
      //height: 16px
      //background: url('#{$static}/img/aui-icon-close.png') no-repeat center
      cursor: pointer
    textarea.description
      font-size: 9pt
      color: darkgray
      resize: vertical
      max-height: 68px

  .file-upload-widget
    list-style: none
    .preview
      width: 100%
      height: 200px
      background:
        repeat: no-repeat
        position-x: center
        position-y: center
        size: cover

.complete
  display: none

.more
  font-style: italic
  color: #{map_get($component_colors, select)}
  padding: 3px
  cursor: pointer
  &:before
    content: '...читать далее'
  &.less
    &:before
      content: 'свернуть'

.btn-group
  .btn
    padding: 15px 30px

.btn-round
  $radius: 30px
  .btn:first-child
    border-top-left-radius: $radius
    border-bottom-left-radius: $radius
  .btn:last-child
    border-top-right-radius: $radius
    border-bottom-right-radius: $radius


.link-sort
  button,
  a
    font-size: 14px
    font-family: 'Arial-MT-Regular', sans-serif
    color: #6b6b6b
    padding: 11px 23px
    border-radius: 40px
    margin-right: 6px
    border: 1px solid #c2c2c2
    background-color: #fff
    &:after
      content: "\e252"
      font-family: 'Glyphicons Halflings'
      position: relative
      right: -5px
      top: 3px
      font-style: normal
      font-weight: normal
      line-height: 1
      -webkit-font-smoothing: antialiased
  p
    display: inline-block

.btn-up_down
  width: 110px
  text-transform: uppercase
  font-size: 10pt
  font-family: 'Myriad', sans-serif
  color: #6b6b6b
  padding: 11px 23px
  border-radius: 40px
  margin-right: 6px
  border: 1px solid #c2c2c2
  background-color: #fff
  &:after
    content: "\e253"
    font-family: 'Glyphicons Halflings'
    font-style: normal
    font-weight: normal
    line-height: 1
    -webkit-font-smoothing: antialiased

  &.-small
    padding: 5px 10px
.btn-up_down.clicked
  &:after
    content: "\e252"

.filter
  width: 100%
  //float: left
  background-color: #F2F2F2
  position: relative
  padding: 45px 50px
  .triangle1
    position: absolute
    border: 30px solid transparent
    border-top: 17px solid white
    top: 0
    left: 50%
    margin-left: -30px

  .findReal, .findReal:visited
    float: left
    color: white
    font-size: 16px
    font-family: 'pfdintextcomppro-regular', sans-serif
    background: url('#{$static}/img/list2.png') no-repeat 41px, #FF0029
    padding: 17px 48px 17px 79px
    border-radius: 40px
    text-transform: uppercase
  .clearSearch
    font-size: 15px
    font-family: Arial, Verdana, Helvetica, sans-serif
    float: left
    position: relative
    color: #8a8989
    font-style: italic
    margin: 14px 0 0 39px
    &:before
      content: ''
      position: absolute
      width: 21px
      height: 22px
      background: url('#{$static}/img/cenaList.png') no-repeat left
      background-size: cover
      background-position: 0 -46px
      left: -33px
      top: -3px
    &:hover
      text-decoration: none
      color: #676666

  .insetCol, .insetCol2
    width: 100%
    float: left
    margin-top: 15px
    position: relative

  .insetCol
    background-color: #F2F2F2
    padding: 15px
    -webkit-transition: all 0.3s ease-out
    -moz-transition: all 0.3s ease-out
    transition: all 0.3s ease-out

.pagin
  text-align: center
  margin-top: 30px
  nav
    display: inline-block
    ul
      li
        float: left
        margin-right: 26px
        padding: 0 0
        line-height: 50px
        a
          background-color: transparent
          color: black
          font-size: 20px
          line-height: 50px
          font-family: 'pfdintextcomppro-regular', sans-serif
          border: none
          border-radius: 100%
      .active a
        color: white
        background-color: #2c2c2c
        padding: 20px !important
        line-height: 10px
      li a
        padding: 20px 0 !important
        line-height: 10px
        width: 50px !important
        height: 50px !important
        text-align: center
        &:hover, &:active
          color: white
          background-color: #2c2c2c
          border-color: #2c2c2c
    li a span
      margin-top: -10px
    ul
      li
        &:last-child a:hover, &:first-child a:hover
          background: none !important
          color: #2c2c2c
          opacity: 0.8
        float: left
        margin-right: 26px
        padding: 0 0
        line-height: 50px
        a
          background-color: transparent
          color: black
          font-size: 20px
          line-height: 50px
          font-family: 'pfdintextcomppro-regular', sans-serif
          border: none
          border-radius: 100%
      .active a
        color: white
        background-color: #2c2c2c
        padding: 20px !important
        line-height: 10px
      li a
        padding: 20px 0 !important
        line-height: 10px
        width: 50px !important
        height: 50px !important
        text-align: center
        &:hover, &:active
          color: white
          background-color: #2c2c2c
          border-color: #2c2c2c
    li a span
      margin-top: -10px
    ul li
      &:last-child a:hover, &:first-child a:hover
        background: none !important
        color: #2c2c2c
        opacity: 0.8

.rad
  cursor: pointer
  user-select: none
  -webkit-user-select: none
  -webkit-touch-callout: none
  >
    input
      /* HIDE ORG RADIO & CHECKBOX
      visibility: hidden
      position: absolute
    i
      /* DEFAULT <i> STYLE
      display: inline-block
      vertical-align: middle
      width: 24px
      height: 24px
      border-radius: 50%
      transition: 0.2s
      box-shadow: inset 0 0 0 16px #fff
      border: 1px solid #cccccc
      background: #cccccc
      margin-right: 5px
  &:hover > i
    /* HOVER <i> STYLE
    box-shadow: inset 0 0 0 3px #fff
    background: #cccccc
  > input:checked + i
    /* (RADIO CHECKED) <i> STYLE
    box-shadow: inset 0 0 0 3px #fff
    background: #cccccc

/* RADIO & CHECKBOX STYLES

/* CHECKBOX OVERWRITE STYLES

label.rad
  font-style: italic
  color: #606060