$static: '/static'

@font-face
  font-family: 'pfbeausanspro-reg'
  src: url('#{$static}/fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular.eot?#iefix') format("embedded-opentype"), url('#{$static}/fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular.woff') format("woff"), url('#{$static}/fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular.ttf') format("truetype"), url('#{$static}/fonts/PFBeauSansPro-Regular/PFBeauSansPro-Regular.svg#PFBeauSansPro-Regular') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'pfbeausanspro-thin'
  src: url('#{$static}/fonts/PFBeauSansPro-Thin/PFBeauSansPro-Thin.eot?#iefix') format("embedded-opentype"), url('#{$static}/fonts/PFBeauSansPro-Thin/PFBeauSansPro-Thin.woff') format("woff"), url('#{$static}/fonts/PFBeauSansPro-Thin/PFBeauSansPro-Thin.ttf') format("truetype"), url('#{$static}/fonts/PFBeauSansPro-Thin/PFBeauSansPro-Thin.svg#PFBeauSansPro-Thin') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'pfdintextcomppro-regular'
  src: url('#{$static}/fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.eot?#iefix') format("embedded-opentype"), url('#{$static}/fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.woff') format("woff"), url('#{$static}/fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.ttf') format("truetype"), url('#{$static}/fonts/PFDinTextCompPro-Regular/PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Regular') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Arial-MT-Regular'
  src: url('#{$static}/fonts/Arial-MT-Regular/Arial-MT-Regular.eot')
  src: url('#{$static}/fonts/Arial-MT-Regular/Arial-MT-Regular.eot?#iefix') format("embedded-opentype"), url('#{$static}/fonts/Arial-MT-Regular/Arial-MT-Regular.woff') format("woff"), url('#{$static}/fonts/Arial-MT-Regular/Arial-MT-Regular.ttf') format("truetype"), url('#{$static}/fonts/Arial-MT-Regular/Arial-MT-Regular.svg#Arial-MT-Regular') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Myriad"
  src: url('#{$static}/fonts/MyriadPro/MyriadPro-Cond.otf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Myriad"
  src: url("#{$static}/fonts/MyriadPro/MyriadPro-BoldCond.otf")
  font-weight: bold
  font-style: normal

@font-face
  font-family: "Myriad"
  src: url("#{$static}/fonts/MyriadPro/MyriadPro-CondIt.otf")
  font-weight: normal
  font-style: italic