<ul class="rettList {{ class_name }}">
    <li>Рейтинг: <span> {{ ratings }}</span></li>
    <li>Безопасные сделки: <span> {{ deals }}</span></li> {# TODO #}
    <li>
        <a href="javascript:void(0)">
            Отзывы:
            <span> + {{ reviews_p }}</span>
            <small> {{ reviews_n }}</small>
            <mark> - {{ reviews_m }}</mark>
        </a>
    </li>
</ul>

