<div class="dashedCol4">
    <p class="specUser">Специализации:</p>
    {% for spec in specializations %}
        <div class="insetSpec">
            <span>{{ spec.specialization.name }}</span>
            <span>{{ spec.position }}-й</span>
        </div>
    {% empty %}
      Рейтинги скоро будут рассчитаны
    {% endfor %}
</div>
