$static: '/static'

footer
  background-color: #F7F7F7
  &:before
    content: ''
    width: 300px
    height: 3px
    background-color: black
  ul
    margin: 0
    padding: 0


  .logoF
    width: 183px
    height: 36px
    background: url('#{$static}/img/logoF.png') no-repeat center
    background-size: cover
    float: left
    margin: 41px 0 0 27px
    cursor: pointer

  .linksSoc
    width: 100%
    float: left
    margin: 32px 0 0 0
    padding: 0 0 0 23px
    >
      a
        width: 46px
        height: 46px
        opacity: 0.2
        display: block
        float: left
        margin-right: 10px
        -webkit-transition: opacity 0.4s ease-out
        -moz-transition: opacity 0.4s ease-out
        transition: opacity 0.4s ease-out
        &:link, &:visited
          width: 46px
          height: 46px
          opacity: 0.2
          display: block
          float: left
          margin-right: 10px
          -webkit-transition: opacity 0.4s ease-out
          -moz-transition: opacity 0.4s ease-out
          transition: opacity 0.4s ease-out
      .icon_ls1
        background: url('#{$static}/img/socSprite.png') no-repeat 0 0
      .icon_ls2
        background: url('#{$static}/img/socSprite.png') no-repeat -46px 0
      .icon_ls3
        background: url('#{$static}/img/socSprite.png') no-repeat -92px 0
      .icon_ls4
        background: url('#{$static}/img/socSprite.png') no-repeat -138px 0
      .icon_ls5
        background: url('#{$static}/img/socSprite.png') no-repeat -184px 0
        margin-right: 0
      a:hover
        opacity: 1

  .copy-rights
    float: left
    font-size: 16px
    font-family: 'pfdintextcomppro-regular', sans-serif
    text-transform: uppercase
    letter-spacing: 2px
    margin: 34px 0 42px 31px
    color: #aaa

  .listF1
    p
      font-family: Arial, Verdana, Helvetica, sans-serif
      font-size: 16px
      text-transform: uppercase
      color: #2c2c2c
      font-weight: bold
      margin: 46px 0 20px 0
    ul li
      margin-bottom: 6px
      list-style: none
      color: red
      &:last-child
        margin-bottom: 0
      a
        font-family: 'Arial-MT-Regular', sans-serif
        color: #6c6c6c
        font-size: 15px
        &:link, &:visited
          font-family: 'Arial-MT-Regular', sans-serif
          color: #6c6c6c
          font-size: 15px
        &:hover
          text-decoration: none
          color: #383838