.popups-container
  width: 100%
  position: fixed
  top: 75px
  left: 0
  opacity: 0.8
  .popup
    width: 100%
    min-height: 50px
    background-color: #7a8529
    border-radius: 20px
    border: 1px solid #ffffff
    display: flex
    -ms-flex-align: center
    -webkit-align-items: center
    -webkit-box-align: center
    align-items: center
    //text-align: center
    .message
      color: white
      width: 100%
      text-align: center
    // MESSAGE TYPES
    &.warning
      background-color: #ffc649
    &.error
      background-color: #ff4146
    &.info
      background-color: #4e58ff