@import "base/variavles"

.form-regestration
  display: table
  width: 100%
  float: left
  margin: 0 0 80px 0
  padding: 67px 0
  //padding: 20px 0 67px 0
  background-color: #ddd
  text-align: center
  a, a:hover
    text-decoration: none
  a:hover
    color: #6f7bff

.select-reg
  .btn-group
    display: inline-block
    vertical-align: top
  &.captcha
    text-align: center
  .g-recaptcha
    display: inline-table
    margin: 25px 0 0 0
  input[type="checkbox"] + span
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background:
      image: url('#{$static}/img/check.png')
      repeat: no-repeat
      position: 0 0
      size: cover
    cursor: pointer
  label
    width: 23px
    height: 23px
    display: block
    position: relative
    margin-right: 10px

  input[type="checkbox"]:checked + span
    background-position: 0 -23px

.email-reg, .pass-reg
  width: 360px
  height: 51px
  display: inline-block
  vertical-align: top
  padding: 0 15px
  font-size: 15px
  background-color: white
  color: black
  margin: 20px 0 0 0
  font-family: 'Arial-MT-Regular', sans-serif
  border: none !important

.reg-sub
  width: 360px
  height: 51px
  color: white
  text-align: center
  font-family: 'pfdintextcomppro-regular', sans-serif
  letter-spacing: 2px
  line-height: 51px
  border: none
  background-color: #42B476
  border-radius: 40px
  display: inline-block
  vertical-align: top
  margin-top: 20px
  font-size: 15px
  text-transform: uppercase
  &:active, &:focus
    outline: none !important

.check-reg
  width: 360px
  display: inline-block
  vertical-align: top
  margin-top: 20px
  label
    float: left
  p
    font-family: 'Arial-MT-Regular', sans-serif
    color: #6c6c6c
    font-size: 15px
    float: left
    /*margin: -2px 0 0 10px;
    line-height: 18px
    width: 90%
    text-align: left
    > a
      color: #009DD9
      &:link, &:visited
        color: #009DD9
      &:hover
        color: #6f7bff

.have-ac, .have-ac:link, .have-ac:visited
  color: #009DD9
  font-size: 17px
  font-family: 'Arial-MT-Regular', sans-serif
  text-transform: uppercase
  display: inline-block

.form-regestration
  .errorlist
    color: red
    //width: 360px
    //margin: 0 auto
    //text-align: left
    font-family: 'Arial-MT-Regular', sans-serif
    font-size: 15px
    li
      list-style: none