.btn-group.valProject2 a.btn {
    color: #333333;
    padding: 14px 20px;
    border-radius: 40px;
    font-size: 15px;
    font-family: 'Arial-MT-Regular', sans-serif;
}

.btn-group.valProject2 a.btn span mark {
    background: none;
    color: #ff2c2c;
}

.btn-group.valProject2 a.btn > span {
    padding-left: 11px;
}

.btn-submit-link {
    border-radius: 40px;
    font-family: 'pfdintextcomppro-regular', sans-serif;
    color: black;
    font-size: 16px;
    padding: 17px 33px 17px 33px;
    float: left;
    margin: 0 15px 48px 15px;
    border: 1px solid #DFDFDF;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #42B476;
    border: 1px solid #42B476;
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

#jGrowl .jGrowl-notification {
    background-color: #00bb7b;
    font-size: 17px;
}

.textAreaBlock2 input[type="text"] {
    margin: 0;
}

.chat-textarea {
    width: 100%;
    height: 110px;
    border: 1px solid #cdcdcd;
    resize: none;
    padding: 10px 15px;
    color: #3c1a06;
    font-family: 'Arial-MT-Regular', sans-serif;
    font-size: 14px;
    float: left;
    margin: 33px 0 0 0;
}

.form-regestration .errorlist {
    color: red;
    width: 360px;
    margin: 0 auto;
    text-align: left;
    font-family: 'Arial-MT-Regular', sans-serif;
    font-size: 15px;

}

#jGrowl .jGrowl-notification a, #jGrowl .jGrowl-notification a:visited {
    color: #777620;
}

#document-send-contact a, #document-send-order a, #document-send a {
    float: left;
    font-family: 'pfdintextcomppro-regular', sans-serif;
    color: #373737;
    font-size: 15px;
    border: 0;
    padding: 0px;
    text-transform: lowercase;
}

.documentsChat a.file-link, .documentsChat a.file-link:link, .documentsChat a.file-link:visited {
    color: #5a5a5a;
    border-radius: 0;
    border: 0;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    padding: 0;
    background: none;
    float: none;
    margin: 19px 0 -10px 0;
}

.documentsChat > p {
    font-size: 16px;
}

#message-chat-order-space, #message-chat-team-space {
    height: 312px;
    display: block;
    overflow: auto;
}

.-green-glyphicon.glyphicon.glyphicon-question-sign {
    color: green;
}

.infoProfile .dropdown-menu .icon_mm3 a span.badge-count {
    left: 120px;
    background: none;
    background-color: #FF0027;
    color: white;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    border-radius: 100%;
    top: 1px;

}

.deleteOrder:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background: url('../img/btn3.png') no-repeat center;
    background-size: cover;
    left: -30px;
    top: 2px;
}

.deleteOrder, .deleteOrder:link, .deleteOrder:visited {
    color: #5a5a5a;
    font-size: 14px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    text-decoration: underline;
    position: relative;
    float: left;
    margin: 0 0 0 35px;
    font-style: italic;
}

.trashedOrderBlock {
    width: 100%;
    float: left;
    margin-bottom: -1px;
    padding: 15px;
    background-color: #F7F7F7;
    border-top: 1px solid #72767C;
    border-bottom: 1px solid #72767C;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.trashedOrderBlock:hover {
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.count-tab {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    font-family: 'Arial-MT-Regular', sans-serif;
    position: absolute;
    top: 6px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #ebebeb;
}

.count-order {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    font-family: 'Arial-MT-Regular', sans-serif;
    /*position: absolute;*/
    /*top: 14px;*/
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #ebebeb;
}

li a:active .count-tab, li a:hover .count-tab {
    background-color: #FF0027;
    color: white;
}

.select2-drop {
    width: auto !important;
    max-width: 400px;

}

.-bold {
    font-weight: bold;
    padding-bottom: 5px;
}

.mainContainer {
    background-repeat: repeat;
    /*height: 100%;*/
}

.nameExecutor a:link, .nameExecutor:visited, .nameExecutor a {
    -ms-word-break: break-all;
    word-break: break-all;


    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    white-space: -moz-pre-wrap;


    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    /*width:100px;*/
}

.busy {
    background-color: red;
}
.busy::after {
    border-color: red transparent transparent red;

}

#recaptcha_area {
    float: none;
    margin: 20px auto;
}



.open-projects-div ul li:first-child:before {
    height: 26px;
    background-size: cover;
    background-position: 0 0;
}

.open-projects-div li:last-child:before {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    background-size: cover !important;
    left: -39px;
    top: -3px;
}
.open-projects-div ul li:before {
    content: '';
    position: absolute;
    width: 21px;
    left: -39px;
    top: -3px;
}

.profile-building-classifications option, .profile-construction-types option {
    display: none;
}