
Заявка на распечатку от {{ username }}!

Контактные данные:
Телефон : <strong>{{ phone }} </strong>

<h3>Прикрепленные файлы</h3>
{% for f in files %}
    <h4><a href="{{ f }}">{{ f }}</a></h4>
{% endfor %}
