{% extends 'partials/base.html' %}

{% load staticfiles %}
{% load thumbnail %}
{% block content %}


    {% include 'partials/header.html' %}
    <div class="container">
        <div class="row">
            <h1>Заявка на распечатку принята</h1>

            {% include 'partials/footer.html' %}
        </div>
    </div>
{% endblock %}