{% extends 'partials/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
    {% include 'partials/header.html' %}
    <div class="container mainScore">
        <div class="row">
            <h1>Услуга по распечатке документов</h1>
            <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                <div class="chatBlock new-rass new-rass2 disTab">
                    <div class="col-lg-7">
                        <p class="new-pp new-pp3">Формирование заказа</p>

                        {% if form.non_field_errors %}
                            <div class="new-pp3" style="color: red; margin-top: 70px">{{ form.non_field_errors }}</div>
                        {% endif %}
                        <div class="col-lg-3 wrChat1">

                            <div id="fileUploadContainer" class="col-lg-12 documentsChat">
                                <div class="upload">
                                    <p id="fileUploadAddBtn" style="margin: 0">+ добавить файл (до 100 файлов)</p>
                                </div>

                                <ul class="list-new-new">
                                    <li class="file-upload-widget" style="display: none">
                                        <input type="file" name="new_files" class="file-upload-input"
                                               style="position: absolute; top: -1000px; left: -1000px">
                                        <p class="file-upload-label"></p>
                                        <div class="file-upload-remove-btn"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="textAreaBlock2 text-nn box-sizing disTab">
                            <p>Описание <span style="color: red">{{ form.text.errors.as_text }}</span></p>
                            <textarea name="{{ form.text.html_name }}" id="text-new">{{ form.text.value }}</textarea>
                        </div>

                     <div class="searchF1 polsF1 polsFF radio-afer">
                            <div class="col-lg-6">
                                <label>
                                    <input
                                        type="radio"
                                        name="{{ form.shipping.html_name }}"
                                        value="self_delivery">
                                    <span></span>
                                </label>
                                <p class="text-afer">Самовывоз</p>
                            </div>

                            <div class="col-lg-6">
                                <label>
                                    <input
                                        type="radio"
                                        name="{{ form.shipping.html_name }}"
                                        value="courier_delivery">

                                    <span></span>
                                </label>

                                <p class="text-afer">Доставка курьером</p>

                            </div>
                        </div>

                        <div class="textAreaBlock2 text-nn box-sizing disTab">
                            <p>Получатель<span style="color: red">{{ form.sender.errors.as_text }}</span></p>
                            <input type="text" class="box-sizing" name="{{ form.sender.html_name }}"
                                   value="{{ form.sender.value }}">
                        </div>

                        <div class="textAreaBlock2 text-nn box-sizing disTab">
                            <p>Телефон<span style="color: red">{{ form.phone.errors.as_text }}</span></p>
                            <input type="text" class="box-sizing" name="{{ form.phone.html_name }}"
                                   value="{{ form.phone.value }}">
                        </div>

                        <div class="textAreaBlock2 text-nn box-sizing disTab">
                            <p>Адрес<span style="color: red">{{ form.address.errors.as_text }}</span></p>
                            <input type="text" class="box-sizing" name="{{ form.address.html_name }}"
                                   value="{{ form.address.value }}">
                        </div>

                        <div class="searchF1 polsF1 polsFF links-filter">
                            <input class="btn-submit-link" type="submit" value="Отправить">
                        </div>

                    </div>
                    <div class="col-lg-5">
                        <p class="new-pp new-pp3">Описание услуги и расценки</p>
                    </div>
                </div>
            </form>
            {% include 'partials/footer.html' %}
        </div>
    </div>
{% endblock %}
