{% extends 'partials/_base.html' %}
{% load sass_tags %}
{% load static %}
{% block personal_css %}
    <link rel='stylesheet' href='{% sass_src "sass/components/custom-components.sass" %}'>
    <link rel='stylesheet' href='{% sass_src "lib/proekton-components/sass/components.sass" %}'>
    <link rel='stylesheet' href='{% sass_src "sass/elements/worksell_card.sass" %}'>
{% endblock %}

{% block content %}
    <div class="container main-scope">
        <div class="row title-scope" style="border-bottom: none">
            <div class="col-lg-12">
                <p>
                    Поиск готовых проектов
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        {% include 'partials/inc-worksell-filter.html' %}
                    </div>
                </div>

                <div id="resultsBlock">
                    {% include 'partials/inc-worksell-results.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block personal_js %}
    <script src='{% static "js/build/init_worksell_filter.js" %}'></script>
    <script src='{% static "js/build/worksell_filter.js" %}'></script>
{% endblock %}