{% extends 'partials/base.html' %}

{% load common_tags %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
    <p>Вы дейтсвительно хотите удалить? "{{ object }}"?</p>
    <input type="submit" value="Удалить" />
</form>
{% endblock %}
