{% extends 'partials/_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load sass_tags %}
{% load thumbnail %}
{% block personal_css %}
    <link rel='stylesheet' href='{% sass_src "sass/components/custom-components.sass" %}'>
    <link rel='stylesheet' href='{% sass_src "lib/proekton-components/sass/components.sass" %}'>
{% endblock %}

{% block content %}
    {% include 'partials/modals/project_work_type_suggestion.html' %}
    <div class="container main-scope">
        <div class="row title-scope">
            <div class="col-lg-12">
                <h1>{% if pk %}Редактировать{% else %}Добавить{% endif %} работу в портфолио</h1>
            </div>
        </div>
        <div class="row main-content">
            <div class="col-lg-12">
                <form action="
                {% if pk %}
                   {% url 'projects:contractor-portfolio-edit' pk=pk %}
                {% else %}
                   {% url 'projects:contractor-portfolio-create' %}
                {% endif %}
                "
                      method="POST"
                      enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="simple-field">
                                <div class="header">Название работы</div>
                                <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                                <span class="required {% if form.name.errors %}error{% endif %}">Обязательно</span>
                                <input value="{{ form.name.value }}" name="name"
                                       class="simple-input italic"
                                       placeholder="Пример: Дизайн квартиры, Армирование фундамента, Конструкции перекрытия и т.д."
                                       autocomplete="off"
                                       required>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div id="sb-building-classification">
                            </div>
                            <div class="vertical-child" id="sb-building-sub-classification">
                            </div>
                            <div class="selected-container" id="selected-building-classification">
                                <input type="hidden"
                                       name="building_classification"
                                       value="{{ form.building_classification.value }}">
                            </div>
                        </div>
                    </div>
                    <div class="row vertical-child mod-align-bottom">
                        <div class="col-lg-9">
                            <div class="header">Специализация готовой работы</div>
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                            <span class="required {% if form.specializations.errors %}error{% endif %}">Обязательно</span>
                            {#  Для поиска заголовка обязательного поля по name= FIXME: fixit#}
                            <div hidden name="specializations"></div>
                            <div class="" id="select-box-1"></div>
                        </div>
                        <div class="col-lg-3">
                            <div class="header">&nbsp;</div>
                            <div href="#" onclick="return false" data-toggle="modal"
                                 data-target="#projectWorkTypeSuggestionModal"
                                    {#                                 style="text-transform: none; line-height: 115%"#}
                                 class="btn btn-simple btn-plus">Нет нужной специальности хочу добавить
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="vertical-child" id="select-box-2">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="vertical-child" id="select-box-3">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="vertical-child" id="select-box-4">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="vertical-child" id="select-box-5">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="selected-container horizontal" id="selected-spec">
                                <input type="hidden" name="specializations"
                                       value="{{ form.specializations.value }}">
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 45px" class="row">
                        <div class="col-lg-12">
                            <div class="simple-field">
                                <div class="header">Подробно опишите выполненную работу</div>
                                <i class="fa fa-question-circle-o" aria-hidden="true" title=""></i>
                                <textarea name="description" class="description"
                                          rows="6">{{ form.description.value }}</textarea>

                            </div>
                            <div class="documentsChat mod" id="fileUploadContainer">
                                <div style="display: inline-block;vertical-align: middle;">
                                    <div style="display: inline-block;vertical-align: inherit;"
                                         class="upload-new paper-clip">
                                        <p id="fileUploadAddBtn" style="margin: 0">прикрепить файл</p>
                                    </div>
                                    <span style="display: inline-block;vertical-align: inherit;">ДО 100 ФАЙЛОВ</span>
                                </div>

                                <div class="row list-new-new" style="margin-top: 10px">
                                    {% for image in form.photos.field.queryset.all %}

                                        <div class="col-lg-3 file-upload-widget">
                                            <input type="hidden" name="photos" class="file-upload-input" value="{{ image.pk }}">
                                            <div class="preview-container">
                                                <div class="btn close file-upload-remove-img-btn">&times;</div>
                                                <div class="preview">
                                                    {% thumbnail image.img "250x200" crop="center" as im %}
                                                        <img src="{{ im.url }}">
                                                    {% endthumbnail %}
                                                </div>
                                            </div>
                                            {#                                        <span style="display:none" class="file-upload-label"></span>#}
                                        </div>
                                    {% endfor %}
                                    <div class="col-lg-3 file-upload-widget" style="display: none">
                                        <input type="file" name="new_files" class="file-upload-input"
                                               style="position: absolute; top: -1000px; left: -1000px">
                                        <div class="preview-container">
                                            <div class="btn close file-upload-remove-img-btn">&times;</div>
                                            <div class="preview"></div>
                                        </div>
                                        <span style="display:none" class="file-upload-label"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="separator">
                                <div class="border"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row top-line">
                        <div class="col-lg-3" style="text-align: center">
                            <input style="width: 100%" type="submit" class="btn btn-simple"
                                   onclick="sendFormData(event)"
                                   value="{% if pk %}СОХРАНИТЬ{% else %}РАЗМЕСТИТЬ{% endif %} ПОРТФОЛИО">
                        </div>
                        <div class="col-lg-3 col-lg-offset-6" style="text-align: center">
                            <input style="width: 100%" type="button" class="btn btn-simple"
                                   value="ПРЕДВАРИТЕЛЬНЫЙ ПРОСМОТР">
                        </div>
                    </div>
                </form>
            </div> <!-- content -->
        </div>
        {#        <ul id="popups-storage" hidden>#}
        {#            {% if form.errors %}#}
        {#                <li class="error">Форма заполнена неполностью</li>#}
        {#            {% endif %}#}
        {#       <li class="info">Message-1</li>#}
        {#       <li class="warning">Message-1</li>#}
        {#        </ul>#}
        {#        {% include 'partials/inc-message-popup.html' %}#}
    </div>

{% endblock %}
{% block personal_js %}
    <script src='{% static "my-libs.js" %}'></script>
    <script src='{% static "js/build/init_portfolio_create_edit.js" %}'></script>
    <script src='{% static "js/build/portfolio_create_edit.js" %}'></script>
{% endblock %}