{% extends 'partials/_base.html' %}
{% load staticfiles %}
{% load sass_tags %}
{% block personal_css %}
    <link rel='stylesheet' href='{% sass_src "sass/old_main.sass" %}'>
    <link rel='stylesheet' href='{% sass_src "lib/proekton-components/sass/components.sass" %}'>
    <link rel='stylesheet' href='{% static "css/project_filter.css" %}'>{#  other  #}
    <link rel='stylesheet' href='{% static "css/font-awesome.min.css" %}'>
{% endblock %}
{% block content %}
    <div class="old-main">
        <div class="container mainScore ">
            <div class="row">
                <div class="col-lg-12 ">
                    <p class="titleScore titleScore_mx titleScore_srch-style">Поиск заказов</p>
                </div>
                {#            FILTER#}
                {% include 'partials/inc-projects-filter.html' %}

                <div class="col-lg-12 ">
                    <div id="resultsBlock">
                        {% include 'partials/inc-projects-results.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block personal_js %}
    <script src='{% static "lib/proekton-components/js/build/init.js" %}'></script>
    <script src='{% static "js/build/project_filter.js" %}'></script>

{% endblock %}