{% extends 'partials/base.html' %}

{% block content %}
  <section class="mainContainer">
    {% include 'partials/header.html' %}
    <div class="container-fluid">
      <div class="row">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row faq_page_inn">
      {% for block in page.body %}
        {% if block.block_type == 'heading' %}
          <h2>{{ block.value }}</h2>
        {% else %}
          <section class="block-{{ block.block_type }}">
            {{ block }}
            <h2>FAQ</h2>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since <a href="#">the 1500s</a>, when an <b>unknown</b> printer <strong>took a</strong> galley of type and scrambled it to make a type specimen book. It has </p>
            <h3>is simply dummy text of the printing and typesetting industry</h3>
            <ol>
              <li>Many desktop publishing packages and web page editors now use Lorem Ipsum</li>
              <li>Many desktop publishing packages and web page editors now use Lorem Ipsum</li>
              <li>Many desktop publishing packages and web page editors now use Lorem Ipsum</li>
            </ol>
            <ul>
              <li>Many desktop publishing packages and web page editors now use Lorem Ipsum</li>
              <li>Many desktop publishing packages and web page editors now use Lorem Ipsum.</li>
              <li>Many desktop publishing packages and web page editors now use Lorem Ipsum</li>
            </ul>
            <div>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum </div>
          </section>
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}