<!-- stage={} , text-->
<div style="margin-left: -27px; margin-right: -27px; text-align: center">
    <a href="#"
       class="chat-button icon-complete_stage js-btnComplete"
       style="padding-left: 60px;"
       data-stage-id="${this.stage.id}"> ${this.text} ${this.stage.pos}
    </a>
</div>