<div id="send-review" style="margin-left: -27px; margin-right: -27px; text-align: center">
    <a href="#"
       class="chat-button icon-close_chat-positive js-btnComplete"
       style="padding: 25px 10px;"
       data-review-type="positive"> ЗАКРЫТЬ ПРОЕКТ И ОСТАВИТЬ ОТЗЫВ
    </a>
    <a href="#"
       class="chat-button icon-close_chat-negative js-btnComplete"
       style="padding: 25px 10px;"
       data-review-type="negative"> ЗАКРЫТЬ ПРОЕКТ И ОСТАВИТЬ ОТЗЫВ
    </a>
</div>
