<!--className   senderName  message={...}-->
<div class="col-lg-12 insetCommChat ${this.className}">
    <div class="message-header">
        <div class="sender_name">${this.senderName}</div><div class="created">${this.message.created}</div>
    </div>
    <div class="message-body">
        ${this.message.text}
    </div>
</div>