<!-- this {text: '...', node_id: '...' -->
<div class="note-wrapper">
    <li>
        ${this.text}
    </li>
    <div class="remove-note" data-id="${this.note_id}" style="right:-10px;"></div>
</div>
