<!-- this {order: {...} -->
<tr>
    <td>Название</td>
    <td>${this.order.project.name}</td>
</tr>
<tr>
    <td>Безопасная сделка</td>
    <td>${this.order.secure ? 'Выбрана': 'Не выбрана'}</td>
</tr>
<tr>
    <td>Тип здания</td>
    <td>${this.order.project.realty.building_classification ? this.order.project.realty.building_classification.name : 'не задан'}</td>
<tr>
    <td>Классификация здания</td>
    <td>${this.order.project.realty.construction_type ? this.order.project.realty.construction_type.name: 'не задана'}</td>
</tr>