<!--<li class="reserved"><span class="text">Сумма за этап 1.<br/> Зарезервирована</span></li> -->
<!--<li class="unreserved"><span class="text">Сумма за этап 2.<br/> Не зарезервирована</span></li> -->
<li class="${this.reserved_cls}"><span class="text">Сумма за этап ${this.stage.pos}
    <br/>${this.reserved_name}</span>
</li>