<!-- this {stage_num: '...', form_name: '...', orderId: '...', stage: {...} -->
<div class="numberStepp box-sizing">
    <!-- <p>ЭТАП ${this.stage_num} </p> ${this.stage_status} -->
    <div class="review-type" style="width: 100%">
        <div class="alignleft">
            <span>ЭТАП ${this.stage_num}</span>
        </div>
        <div class="alignright">
            <span class="stage-status"> ${this.stage_status?this.stage_status:''}</span>
        </div>
        <div style="clear: both;"></div>
    </div>
    <form class="${this.form_name} js-stage-form" data-stage-id="${(this.stage && this.stage.id) ? this.stage.id : ''}"
          id="stage-form-${(this.stage && this.stage.id) ? this.stage.id : ''}">
        <label>Название</label>
        <input class="form-control" type="text" name="name"
               value="${(this.stage && this.stage.name) ? this.stage.name : ''}">
        <p class="error error-name"></p>
        <label>Цена</label>
        <input class="form-control" type="text" name="cost"
               value="${(this.stage && this.stage.cost) ? this.stage.cost : ''}">
        <p class="error error-cost"></p>
        <input class="form-control" name="pos" type="hidden"
               value="${(this.stage && this.stage.pos) ? this.stage.pos : this.stage_num}">
        <p class="error error-pos"></p>
        <input class="form-control orderStagesInput" type="hidden" name="order"
               value="${this.orderId}">
        <input class="form-control" type="hidden" name="status" value="send_approve">
        <label>Срок</label>
        <input class="term-picker form-control datepicker" type="text" name="term"
               value="${(this.stage && this.stage.term) ? this.stage.term : ''}">
        <p class="error error-term"></p>
        <label>Результат этапа ${this.stage_num}</label>
        <input class="form-control" type="text" name="result"
               value="${(this.stage && this.stage.result) ? this.stage.result : ''}">
        <p class="error error-result"></p>
    </form>
</div>