<!-- this {stage_num: '...',  stage_status: '...', stage: {...} -->
<div class="numberStepp box-sizing"
     style="border-right: 1px solid gainsboro; border-bottom: 1px solid gainsboro;margin-bottom: 3px">
    <div class="review-type" style="width: 100%">
        <div class="alignleft">
            <span>ЭТАП ${this.stage_num}</span>
        </div>
        <div class="alignright">
            <span class="stage-status"> ${this.stage_status?this.stage_status:''}</span>
        </div>
        <div style="clear: both;"></div>
    </div>

    <div class="stage-data">
        ${this.stage.name}
    </div>
    Результат этапа
    <div class="stage-data">
        ${this.stage.result}
    </div>
    Цена
    <div class="stage-data">
        ${this.stage.cost} ₽
    </div>
    Срок
    <div class="stage-data">
        до ${this.stage.term}
    </div>
    <div class="annotate">
        Срок этапа расчитывается с момента резервирования средств
    </div>

</div>