<!-- no context -->
<div class="switch" style="font-size: 12px">
    <span class="select">Безопасная сделка не активна</span>
    <div class="row mod-align-center">
        <div class="col-lg-1">
            <input name="price_and_term_required" id="switch-to-protected" class="custom-checkbox" type="checkbox">
        </div>
        <div class="col-lg-11">
            <label for="safe" style="font-weight: normal" class="">
                Перейти в режим безопасной сделки
            </label>
        </div>
    </div>
</div>