<!-- this {stage: {...}, note_text-->
<div style="margin: 10px 0">
    В работе: ${this.stage.name} <br>
    Результат этапа: ${this.stage.result} <br>
    Срок сдачи: <span class="select js-select">${this.stage.term}</span><br>
    <span class="select js-select">${this.stage.cost}</span> р
    <div class="note">
        ${this.note_text}
    </div>
</div>