<div class="modal fade" id="addTeamMemberModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Выбор пользователя</h4>
            </div>
            
            <div class="modal-body">
                <input type="hidden" class="-contractor-select" style="width: 100%">
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary -action-button">ОК</button>
            </div>
        </div>
    </div>
</div>
