<div id="contact-customer-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Контакты владельца </h4>
            </div>
            <div class="modal-body">
                <div class="row" style="height: 180px;">
                    <div class="col-lg-8 col-lg-offset-1">
                        <ul class="list-contacts">
                            {% if customer.website %}
                                <li><i class="fa fa-globe" aria-hidden="true"></i>{{ customer.website }}</li>
                            {% endif %}

                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i>{{ customer.email }}</li>

                            {% if customer.skype %}
                                <li><i class="fa fa-skype" aria-hidden="true"></i>{{ customer.skype }}</li>
                            {% endif %}

                            {% if customer.phone %}
                                <li><i class="fa fa-phone" aria-hidden="true"></i>{{ customer.phone }}</li>
                            {% endif %}

                            {% if customer.phone2 %}
                                <li><i class="fa fa-phone" aria-hidden="true"></i>{{ customer.phone2 }}</li>
                            {% endif %}

                            {% if customer.organization_name %}
                                <li><i class="fa fa-briefcase" aria-hidden="true"></i>{{ customer.organization_name }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>