<h1>Добавление отзыва</h1>
<form method="post">{% csrf_token %}
    {{ form.errors }}

    <p>
    <div class="mail-block type-work-inset">
        {% for id, name in form.type.field.choices %}

            <input type="radio" value="{{ id }}" {% if form.type.value|int == id %}checked{% endif %}
                    name="{{ form.type.html_name }}">{{ name }}

        {% endfor %}
    </div>
    </p>
    <p>
        {{ form.text }}
        <input type="text" name="{{ form.project.html_name }}" value="" />
    </p>

    <input type="submit" value="Добавить"/>
</form>
