{% extends 'partials/base.html' %}

{% load staticfiles %}
{% load thumbnail %}
{% block content %}


{% include 'partials/header.html' %}
    <div class="container mainScore">
        <div class="row">
            <div class="col-lg-12">
                <p class="titleScore">Все отзывы</p>
            </div>

            <div class="galleryWork disTab">
                {% for review in object_list %}
                <div class="new-comm-44">
                            <div class="col-lg-12">
                                <p class="nameComm">
                                    <a href="#">{{ review.get_sender }}</a>
                                </p>
                                {% if review.project.deal_type == 'secure_deal' %}
                                <span class="dateComm44">
                                    Безопасная сделка
                                </span>
                                {% endif %}
                                <div class="stars box-sizing">
                                    <a href="#">положительный отзыв</a>
                                </div>
                                <p class="textComm44">
                                    {{ review.text }}
                                </p>
                            </div>
                        </div>
                {% endfor %}
            </div>

            {% include 'partials/footer.html' %}
        </div>
    </div>
{% endblock %}
