{% extends 'partials/base.html' %}

{% block content %}
	<section class="mainContainer">
            {% include 'partials/header.html' %}
		<div class="container-fluid">
			<div class="row">
				<p class="welcomeMain">Ошибка 403. Доступ ограничен{% if exception %}. {{ exception }}{% endif %}</p>
			</div>
		</div>
	</section>
{% endblock %}
