{% extends 'partials/_base.html' %}
{% load static %}
{% load sass_tags %}
{% block personal_css %}
<link rel='stylesheet' href='{% sass_src "partials/sass/404.sass" %}'>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 80px; margin-bottom: 80px">
            <div class="col-lg-6">
                <img class="_404" src="{% static 'img/404house.jpg' %}" alt="404">
            </div>
            <div class="col-lg-6">
                <h1 class="_404">404</h1>
                <p style="font-size: 30px; font-weight: bold; padding-bottom: 20px; border-bottom: 1px solid #cfcfcf; margin-bottom: 40px;">
                    Страница не найдена
                </p>
                <p>
                    Что-то пошло не по плану <br>и мы не смогли найти эту страницу.
                </p>
                <p>
                    Но всегда можно вернуться <br>на <a href="/">главную страницу</a> и начать все с начала ;-)
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer-wrapper">
        <div class="container">
            {% include 'partials/footer.html' %}
        </div>
    </div>
{% endblock %}
