{% extends 'partials/base.html' %}
{% block old_css %}

{% endblock %}

{% block content %}
    <section class="mainContainer">
        {% include 'partials/header.html' %}
        <div class="container-fluid">
            <div class="row">
                <p class="welcomeMain">{{ main_settings.heading }}</p>
            </div>
        </div>
        <div class="container-fluid">
            Main page text will be here...
        </div>
    </section>
{% endblock %}
{% block js_block %}
    <script src='{% static "js/bootstrap.min.js" %}'></script>
{% endblock %}
{% block old_js %}

{% endblock %}