{% extends 'partials/base.html' %}
{% load staticfiles %}
{% load sass_tags %}
{% load thumbnail %}
{% block old_css %}{% endblock %}
{% block head_css %}
    <link rel='stylesheet' href='{% static "js/magnific-popup.css" %}'>
    <link rel='stylesheet' href='{% sass_src "sass/main.sass" %}'>
    <link rel='stylesheet' href='{% sass_src "partials/sass/home.sass" %}'>
{% endblock %}

{% block content %}
    {% include 'partials/header.html' %}
    <div class="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="welcomeMain">{{ main_settings.heading }}</p>
                </div>
            </div>

            <div class="row mod-row-eq-height">
                <div class="col-lg-5 col-lg-offset-1 mod-no-padding">
                    <div class="infoBlock customer">
                        {% if request.user.is_authenticated and request.user.is_customer %}
                            <a class="to-profile"
                               href="{% url 'users:customer-profile' pk=request.user.pk %}">Я заказчик</a>
                        {% else %}
                            <a class="to-profile" href="{% url 'registration_register' %}?type=customer">Я заказчик</a>
                        {% endif %}
                        <ul class="customer-list">
                            <li>
                                <div class="icon-1"></div>
                                <div class="text">
                                    Ресурс для специалистов по проектированию, дизайну, оформлению и сопровождению
                                    проектной документации
                                </div>
                            </li>
                            <li>
                                <div class="icon-2"></div>
                                <div class="text">
                                    Удобный и быстрый поиск исполнителей
                                </div>
                            </li>
                            <li>
                                <div class="icon-3"></div>
                                <div class="text">
                                    Готовые сформированные группы исполнителей
                                </div>
                            </li>
                            <li>
                                <div class="icon-4"></div>
                                <div class="text">
                                    Безопасная сделка (договор без риска)
                                </div>
                            </li>
                            <li>
                                <div class="icon-5"></div>
                                <div class="text">
                                    Адекватная оценка стоимости работы
                                </div>
                            </li>
                            <li>
                                <div class="icon-6"></div>
                                <div class="text">
                                    Возможность купить готовые проекты, работы
                                </div>
                            </li>
                        </ul>
                        <a class="create" href="{% url 'projects:customer-project-create' %}">Разместить заказ</a>
                    </div>
                </div>
                <div class="col-lg-5 mod-no-padding">
                    <div class="infoBlock contractor">
                        {% if request.user.is_authenticated and request.user.is_contractor %}
                            <a class="to-profile" href="{% url 'users:contractor-profile' pk=request.user.pk %}">
                                Я исполнитель</a>
                        {% else %}
                            <a class="to-profile" href="{% url 'registration_register' %}?type=contractor">
                                Я исполнитель</a>
                        {% endif %}
                        <ul class="contractor-list">
                            <li>
                                <div class="icon-7"></div>
                                <div class="text">
                                    Большой выбор заказов для исполнителей
                                </div>
                            </li>
                            <li>
                                <div class="icon-8"></div>
                                <div class="text">
                                    Удобный и быстрый поиск заказчиков
                                </div>
                            </li>
                            <li>
                                <div class="icon-9"></div>
                                <div class="text">
                                    Безопасная сделка (договор без риска)
                                </div>
                            </li>
                            <li>
                                <div class="icon-10"></div>
                                <div class="text">
                                    Печать, брошюровка и доставка проектной документации
                                </div>
                            </li>
                            <li>
                                <div class="icon-11"></div>
                                <div class="text">
                                    Возможность продать готовые проекты, работы
                                </div>
                            </li>
                            <li>
                                <div class="icon-12"></div>
                                <div class="text">
                                    Платформа разработана для проектировщиков дизайнеров и технических заказчиков
                                </div>
                            </li>
                        </ul>
                        <a class="create" href="{% url 'work_sell:create' %}">Разместить проект</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a class="popup-youtube youtube" href="{{ main_settings.video_code }}">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="container">
            {% include 'partials/footer.html' %}
        </div>
    </div>
{% endblock %}

{% block old_js %}
    <script src='{% static "js/bootstrap.min.js" %}'></script>
{% endblock %}
{% block js_block %}
    {{ block.super }}
    <script src='{% static "js/jquery.magnific-popup.js" %}'></script>
    <script src='{% static "js/build/home_page.js" %}'></script>
{% endblock %}
