{% extends 'partials/base.html' %}

{% block head %}
    <meta http-equiv="refresh" content="15;URL='{% url 'wallets:score-detail' pk=request.user.pk %}'">
{% endblock %}

{% block content %}
    {% include 'partials/header.html' %}
    
	<div class="container mainScore">
		<div class="row">
            <div class='col-xs-12' style='margin-top: 15px; text-align: center'>
                <h1>{{ message }}</h1>
                
                {% if request.user.is_authenticated %}
                    <div>
                        <a href="{% url 'wallets:score-detail' pk=request.user.pk %}">
                            Вернуться на страницу личного счёта
                        </a>
                        
                        (автоматически через 15 секунд)
                    </div>
                {% endif %}
            </div>
            
            {% include 'partials/footer.html' %}
        </div>
    </div>
{% endblock %}

{% block js_block %}
    <script>
        setTimeout(function() {
            window.location.href = '{% url 'wallets:score-detail' pk=request.user.pk %}'
        }, 15000)
    </script>
{% endblock %}
