<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge, chrome=1'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <title>Archilance</title>
    
    <link rel='stylesheet' href='{% static "lib/jquery-ui/jquery-ui.css" %}'>
    <link rel='stylesheet' href='{% static "css/bootstrap.css" %}'>
</head>

<body>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-xs-12' style='margin-top: 15px'>
                <pre>Blah</pre>
            </div>
        </div>
    </div>
    
    <script src='{% static "lib/lodash/lodash.js" %}'></script>
    <script src='{% static "lib/lodash/lodash.fp.js" %}'></script>
    <script src='{% static "js/jquery-2.2.3.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    
    <script src='{% static "my-libs.js" %}'></script>
    
    <script>
        console.log(JSON.parse({{ foo|json }}))
    </script>
</body>
</html>
