{% load sass_tags %}
<div class="modal fade" id="realtyEditModal" tabindex="-1">
    <div class="modal-dialog" role="document" style="width: 900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Редактировать Объект</h4>
            </div>

            <div class="modal-body">
                <div class="container">
                    <form action="" method="POST" novalidate>
                        <div class="row mod-align-bottom" style="display: none">
                            <div class="col-lg-3">
                                <div id="sb-realty"></div>
                            </div>
                            <div class="col-lg-3">
                                <div class="selected-container horizontal" id="selected-realty">
                                    <input class="-id" type="hidden" name="realty"
                                           value="{{ form.realty.value }}">
                                    <input class="-name" type="hidden" name="new_realty_name" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="simple-field">
                                    <div class="header">Название объекта</div>
                                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                                    <span class="required ">Обязательно</span>
                                    <input value="" name="name" class="simple-input" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="vertical-child" id="sb-building-classification">
                                </div>
                                <div class="vertical-child" id="sb-building-sub-classification">
                                </div>
                                <div class="selected-container" id="selected-building-classification">
                                    <input type="hidden"
                                           name="building_classification"
                                           value="{{ realty_form.building_classification.value }}">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="vertical-child" id="sb-construction-type">
                                </div>
                                <div class="selected-container" id="selected-construction-type">
                                    <input type="hidden"
                                           name="construction_type"
                                           value="{{ realty_form.construction_type.value }}">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="vertical-child" id="sb-location-1"></div>
                                <div class="vertical-child" id="sb-location-2"></div>
                                <div class="vertical-child" id="sb-location-3"></div>
                                <div class="selected-container" id="selected-location">
                                    <input type="hidden"
                                           name="location"
                                           value="{{ realty_form.location.value }}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button"
                        onclick="updateRealty($('#realtyEditModal').find('form'), {{ customer.id }}); return null"
                        class="btn btn-primary -action-button">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>
