<div class="modal fade" id="projectWorkTypeSuggestionModal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Предложение нового типа работы</h4>
      </div>

      <div class="modal-body">
        <form action="{% url 'projects:suggest-work-type' %}" method="POST" novalidate
              class="-project-work-type-suggestion-form">
          {% csrf_token %}

          <div>{{ work_type_suggestion_form.non_field_errors }}</div>

          <div class="row">
            <div class="col-xs-12 projectsBlock">
              <div>{{ work_type_suggestion_form.name.label }}</div>
              <div>{{ work_type_suggestion_form.name }}</div>
              <div class="-error -error-{{ work_type_suggestion_form.name.html_name }}"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 projectsBlock">
              <div>{{ work_type_suggestion_form.commentary.label }}</div>
              <div>{{ work_type_suggestion_form.commentary }}</div>
              <div class="-error -error-{{ work_type_suggestion_form.commentary.html_name }}"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 projectsBlock">
              <div>{{ work_type_suggestion_form.email.label }}</div>
              <div>{{ work_type_suggestion_form.email }}</div>
              <div class="-error -error-{{ work_type_suggestion_form.email.html_name }}"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 projectsBlock">
              <div>{{ work_type_suggestion_form.username.label }}</div>
              <div>{{ work_type_suggestion_form.username }}</div>
              <div class="-error -error-{{ work_type_suggestion_form.username.html_name }}"></div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary -action-button">Предложить</button>
      </div>
    </div>
  </div>
</div>
