<div class="rating">
    <div class="ratingInset-wrapper">
        <div class="ratingInset" style="clip:rect(0px, {{ current_indicator_px }}px, 50px, 0px);"></div>
    </div>
    <div class="iconRating"></div>
    <p class="ratingPer">{{ current_indicator }}%</p>
</div>
