{% load common_tags %}
<div class="modal-body">
  <form method="post">{% csrf_token %}
    <div class="textAreaBlock2 text-nn box-sizing disTab">
      <p>Название заказа <span style="color: red">{{ worksell_form.name.errors.as_text }}</span></p>
      <input type="text" class="box-sizing" name="{{ worksell_form.name.html_name }}"
             value="{{ worksell_form.name.value }}">
    </div>

    <div class="textAreaBlock2 text-nn box-sizing disTab">
      <p>Подробно опишите задание <span style="color: red">{{ worksell_form.text.errors.as_text }}</span></p>
      <textarea name="{{ worksell_form.text.html_name }}" id="text-new">{{ worksell_form.text.value }}</textarea>
    </div>

    <div class="textAreaBlock2 text-nn box-sizing disTab">
      <select id="realtyBuildingClassificationId" class="selectpicker"
              name="{{ realty_form.building_classification.html_name }}">
        {% for c in realty_form.building_classification.field.queryset %}
          <option value="{{ c.pk }}"
                  {% if realty_form.building_classification.value|int == c.pk %}selected="selected"{% endif %}>{{ c.name }}</option>
        {% endfor %}
      </select>
    </div>


    <div class="polsF1 disTab">
      <div class="col-lg-3">
        <input type='hidden' class="-spec-select -spec-select-level-1" style="width: 100%">
      </div>

      <div class="col-lg-3">
        <input type='hidden' class="-spec-select -spec-select-level-2" style="width: 100%">
      </div>

      <div class="col-lg-3">
        <input type='hidden' class="-spec-select -spec-select-level-3" style="width: 100%">
      </div>

      <div class="col-lg-3">
        <input type='hidden' class="-spec-select -spec-select-level-4" style="width: 100%">
      </div>

      <input type="hidden" id="chosenSpecId" name="{{ worksell_form.specialization.html_name }}"
             value="{{ worksell_form.specialization.value }}">
    </div>

    <div class="textAreaBlock2 text-nn box-sizing disTab">
      <p>Бюджет{{ worksell_form.budget.errors.as_text }}</p>
      <div class="row">
        <div class="col-lg-8">
          <input type="text" class="box-sizing" name="{{ form.budget.html_name }}" value="{{ form.budget.value }}">
        </div>
        <div class="col-lg-4">
          {{ worksell_form.budget_type }}
        </div>
      </div>
    </div>

    <div class="textAreaBlock2 text-nn box-sizing disTab">
      <p>Срок выаолнения{{ worksell_form.budget.errors.as_text }}</p>
      <div class="row">
        <div class="col-lg-8">
          <input type="text" class="box-sizing" name="{{ form.budget.html_name }}" value="{{ form.budget.value }}">
        </div>
        <div class="col-lg-4">
          {{ worksell_form.term_type }}
        </div>
      </div>
    </div>

    <div class="textAreaBlock2 text-nn box-sizing disTab">
      <p>Бюджет{{ worksell_form.budget.errors.as_text }}</p>

      <select id="realtyConstructionTypeId" class="selectpicker" name="{{ worksell_form.construction_type.html_name }}">
        {% for t in realty_form.construction_type.field.queryset %}
          <option value="{{ t.pk }}"
                  {% if realty_form.construction_type.value|int == t.pk %}selected="selected"{% endif %}>{{ t.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="searchF1 polsF1 polsFF links-filter">
      <input class="btn-submit-link" type="submit" value="Разместить проект">
    </div>

  </form>
</div>

<div class="modal-footer">

</div>
