{% extends 'partials/base.html' %}

{% block content %}
  <div class="col-lg-12 allProjects">
    <p class="titleScore">Новый заказ</p>
  </div>

  <form method="post">
    {% csrf_token %}
    {{ form_project.errors }}
    {{ form_realty.errors }}
    <div class="chatBlock new-rass new-rass2 disTab">
      {{ project_form.errors }}
      <div class="col-lg-9">
        <p class="new-pp new-pp3">Формирование заказа</p>
        <div class="textAreaBlock2 text-nn box-sizing disTab">
          <p>Название заказа</p>
          <input type="text" class="box-sizing" name="{{ project_form.name.name }}"/>
          {{ project_form.name.errors }}
        </div>
        <div class="textAreaBlock2 text-nn box-sizing disTab">
          <p>Подробно опишите задание</p>
          <textarea name="{{ project_form.text.name }}" id="text-new"></textarea>
        </div>
      </div>
      <div class="col-lg-3 wrChat1">
        <div class="messageBlock box-sizing disTab">
          <p>Дополнительно</p>
        </div>
        <div class="col-lg-12 documentsChat">
          {#                <form action="" method="post">#}
          {#                    <div class="upload">#}
          {#                        <input type="file" name="upload"/>#}
          {#                        <p>+ добавить файл (до 100 файлов)</p>#}
          {#                    </div>#}
          {#                                    <input type="submit" value="Submit" />#}
          {#                </form>#}
          {#                    <ul class="list-new-new">#}
          {#                        <li>#}
          {#                            Архитерурное 2.jpg#}
          {#                            <span>7мб</span>#}
          {#                            <div></div>#}
          {#                        </li>#}
          {#                    </ul>#}
        </div>
        <p class="type-work">{% trans 'project_stage0' %}:</p>
        <div class="mail-block type-work-inset">
          {% for type in project_form.work_type.choices %}
            <div class="inset-mb">
              <label><input type="radio" value="{{ x.0 }}" name="{{ project_form.type_work.name }}"><span></span></label>
              <p>{{ x.1 }}</p>
            </div>
          {% endfor %}
        </div>
        <div class="textAreaBlock2 box-sizing disTab">
          <a href="javascriptt:void(0)" class="new-link new-lw">+ Добавить раздел</a>
        </div>
      </div>
    </div>
    <div class="col-lg-12 new-filter">
      <div class="filter clearfix">
        <div class="titleF1 disTab">
          <div class="col-lg-3">Специализация проекта:</div>
          <div class="col-lg-3"></div>
          <div class="col-lg-3"></div>
          <div class="col-lg-3"></div>
        </div>


        <div class="polsF1 disTab">
          <div class="col-lg-3">

            <select id="specialization1" name="{{ project_form.specialization.name }}">
            </select>

            {#                           {{  project_form.specialization }}#}
          </div>
          <div class="col-lg-3">
            <select class="selectpicker">
              <option>Mustard</option>
              <option>Ketchup</option>
              <option>Relish</option>
            </select>
          </div>
          <div class="col-lg-3">
            {#                    <select class="selectpicker">#}
            {#                        <option>Mustard</option>#}
            {#                        <option>Ketchup</option>#}
            {#                        <option>Relish</option>#}
            {#                    </select>#}
          </div>
          <div class="col-lg-3">
            {#                    <select class="selectpicker">#}
            {#                        <option>Mustard</option>#}
            {#                        <option>Ketchup</option>#}
            {#                        <option>Relish</option>#}
            {#                    </select>#}
          </div>
        </div>
        <div class="titleF1 titleF2 disTab">
          <div class="col-lg-4">Бюджет</div>
          <div class="col-lg-8"></div>
        </div>
        <div class="searchF1 polsF1 polsFF">
          <div class="col-lg-4">
            <input type="text" name="{{ project_form.price.name }}" class="box-sizing surr">
            <select class="selectpicker2 valul">
              <option>&#36;</option>
              <option>&#36;</option>
              <option>&#36;</option>
            </select>
          </div>
          <div class="col-lg-3">
            <select class="selectpicker">
              <option>За проект</option>
              <option>Ketchup</option>
              <option>Relish</option>
            </select>
          </div>
          <div class="col-lg-5 dog-new">
            <label><input type="checkbox" name="dogovor"><span></span></label>
            <p>или по договоренности</p>
          </div>
        </div>
        <div class="searchF1 polsF1 polsFF make-new">
          <label><input type="checkbox" name="dogovor"><span></span></label>
          <p>Сделать для исполнителей обязательным для заполнения поля цена и срок</p>
        </div>
        <div class="titleF1 titleF2 disTab">
          <div class="col-lg-12">Способ оплаты</div>
        </div>
        <div class="searchF1 polsF1 polsFF radio-afer">
          <div class="col-lg-6">
            <label><input type="radio" name="afer"><span></span></label>
            <p class="text-afer">
              Безопасная сделка (с резервированием бюджета)
            </p>
            <p class="des-afer">
              Текст
            </p>
          </div>
          <div class="col-lg-6">
            <label><input type="radio" name="afer"><span></span></label>
            <p class="text-afer">
              Прямая оплата Исполнителю на его кошелек/счет
            </p>
            <p class="des-afer">
              Текст
            </p>
          </div>
        </div>
        <div class="resSearchF1">
          <div class="col-lg-3">
            <p class="titleResF1">Расширенный поиск</p>
            <button class="resButtonF1">
              <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            </button>
          </div>
          <div class="col-lg-9">
            <div class="borderS1"></div>
          </div>
        </div>
        <div class="slideRes disTab activeSlide">
          <div class="titleF1 disTab">
            <div class="col-lg-3">Выбор объекта:</div>
            <div class="col-lg-3">Наименование:</div>
            <div class="col-lg-3">Классификация здания:</div>
            <div class="col-lg-3">Вид строительства:</div>
          </div>
          <div class="polsF1 polsF2 disTab">
            <div class="col-lg-3">
              <select class="selectpicker">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
              </select>
            </div>
            <div class="col-lg-3">
              <input type="text" class="box-sizing surr surr2" name="{{ realty_form.name.name }}">
            </div>
            <div class="col-lg-3">
              <select class="selectpicker" name="{{ realty_form.building_classification.name }}">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
              </select>
            </div>
            <div class="col-lg-3">
              <select class="selectpicker" name="{{ realty_form.type_construction.name }}">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
              </select>
            </div>
          </div>
          <div class="titleF1 disTab">
            <div class="col-lg-12">Местоположение:</div>
          </div>
          <div class="polsF1 polsF2 disTab">
            <div class="col-lg-3">
              <select class="selectpicker" name="{{ realty_form.country.name }}">
                <option>Страна</option>
                <option>Ketchup</option>
                <option>Relish</option>
              </select>
            </div>
            <div class="col-lg-3">
              <select class="selectpicker" {{ realty_form.city.name }}>
                <option>Город</option>
                <option>Ketchup</option>
                <option>Relish</option>
              </select>
            </div>
            <div class="col-lg-6 make-new">
              <label><input type="checkbox" name="dogovor"><span></span></label>
              <p>Требуется допуск СРО</p>
            </div>
          </div>

          <div class="searchF1 polsF1 polsFF links-filter">
            <input style="border-radius: 40px;
    font-family: 'pfdintextcomppro-regular', sans-serif;color: black;font-size: 16px;padding: 17px 33px 17px 33px;
    float: left;margin: 0 15px 48px 15px;border: 1px solid #DFDFDF;text-transform: uppercase;
    letter-spacing: 2px;color: #42B476;border: 1px solid #42B476" type="submit" value="Разместить проект"/>
            <a href="javascript:void(0)">Сохранить</a>

          </div>

        </div>
      </div>

    </div>


  </form>

{% endblock %}
{% block js_block %}
  <script type="text/javascript">
    $(function () {

      function updateSelectData() {


      }

      $.ajax({
        url: '/api/specializations?parent=1',
        type: 'GET',
        dataType: 'json',
        success: function (json) {

          console.log(json.results);
          var out = ''
          $.each(json.results, function (i, v) {
            $('#specialization1')
                .append($("<option></option>")
                    .attr("value", v.name)
                    .text(v.name));
          });

          $("#specialization1").addClass("selectpicker");
          $('.selectpicker').selectpicker({
            style: 'btn-info',
            size: 4,
            width: '237px'
          });
        }
      });

      $("#specialization1").on("change", function () {

      });
    });
  </script>
{% endblock %}
