<form method="post" action="">{% csrf_token %}
  {{ form.as_p }}

  <fieldset>
    <legend>Photos</legend>
    {{ portfolio_photo_form.management_form }}
    {{ portfolio_photo_form.non_form_errors }}
    {% for form in portfolio_photo_form %}
      {{ form.id }}
      <div class="inline {{ portfolio_photo_form.prefix }}">
        {{ form.img.errors }}
        {{ form.img.label_tag }}
        {{ form.img }}
      </div>
    {% endfor %}
  </fieldset>
  <input type="submit" value="Add portfolio" class="submit"/>
</form>
