@import "base/variavles"
@import "modules/mods"

.avatar
  border: 15px solid #F1F1F1

.nav-tabs
  .count
    display: inline-block
    width: 32px
    height: 32px
    border-radius: 100%
    text-align: center
    line-height: 32px
    font-family: 'Arial-MT-Regular', sans-serif
    overflow: hidden
    color: black
    background-color: #ccc
    margin-left: 10px

.projects_count
  display: inline-block
  color: red
  margin: 0 15px

.object
  .object-header
    font-size: 24px
    color: #545151
    font-weight: bold
  a
    color: #575454
  a:hover
    text-decoration: none
    color: #000

.user_name
  color: #131212
  font-size: 16pt
  line-height: 100%

.border.add_line:before
  content: ''
  position: relative
  display: block
  width: 100px
  height: 3px
  background-color: black
  left: 62px
  top: 0
//z-index: 1
//-webkit-transition: all 0.3s ease-out
//-moz-transition: all 0.3s ease-out
//transition: all 0.3s ease-out

.nav-tabs a
  color: #0b0b0b

table.ratings
  font-size: 14pt
  td
    padding: 10px 10px 10px 15px
  .positive
    color: #0b0b0b
  .neutral
    color: grey
  .negative
    color: red

table.projects
  width: 100%
  td
    padding: 5px
  tr:nth-child(2n)
    background-color: #E8E8E8

  .cut
    display: inline-block
    text-overflow: ellipsis
    max-width: 500px
    overflow: hidden
    word-wrap: break-word
    white-space: nowrap

%icons
  margin-left: 0px
  display: flex
  align-items: center
  &:before
    content: ''
    display: inline-block
    width: 20px
    height: 20px
    background-size: cover
    position: relative
    left: -10px

.icon-rating
  @extend %icons
  &:before
    background: url('#{$static}/img/rett.png') no-repeat 0 0

.icon-deals
  @extend %icons
  &:before
    width: 25px
    height: 25px
    background: url('#{$static}/img/rett.png') no-repeat 0 -19px

.icon-reviews
  @extend %icons
  &:before
    width: 26px
    height: 26px
    background: url('#{$static}/img/rett.png') no-repeat 0 -44px

.icon-restore
  @extend %icons
  &:before
    width: 26px !important
    height: 26px
    left: -15px
    background:
      image: url('#{$static}/img/icons/icon_restore.png') !important
      repeat: no-repeat
      size: 26px 26px
      position: 0 0 !important

.icon-edit_list
  @extend %icons
  &:before
    width: 26px
    height: 26px
    background:
      image: url('#{$static}/img/icons/icon_edit.png') !important
      repeat: no-repeat
      size: 26px 26px
      position: 0 0 !important

.icon-trash-red
  @extend %icons
  &:before
    width: 21px
    height: 21px
    background: url('#{$static}/img/cenaList3.png') no-repeat 0 0

.icon-trash-gray
  @extend %icons
  &:before
    width: 21px
    height: 21px
    background: url('#{$static}/img/cenaList3.png') no-repeat 0 0

.icon-calendar
  @extend %icons
  &:before
    width: 19px
    height: 19px
    background: url('#{$static}/img/listPro.png') no-repeat 0 0

.icon-eye
  @extend %icons
  &:before
    width: 26px
    height: 18px
    background:
      image: url('#{$static}/img/icons/icon_eye.png')
      repeat: no-repeat
      size: 26px 18px

.icon-speach-ball_gray
  @extend %icons
  &:before
    width: 18px
    height: 18px
    background:
      image: url('#{$static}/img/icons/icon_speach-ball_gray.png')
      repeat: no-repeat
      size: 18px 18px

.icon-certificate
  @extend %icons
  &:before
    width: 18px
    height: 18px
    background:
      image: url('#{$static}/img/icons/icon_сertificate-512.png')
      repeat: no-repeat
      size: 18px 18px

.icon-contacts
  display: inline-flex
  align-items: center
  padding-bottom: 2px
  color: #0b0b0b
  @extend %icons
  &:before
    width: 25px
    height: 19px
    background:
      image: url('#{$static}/img/icons/icon_contacts_gray.png')
      repeat: no-repeat
      //size: 25px 19px
  &:hover
    text-decoration: none
    color: #0b0b0b
    cursor: pointer
    border-bottom: 1px solid red
    &:before
      background:
        image: url('#{$static}/img/icons/icon_contacts_red.png')

  &:focus
    outline: none
    text-decoration: none
    color: #0b0b0b

.list-contacts
  padding-left: 0
  list-style: none
  li
    margin-bottom: 10px
  i
    width: 50px