.mainContent
  padding: 43px 25px 40px 25px

/*TODO: Привязать к ширине блока справа

.avatarInset
  width: 210px
  height: 210px

.avatar
  background-color: #F1F1F1
  width: 228px
  height: 228px
  padding: 10px

.simple-input, .simple-select
  height: 51px
  width: 100%
  border: 1px solid #cccccc
  outline: none
  padding: 5px 40px 5px 20px
  background-color: white
  margin-bottom: -1px

.simple-input:-webkit-autofill
  transition: background-color 5000s ease-in-out 0s

.simple-select
  &:-webkit-autofill
    transition: background-color 5000s ease-in-out 0s
  select
    background-color: darkgray
  display: flex
  align-items: center
  text-align: center
  &.fill
    background-color: #F2F2F2
  .text
    color: #a3a3a3

.toggle .btn
  padding: 14px 20px
  border-radius: 40px

.bottom-line
  padding-bottom: 10px
  border-bottom: 1px solid #cccccc

.top-line
  /*padding-bottom: 10px;
  border-top: 1px solid #cccccc

/* СУПЕР-костыльная кнопка. Не прикасаться -)

.upload-new
  width: 50%
  height: 30px
  overflow: hidden
  cursor: pointer
  border-radius: 40px
  border: 1px solid #FF0029
  &:hover
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
    -webkit-transform: scale(1.04)
    -moz-transform: scale(1.04)
    transform: scale(1.04)

.btn-simple:hover
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
  -webkit-transform: scale(1.04)
  -moz-transform: scale(1.04)
  transform: scale(1.04)

.upload-new, .btn-simple
  transition: all 0.3s
  cursor: pointer

.upload-new
  input
    display: block !important
    width: 100% !important
    height: 30px !important
    opacity: 0 !important
    cursor: pointer
  p
    line-height: 30px
    text-transform: uppercase
    margin: -30px 0 0 0
    /*padding: 0 5px 0 5px;
    font-size: 12px
    text-align: center
    font-family: Myriad

/** Конец супер-костыля*

.row-eq-height
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex

.info, .financial_info
  background-color: #F2F2F2
  padding: 30px 40px 50px
  margin-top: 20px
  .header
    margin-top: 30px

.btn-simple
  border-radius: 40px
  padding: 10px 15px
  border: 1px solid #FF0029
  /*color: black;
  background: none
  font-family: Myriad
  font-weight: normal
  font-style: normal
  font-size: 14pt

.no-margin .selected-element
  margin: 0

.-live-image-avatar-upload-container
  .-position-relative-parent
    position: relative
  .-live-image-delete
    position: absolute
    top: 0
    right: 0
    background-color: white