{% extends '_layout.html' %}

{% block content %}

    <h1>Angular setup

    <form class="form-horizontal" ng-controller="dropdownCtrl">
      <div class="form-group">
          <label for="spec1" class="col-sm-2">Spec1</label>
          <select ng-model="spec1">
                  <option value="">-- Choose Country --</option>
          </select>
      </div>
    </form>
{% endblock %}
