{% load staticfiles %}
{% load thumbnail %}
{#/static/sass/elements/worksell_card.sass - стиль карточки отдельно#}
<div class="worksell-card">
    <a href="{% url 'work_sell:detail' work.pk %}">
        <div class="img-block">
            <div class="img" style="background-image: url('{{ work.get_cover.url }}')"></div>
            <div class="img-figure"></div>
            <div class="cost-wrapper">
                <span class="cost">
                    {{ work.budget }}<i class="fa fa-rub"></i>
                </span>
            </div>
        </div>
        <div class="name-block">
           {{ work }}
        </div>
    </a>
</div>