{% load sass_tags %}

<input id="titleScore" type="hidden" value="{{ display_msg }}">

<div class="row">
    <div class="col-lg-12 cards">
        {% for work in worksells %}
            {#        <div class="col-lg-3">#}
            {% include 'partials/inc-worksell_card.html' %}
            {#        </div>#}
        {% endfor %}
    </div>
</div>


<div class="row">
    <div class="col-lg-12 pagin">
        {% include 'partials/ajax_pagination.html' %}
    </div>
</div>