{% load user_tags %}


{% url 'users:contractor-office' as contractor_office_url %}
{% url 'users:contractor-office-open-projects' as contractor_office_open_projects_url %}
{% url 'users:contractor-office-chat-projects' as contractor_office_chat_projects_url %}

<div class="profileTabs">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation">
            <a href="{% url 'users:contractor-filter' %}">Поиск исполнителей</a>
        </li>
        
        <li role="presentation" {% if request.path == contractor_office_url %}class="active"{% endif %}>
            <a href="{{ contractor_office_url }}">Мои группы</a>
            <div class="roundsCount"></div>
        </li>
        
        <li role="presentation" {% if request.path == contractor_office_open_projects_url %}class="active"{% endif %}>
            <a href="{{ contractor_office_open_projects_url }}" >Открытые проекты</a>
            <span class="desPresent">в процессе обсуждения</span>
            
            <div class="roundsCount">
                <div class="countG">{% get_open_projects_grouped request.user %}</div>
            </div>
        </li>
        
        <li role="presentation" {% if request.path == contractor_office_chat_projects_url %}class="active"{% endif %}>
            <a href="{{ contractor_office_chat_projects_url }}">Проекты в работе</a>
            
            <div class="roundsCount">
                <div class="countG">{%  get_customer_chat_open_projects request.user %}</div>
            </div>
        </li>
    </ul>
</div>
