{% load thumbnail %}
{% load staticfiles %}
{% load specializtions_tags %}
{% load user_tags %}
<div class="row mod-row-eq-height" style="position: relative">
    <div class="col-lg-3">
        <div class="avatar">
            {% if customer.avatar %}
                {% thumbnail customer.avatar "220x220" crop="center" as im %}
                    <img src="{{ im.url }}" alt="profile-image">
                {% endthumbnail %}
            {% else %}
                {% if customer.gender == "female" %}
                    <img src="{% static 'img/avatars/avatar-female.jpg' %}" alt="profile-image">
                {% else %}
                    <img src="{% static 'img/avatars/avatar-male.jpg' %}" alt="profile-image">
                {% endif %}
            {% endif %}
        </div>
        <div class="old-main">
            <div class="menuUser disTab">
                <ul style="margin-bottom: 0; padding-left: 0">
                    {% if customer.pk != request.user.pk %}
                        <li class="icon_um3">
                            <a href="{% url 'chat:chat-user' %}?user_id={{ customer.pk }}#user{{ customer.pk }}">
                                написать сообщение
                            </a>
                            <span></span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row mod-row-eq-height">
            <div class="col-lg-5">
                <span class="user_name">{{ customer.get_full_name }} <br>[{{ customer.username }}]</span>
                <table style="margin-top: 10px; margin-bottom: 10px">
                    <tr>
                        <td style="min-width: 100px">На сайте:</td>
                        <td>{{ on_site }}</td>
                    </tr>
                    <tr>
                        <td>Страна:</td>
                        <td>{{ customer.country }}</td>
                    </tr>
                    <tr>
                        <td>Город:</td>
                        <td>{{ customer.city }}</td>
                    </tr>
                </table>
                {% if request.user == customer %}
                    <a href="{% url 'users:user-profile-edit' pk=pk %}" class="btn btn-simple mod-align-center-inline"
                       style="padding: 8px 20px; font-size: 11pt; letter-spacing: 1px">
                        <span type="submit" class="icon-edit"> </span> редактировать профиль
                    </a>
                {% endif %}
            </div>

            <div class="col-lg-7"
                 style="border-bottom: 1px solid gainsboro; border-top: 1px solid gainsboro; position: relative">
                {% if request.user.is_authenticated %}
                    <a href="#" data-toggle="modal" data-target="#contact-customer-modal"
                       class="icon-contacts"
                       style="position: absolute;top: 20px;left: 5px;">
                        Показать контакты
                    </a>
                {% endif %}
                <table class="ratings" style="float: right; margin-top: 7px; border-left: 1px solid #dcdcdc">
                    <tr>
                        <td>
                            <div class="icon-rating">Рейтинг:</div>
                        </td>
                        <td>
                            <span> {{ ratings }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="icon-deals">Безопасные сделки:</div>
                        </td>
                        <td>
                            <span> {{ deals }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="icon-reviews">Отзывы:</div>
                        </td>
                        <td style="letter-spacing: 4px">
                            <span class="positive">  {{ reviews_p }}</span>
                            <span class="neutral"> {{ reviews_n }}</span>
                            <span class="negative">  {{ reviews_m }}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="position: absolute;bottom: 0">
            <div class="col-lg-12">
                <div class="tabs">
                    <ul class="nav nav-tabs nav-justified">
                        {% if request.user == customer %}
                            <li class="active">
                                <a data-toggle="tab" href="#objects">
                                    <div class="mod-align-center-inline"> Объекты <span
                                            class="count">{{ objects.count }}</span></div>
                                </a>
                            </li>
                        {% endif %}
                        <li class="{% if request.user != customer %}active{% endif %}">
                            <a data-toggle="tab" href="#open_projects">
                                <div class="mod-align-center-inline"> Открытые заказы <span
                                        class="count">{{ open_projects.count }}</span></div>
                            </a>
                        </li>
                        {% if request.user == customer %}
                            <li>
                                <a data-toggle="tab" href="#in_work_projects">
                                    <div class="mod-align-center-inline"> Заказы в работе <span
                                            class="count">{{ projects_in_work.count }}</span></div>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a data-toggle="tab" href="#rewiews">
                                <div class="mod-align-center-inline"> Отзывы <span
                                        class="count">{{ reviews.count }}</span></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>