<form id="filter-form" action="{% url 'users:contractor-filter' %}" method="POST" novalidate
      xmlns="http://www.w3.org/1999/html">
    <div class="filter form-container">
        <div class="triangle1"></div>
        <div class="row">
            <div class="col-lg-12">
                <div id="select-box-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="vertical-child" id="select-box-2"></div>
            </div>
            <div class="col-lg-3">
                <div class="vertical-child" id="select-box-3"></div>
            </div>
            <div class="col-lg-3">
                <div class="vertical-child" id="select-box-4"></div>
            </div>
            <div class="col-lg-3">
                <div class="vertical-child" id="select-box-5"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="selected-container horizontal" id="selected-spec">
                    <input type="hidden" name="specialization"
                           value="{{ specialization }}">
                </div>
            </div>
        </div>

        <div class="row separator">
            <div class="col-lg-12">
                <div class="border"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                {#                $(this).closest('form').submit(); return false#}
                <a href="" class="findReal"
                   onclick="sendFilterData($('#filter-form'), $('#resultsBlock')); return false">
                    найти исполнителя
                </a>
            </div>
            <div class="col-lg-3">
                <a href="{% url 'users:contractor-filter' %}" class="clearSearch">
                    {#                                TODO: Сделать очистку, без перезагрузки#}
                    Очистить фильтр
                </a>
            </div>
        </div>


        <div class="row separator">
            <div class="col-lg-12">
                <div class="flex">
                    <span class="header">Расширенные поля</span>
                    <button class="resButton">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                    <div class="border"></div>
                </div>
            </div>
        </div>

        <div class="slide {% if has_additional_fields %} active{% endif %}">
            <div class="row mod-row-eq-height">
                <div class="col-lg-6" style="border-left: 1px solid #CFCFCF; border-right: 1px solid #CFCFCF;">
                    <div class="row">
                        <div class="col-lg-12" style="font-size: 10.5pt">
                            Опыт работы исполнителей по классификации зданий и виду строительства
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="vertical-child" id="sb-building-classification"></div>
                            <div class="vertical-child" id="sb-building-sub-classification"></div>
                            <div class="selected-container" id="selected-building-classification">
                                <input type="hidden" name="building_classification"
                                       value="{{ building_classification }}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="vertical-child" id="sb-construction-type"></div>
                            <div class="selected-container" id="selected-construction-type">
                                <input type="hidden" name="construction_type"
                                       value="{{ construction_type }}">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12" style="font-size: 10.5pt">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="select-box-header vertical-child">
                                <span style="width: 210px" class="header">С наличием СРО(Юр.лицо)</span>
                                <i class="fa fa-question-circle-o" aria-hidden="true"
                                   title="bla-bla-bla..."></i>
                            </div>

                            <div class="custom-check">
                                <div class="checked"></div>
                                <div style="display: none" class="not-checked"></div>
                                <input name="cro" type="checkbox" hidden {% if cro %} checked{% endif %}>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="vertical-child" id="sb-location-1"></div>
                            <div class="vertical-child" id="sb-location-2"></div>
                            <div class="vertical-child" id="sb-location-3"></div>
                            <div class="selected-container" id="selected-location">
                                <input type="hidden" name="location"
                                       value="{{ location }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" style="margin-left: 20px; padding-top: 20px">
            <div class="btn-group btn-round toggle" role="group" aria-label="...">
                <a class="btn btn-default active" role="button" data-type="all">Все</a>
                <a class="btn btn-default" role="button" data-type="teams">Группы</a>
                <input type="hidden" name="party_types" value="all">
                <a class="btn btn-default" role="button" data-type="contractors">Исполнители</a>
            </div>
        </div>
    </div>
    <p class="titleScore search-num">
        {{ display_msg }}
    </p>
    <div class="link-sort">
        <p>Сортировать по:</p>
        {% for val, text in choices %}
            <a class="btn btn-default"
               data-type="{{ val }}"
               onclick="">
                {{ text }}
            </a>
        {% endfor %}
        <input type="hidden" name="order_by" value="">
    </div>
</form>
