{% load common_tags %}
{% load specializtions_tags %}
{% load thumbnail %}
{% load i18n %}

<input id="titleScore" type="hidden" value="{{ display_msg }}">

{% for object in objects %}
    {% if object|class_name == 'Team' %}
        {% with team=object %}
            <div class="executorBlock clearfix">
                <div class="col-lg-4">
                    <a href="{% url 'users:team-profile' pk=team.pk %}" class="aLinkExe">
                        <div class="imgExecutor">
                            {% if team.owner.avatar %}
                                {% thumbnail team.owner.avatar "126x125" crop="center" as avatar %}
                                    <img src="{{ avatar.url }}" alt="profile-image">
                                {% endthumbnail %}
                            {% else %}
                                {% if team.owner.gender == "female" %}
                                    <img src="{% static 'img/avatars/avatar-female.jpg' %}" alt="profile-image">
                                {% else %}
                                    <img src="{% static 'img/avatars/avatar-male.jpg' %}" alt="profile-image">
                                {% endif %}
                            {% endif %}
                        </div>
                    </a>
                    <p class="nameExecutor">
                        <a href="{% url 'users:team-profile' pk=team.pk %}">{{ team.name }}</a>
                    </p>
                    <p class="navv2">На сайте c {{ team.created|date:"d M Y" }}</p>
                    <div class="statusUser">Свободен</div>
                </div>


                <div class="col-lg-2">
                    <ul class="listExecutor">
                        <li>
                            <a href="{% url 'users:team-profile' pk=team.pk %}">
                                смотреть профиль
                            </a>
                        </li>
                        <li>
                            {% if request.user.is_customer %}
                                <a
                                        href="#"
                                        onclick="return false"
                                        data-contractor-id="{{ team.owner.pk }}"
                                        data-team-id="{{ team.pk }}"
                                        data-is-team-offer="true"
                                        data-toggle="modal"
                                        data-target="#projectSelectionModal">
                                    предложить проект
                                </a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url 'chat:chat-user' %}?user_id={{ team.owner.pk }}#user{{ team.owner.pk }}">
                                написать сообщение
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="col-lg-3">
                    {% specialization_team_widget team_id=team.pk %}
                </div>


                <div class="col-lg-3 retts">
                    {% ratings_team_widget team.pk 'restList2' %}

                    <!-- TODO -->
                    <div class="sroUser sroExecutor">
                        <div class="iconSRO"></div>
                        <p>Есть допуск СРО</p>
                    </div>
                </div>
                <div class="gallMini disTab">
                    {% for portf in team.portfolios.all|slice:':4' %}
                        <div class="col-lg-3">
                            <a href="#" class="linkInsetCol">
                                <div class="insetCol box-sizing disTab">
                                    <div class="imgGal"
                                         style="background-image: url('{{ portf.photos.first.img.url }}')">
                                        <div class="imgFigure"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endwith %}
    {% elif object|class_name == 'User' %}
        {% with contractor=object %}
            <div class="executorBlock clearfix">
                <div class="col-lg-4">
                    <a href="{% url 'users:contractor-profile' pk=contractor.pk %}" class="aLinkExe">
                        <div class="imgExecutor">
                            {% if contractor.avatar %}
                                {% thumbnail contractor.avatar "126x125" crop="center" as avatar %}
                                    <img src="{{ avatar.url }}" alt="profile-image">
                                {% endthumbnail %}
                            {% else %}
                                {% if contractor.gender == "female" %}
                                    <img src="{% static 'img/avatars/avatar-female.jpg' %}" alt="profile-image">
                                {% else %}
                                    <img src="{% static 'img/avatars/avatar-male.jpg' %}" alt="profile-image">
                                {% endif %}
                            {% endif %}
                        </div>
                    </a>
                    <p class="nameExecutor">
                        <a href="{% url 'users:contractor-profile' pk=contractor.pk %}">{{ contractor.get_full_name }}
                            [{{ contractor.username }}]</a>
                    </p>
                    <p class="navv2">На сайте c {{ contractor.created|date:"d M Y" }}</p>

                    {% if contractor.contractor_status == 'free' %}
                        <div class="statusUser">Свободен</div>
                    {% else %}
                        <div class="statusUser busy">Занят</div>
                    {% endif %}
                </div>


                <div class="col-lg-2">
                    <ul class="listExecutor">
                        <li>
                            <a href="{% url 'users:contractor-profile' pk=contractor.pk %}">
                                смотреть профиль
                            </a>
                        </li>

                        {% if request.user.is_customer %}
                            <li>
                                <a
                                        href="#"
                                        onclick="return false"
                                        data-contractor-id="{{ contractor.pk }}"
                                        data-toggle="modal"
                                        data-target="#projectSelectionModal">
                                    предложить проект
                                </a>
                            </li>
                        {% endif %}

                        <li>
                            <a href="{% url 'chat:chat-user' %}?user_id={{ contractor.pk }}#user{{ contractor.pk }}">
                                написать сообщение
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="col-lg-3">
                    {% specialization_widget user_id=contractor.pk %}
                </div>


                <div class="col-lg-3 retts">
                    {% ratings_widget contractor.pk 'restList2' %}

                    {% if contractor.cro %}
                        <div class="sroUser sroExecutor">
                            <div class="iconSRO"></div>
                            <p>Есть допуск СРО</p>
                        </div>
                    {% endif %}
                </div>
                <div class="gallMini disTab">
                    {% for portf in contractor.portfolios.all|slice:':4' %}
                        <div class="col-lg-3">
                            <a href="#" class="linkInsetCol">
                                <div class="insetCol box-sizing disTab">
                                    <div class="imgGal"
                                         style="background-image: url('{{ portf.photos.first.img.url }}')">
                                        <div class="imgFigure"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endwith %}
    {% endif %}
{% endfor %}
<div class="row">
    <div class="col-lg-12 pagin">
        {% include 'partials/ajax_pagination.html' %}
    </div>
</div>