{% for object in objects %}
    <div class="row object">
        <div class="separator">
            <div class="border add_line"></div>
        </div>
        <div style="margin-bottom: 15px" class="row">
            <div class="col-lg-9">
                <div class="object-header">{{ object.name }}</div>
            </div>
            {% if request.user == customer %}
                <div class="col-lg-3">
                    {% if trash %}
                        <form action="{% url 'customer-object-restore' pk=object.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">

                            <a href='#' onclick="$(this).closest('form').submit(); return false">
                                <span  class="icon-restore">Восстановить</span>
                            </a>
                        </form>
                    {% else %}
                        <a
                                href="#"
                                onclick="setRealty({{ object.id }});return false"
{#                                data-contractor-id="{{ team.owner.pk }}"#}
                                data-object-id="{{ object.id }}"
                                data-is-team-offer="true"
                                data-toggle="modal"
                                data-target="#realtyEditModal">
                            <span class="icon-edit_list">Редактировать</span>
                        </a>

                    {% endif %}

                </div>
            {% endif %}
        </div>
        <div class="row mod-align-center">
            <div class="col-lg-9">
                Заказы: <span class="projects_count"> {{ object.projects.count }}</span>
                <button class="bnt btn-default btn-up_down -small" type="submit"
                        value="num_orders"
                        onclick="toggler(this, 'obj-{{ object.id }}')">
                    <span class="text">Посмотреть</span>
                </button>
                {% if request.user == customer %}
                    <a href="{% url 'projects:customer-project-create' %}#{{ object.id }}"
                       class="btn btn-simple -small">
                        Добавить заказ
                    </a>
                {% endif %}
            </div>
            <div class="col-lg-3">
                {% if request.user == customer %}
                    {% if trash %}
                        <form action="{% url 'customer-object-delete' pk=object.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">

                            <a href='#' onclick="$(this).closest('form').submit(); return false">
                                <span class="icon-trash-red">Удалить навсегда</span>
                            </a>
                        </form>
                    {% else %}
                        <form action="{% url 'customer-object-trash' pk=object.pk %}"
                              method="POST" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="next"
                                   value="{{ request.path }}">
                            <a href="#"
                               onclick="$(this).closest('form').submit(); return false">
                                <span class="icon-trash-red">Переместить в корзину</span>
                            </a>
                        </form>
                    {% endif %}
                {% endif %}

            </div>
        </div>

        <div class="row" id="obj-{{ object.id }}" style="display: none">
            <div class="col-lg-12">
                <div class="separator" style="margin-bottom: 5px">
                    <div class="border"></div>
                </div>
                <table class="projects">
                    {% for project in object.projects.all %}
                        <tr>
                            <td><strong>{{ forloop.counter }}</strong></td>
                            <td>
                                <a class="cut-name"
                                   href="{% url 'projects:detail' project.pk %}">{{ project.name|truncatechars:25 }}</a>
                            </td>
                            <td>
                                <span class="icon-calendar" style="white-space: nowrap">{{ project.created }}</span>
                            </td>
                            <td>
                                <span class="icon-eye">{{ project.hit_count.hits }}</span>
                            </td>
                            <td>
                                <span class="icon-speach-ball_gray">{{ project.message_count }}</span>
                            </td>
                            {#                                                            <td>{{ project.answers.count }}</td>#}
                            <td>
                                <span class="icon-certificate">
                                    <span class="cut">{{ project.specialization.full_path }}</span>
                                </span>
                            </td>
                        </tr>

                    {% endfor %}
                </table>

            </div>
        </div>
    </div>

    <span style="margin: 10px 0" class="icon-calendar">
        {{ object.created }}
    </span>
{% endfor %}

<div class="row">
    <div class="separator">
        <div class="border"></div>
    </div>
</div>